
{{resData[0] | json}}
<div
    class="bg-white shadow-md {{resData[0].children[0].isBordered ? 'border' : ''}} {{resData[0].highLight ? 'highLight' : ''}}"
    *ngIf="resData.length">
    <!-- PAGE HEADER -->
    <div class="site-page-header-ghost-wrapper " *ngIf="resData[0].children[0].header">
        <div *ngFor="let item of resData[0]?.children[0].children">
            <ng-container *ngIf="item.type == 'alert' && resData[0]?.children[0].alertPosition == 'topHeader'">
                <app-new-alerts [alertData]="item"></app-new-alerts>
            </ng-container>
        </div>
        <nz-page-header
            class="site-page-header font-semibold pl-6 pt-1 pb-1 {{resData[0].children[0].isBordered?'border-b': ''}} {{resData[0].children[0].highLight ? 'highLight' : ''}}"
            [nzGhost]="false">
            <nz-page-header-title [class]="resData[0].children[0].headingSize">
                {{resData[0].children[0].title}}
            </nz-page-header-title>
            <nz-page-header-extra>
                <div *ngFor="let item of resData[0]?.children[0].children">
                    <ng-container *ngIf="item.type != 'alert'">
                        <app-block-buttons-card [softIconList]=" item"></app-block-buttons-card>
                    </ng-container>
                    <ng-container *ngIf="item.type == 'alert' &&  resData[0]?.children[0].alertPosition == 'inside'">
                        <app-new-alerts [alertData]="item"></app-new-alerts>
                    </ng-container>
                </div>
            </nz-page-header-extra>
        </nz-page-header>
        <div *ngFor="let item of resData[0]?.children[0].children">
            <ng-container *ngIf="item.type == 'alert' && resData[0]?.children[0].alertPosition == 'bottomHeader'">
                <app-new-alerts [alertData]="item"></app-new-alerts>
            </ng-container>
        </div>
    </div>
    <!-- SECTION -->
    <div class="flex flex-wrap">
        <div *ngFor="let j of resData[0].children[1].children ; index as i" [class]="j.className">
            <!-- INCOLAPSSABLE CASE -->
            <div class="{{resData[0].children[0].isBordered?'border': ''}}" *ngIf="!j.children[0].expanded">
                <div class="site-page-header-ghost-wrapper {{j.isBordered?'border-b': ''}}"
                    *ngIf="j.children[0].header">
                    <nz-page-header class="pl-6 pt-1 pb-1 font-semibold text-lg" [nzGhost]="false">
                        <nz-page-header-title>{{j.children[0].title}}
                        </nz-page-header-title>
                        <nz-page-header-extra>
                            <nz-space>
                                <div *ngFor="let item of j.children[0].children">
                                    <app-block-buttons-card [softIconList]="item">
                                    </app-block-buttons-card>
                                </div>
                                <div *ngIf="j.sectionDisabled == 'disabled-But-ditable'">
                                    <a nz-button nzType="link"
                                        (click)="disabledAndEditableSection(j.children[1].children)">Disabled</a>
                                </div>
                                <!-- <div *ngIf="j?.children[1].children[i].repeatable">
                                    <a nz-button nzType="link"
                                    (click)="sectionRepeat(j?.children[1].children)">Repeat Section</a>
                                </div> -->
                            </nz-space>
                        </nz-page-header-extra>
                    </nz-page-header>
                </div>
                <div class="p-6">
                    <app-main [mainData]="j.children[1].children" [dataModel]="formlyModel"></app-main>
                </div>
                <div class="py-3 px-10 {{j.isBordered?'border-t': ''}}  text-black font-semibold text-lg"
                    *ngIf="j.children[2].footer">
                    {{j.children[2].title}}
                    <div *ngFor="let item of resData[0]?.children[1].children[i]">
                        <app-block-buttons-card [softIconList]="item"></app-block-buttons-card>
                    </div>
                </div>
            </div>
            <!-- COLLAPSABLE CASE -->
            <div *ngIf="j.children[0].expanded">
                <nz-collapse *ngIf="j.children[0].header" [nzBordered]="j.isBordered">
                    <nz-collapse-panel class="text-black font-semibold text-lg" [nzHeader]="j.children[0].title"
                        [nzExtra]="extraTpl" [ngStyle]="j.isBordered?{}:{'border-radius': '4px','border': '0px'}">
                        <div class="px-3 font-normal text-base" *ngIf="resData.length > 0">

                            <app-main [mainData]="j.children[1].children" [dataModel]="formlyModel"></app-main>
                        </div>

                        <br />
                    </nz-collapse-panel>
                    <div class="py-3 px-10 {{j.isBordered?'border-t':''}}  text-black font-semibold text-lg"
                        *ngIf="j.children[2].footer">
                        {{j.children[2].title}}
                        <div *ngFor="let item of j.children[0].children">
                            <app-block-buttons-card [softIconList]="item"></app-block-buttons-card>
                        </div>
                    </div>
                    <ng-template #extraTpl>
                        <div *ngFor="let item of j.children[0].children">
                            <app-block-buttons-card [softIconList]="item">
                            </app-block-buttons-card>
                        </div>
                        <div *ngIf="j?.sectionDisabled == 'disabled-But-ditable'">
                            <a nz-button nzType="link" (click)="disabledAndEditableSection(resData)">Disabled</a>
                        </div>
                        <!-- <div *ngIf="j?.children[1].children[i].repeatable">
                            <a nz-button nzType="link"
                            (click)="sectionRepeat(j?.children[1].children)">Repeat Section</a>
                        </div> -->
                    </ng-template>
                </nz-collapse>
                <div *ngIf="!j.children[0].header">
                    <div class="px-3" *ngIf="resData.length > 0">
                        <app-main [mainData]="j.children[1].children"></app-main>
                    </div>
                    <br />
                    <div class="py-3 px-6 {{j.isBordered?'border-t':''}} text-black font-semibold text-lg"
                        *ngIf="j.children[2].footer">
                        {{j.children[2].title}}
                        <div *ngFor="let item of resData[0]?.children[1].children[i]">
                            <app-block-buttons-card [softIconList]="item"></app-block-buttons-card>
                        </div>
                    </div>
                </div>
                <ng-template #extraTpl>
                    <span nz-icon nzType="setting" (click)="$event.stopPropagation()"></span>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- PAGE FOOTER -->
    <div class="py-3 px-6 text-black font-semibold text-lg" *ngIf="resData[0].children[2].footer">
        {{resData[0].children[2].title}}
        <div *ngFor="let item of resData[0]?.children[2]?.children">
            <app-block-buttons-card [softIconList]="item[0]"></app-block-buttons-card>
        </div>
    </div>
</div>