<div *ngFor="let item of dataSharedService.screenCommentList; let last = last">
    <div class="flex space-x-4 items-center">
        <nz-avatar nzSrc="assets/images/user.png"></nz-avatar>
        <div>
            <span>
                <p class="font-semibold">{{item['whoCreated']}}</p>
                <nz-tag *ngIf="item['status']"
                    [nzColor]="item['status'] == 'resolved' ? 'blue' : (item['status'] == 'inProgress' ? 'green' : 'red')">{{item['status']}}</nz-tag>
            </span>
            <span nz-icon nzType="edit" nzTheme="outline" (click)="edit(item)"></span>
            <p class="text-gray-500">{{item['dateTime'] | date : "dd/MMM/yyyy hh:mm"}} </p>
        </div>
    </div>
    <p>{{ item.comment }}</p>
    <nz-divider *ngIf="!last"></nz-divider>
</div>