<nz-spin [nzSpinning]="loader" [nzSize]="'large'">

  {{kanbanData | json}}
  <!-- <button [processData]="processData"
  [appConfigurableSelect]="kanbanData?.appConfigurableEvent ? kanbanData?.appConfigurableEvent : []"
  [loadAction]="kanbanData?.eventActionconfig ? kanbanData?.eventActionconfig : {}" *ngIf="this.kanbanData.showAddbtn"
  nz-button nzType="primary" (click)="addList()">
  <i class="fa-regular fa-plus"></i>
  Add
  new</button>
<button class="ml-2" nz-button nzType="primary" (click)="saveBoard()">
  <i class="fa-regular fa-plus"></i>
  Save</button> -->
  <div class="w-full flex justify-between items-center">
    <h1 class="text-xl font-semibold">{{kanbanData?.title}}</h1>
    <button *ngIf="this.kanbanData?.kanlistArray" nz-button nzType="primary"
      [class]="kanbanData?.actionButtonClass ? kanbanData?.actionButtonClass :  'actions-btn btn-no !border-none !bg-blue-600 hover:!bg-blue-500 my-2 !h-[35px]'"
      nz-dropdown [nzDropdownMenu]="menu4">
      Actions
      <span nz-icon nzType="down"></span>
    </button>
  </div>
  <!-- liist -->
  <nz-dropdown-menu #menu4="nzDropdownMenu" class="action-drop-down-list">
    <ul *ngIf="this.kanbanData?.kanlistArray" nz-menu class="!p-2">
      <ng-container *ngFor="let item of this.kanbanData['kanlistArray']">
        <li nz-menu-item *ngIf="item?.isShow">
          <a (click)="dataDisplay(item.key)" class="!text-black">{{item.key}}</a>
        </li>
      </ng-container>
    </ul>
  </nz-dropdown-menu>
  <div [processData]="processData" [appConfigurableSelect]="kanbanData?.appConfigurableEvent "
    [loadAction]="kanbanData?.eventActionconfig " class="overflow-x-auto mt-2 card">
    <!-- <div class="row">
      <div class="col-11"></div>
      <div class="col"><button (click)="saveBoard()">Save</button></div>
    </div> -->
    <div class="flex flex-nowrap flex-row overflow-y-hidden overflow-x-auto h-[calc(100vh-235px)]">
      <st-lists *ngFor="let list of kanbanData.children;let i = index" (removeDropIndex)="removeDropIndex($event)" [dropListIndex]="''" [list]="list"
      [kanbanData]="kanbanData" [screenLink]="kanbanData.screenLink" [editScreenLink]="kanbanData.editScreenLink"
      [mappingId]="mappingId" [listIndex]="i" (moveCardAcrossList)="moveCardAcrossList($event)" [form]="form"
      [formlyModel]="formlyModel" [screenId]="screenId" [screenName]="screenName" (deleteList)="deleteList($event)"
      attr.listIndex="{{i}}" (taskSubmitEmit)="recallApi($event)"></st-lists>
    </div>
    <!-- <div class="" style="margin:10px;padding:15px;padding-top:15px;padding-bottom:15px;">
      <h6 class="text-center add-new-list" *ngIf="kanbanData.showAddbtn && lists.length < kanbanData.maxLength"
        (click)="addList()">Add new item...</h6>
    </div> -->
  </div>
</nz-spin>