<ng-container *ngIf="to.config?.wrapper != 'floating_standard'">
    <nz-input-group *ngIf="!to.config?.suffixicon && !to.config?.prefixicon" [nzSuffix]="to.config?.addonLeft"
        [nzPrefix]="to.config?.addonRight" [nzSize]="to.config?.size" [nzStatus]="to.config?.status">
        <nz-select [nzStatus]="to.config?.status"
        [(ngModel)]="selectedValue" (ngModelChange)="log($event)"
            [ngClass]="to.config?.wrapper && to.config?.wrapper == 'floating_filled' || to.config?.wrapper == 'floating_outlined' ? to.config?.floatFieldClass : ''"
            [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
            [nzPlaceHolder]="to.placeholder || ''" [nzSize]="to.config?.size" [formlyAttributes]="field"
            [nzAllowClear]="to.config?.allowClear || false" [nzBorderless]="to.config?.border"
            [nzDropdownMatchSelectWidth]="true" [nzServerSearch]="to.config?.serveSearch || false"
            [nzShowArrow]="to.config?.showArrow || false" [nzShowSearch]="to.config?.showSearch || false"
            [nzRemoveIcon]="characterIcon" [nzClearIcon]="characterIcon" [nzLoading]="to.config?.loading"
            [nzOptionHeightPx]="to.config?.optionHieght || 30" [nzOptionOverflowSize]="to.config?.optionHieght || 10"
            [nzSize]="to.config?.size" [nzStatus]="to.config?.status" >
            <nz-option *ngFor="let item of list" [nzLabel]="item.label"
                [nzDisabled]="to.config?.optionDisabled || false" [nzValue]="item.value"
                [nzHide]="to.config?.optionHide || false"></nz-option>
              </nz-select>
              <label *ngIf="to.config?.wrapper == 'floating_filled' || to.config?.wrapper == 'floating_outlined'"
              [ngClass]="to.config?.floatLabelClass">{{to.label}}</label>
    </nz-input-group>
    <nz-input-group *ngIf="to.config?.suffixicon || to.config?.prefixicon" [nzSuffix]="suffixTemplateInfo"
        [nzPrefix]="prefixTemplateUser" [nzSize]="to.config?.size" [nzStatus]="to.config?.status">
        <nz-select [(ngModel)]="selectedValue" (ngModelChange)="log($event)" [nzStatus]="to.config?.status"
            [ngClass]="to.config?.wrapper && to.config?.wrapper == 'floating_filled' || to.config?.wrapper == 'floating_outlined' ? to.config?.floatFieldClass : ''"
            [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
            [nzPlaceHolder]="to.placeholder || ''" [nzSize]="to.config?.size" [formlyAttributes]="field"
            [nzAllowClear]="to.config?.allowClear || false" [nzBorderless]="to.config?.border"
            [nzDropdownMatchSelectWidth]="true" [nzServerSearch]="to.config?.serveSearch || false"
            [nzShowArrow]="to.config?.showArrow || false" [nzShowSearch]="to.config?.showSearch || false"
            [nzRemoveIcon]="characterIcon" [nzClearIcon]="characterIcon" [nzLoading]="to.config?.loading"
            [nzOptionHeightPx]="to.config?.optionHieght || 30" [nzOptionOverflowSize]="to.config?.optionHieght || 10"
            [nzSize]="to.config?.size" [nzStatus]="to.config?.status" >
            <nz-option *ngFor="let item of list" [nzLabel]="item.label"
                [nzDisabled]="to.config?.optionDisabled || false" [nzValue]="item.value"
                [nzHide]="to.config?.optionHide || false"></nz-option>
        </nz-select>
    </nz-input-group>

</ng-container>

<div class="relative z-0" *ngIf="to.config?.wrapper == 'floating_standard'">
    <nz-select [nzStatus]="to.config?.status"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        [(ngModel)]="selectedValue" (ngModelChange)="log($event)"
        [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
        [nzPlaceHolder]="to.placeholder || ''" [nzSize]="to.config?.size" [formlyAttributes]="field"
        [nzAllowClear]="to.config?.allowClear || false" [nzBorderless]="to.config?.border"
        [nzDropdownMatchSelectWidth]="true" [nzServerSearch]="to.config?.serveSearch || false"
        [nzShowArrow]="to.config?.showArrow || false" [nzShowSearch]="to.config?.showSearch || false"
        [nzRemoveIcon]="characterIcon" [nzClearIcon]="characterIcon" [nzLoading]="to.config?.loading"
        [nzOptionHeightPx]="to.config?.optionHieght || 30" [nzOptionOverflowSize]="to.config?.optionHieght || 10"
        [nzSize]="to.config?.size" [nzStatus]="to.config?.status">
        <nz-option *ngFor="let item of list" [nzLabel]="item.label" [nzDisabled]="to.config?.optionDisabled || false"
            [nzValue]="item.value" [nzHide]="to.config?.optionHide || false"></nz-option>
    </nz-select>
    <label
    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{to.label}}</label>
</div>
<ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
<ng-template #characterIcon>
    <span nz-icon [nzType]="to.config?.icon || 'close'" nzTheme="outline"></span>
</ng-template>
<ng-template #prefixTemplateUser><span nz-icon [nzType]="to.config?.suffixicon"></span></ng-template>
<ng-template #suffixTemplateInfo>
    <span nz-icon nz-tooltip nzTooltipTitle="Extra information" [nzType]="to.config?.prefixicon"></span>
</ng-template>
