<!-- <pre>{{listOfDisplayData | json}}</pre> -->
<!-- <st-pagetitle title="Pages" [breadcrumbItems]="breadCrumbItems"></st-pagetitle> -->
<nz-card nzTitle="Screen List" [nzExtra]="extraTemplate">
    <!-- <div class="flex flex-wrap justify-between">
        <div class="pagination pb-2">
            <nz-select [(ngModel)]="pageSize">
                <nz-option [nzValue]='10' nzLabel="10"></nz-option>
                <nz-option [nzValue]='25' nzLabel="25"></nz-option>
                <nz-option [nzValue]='50' nzLabel="50"></nz-option>
                <nz-option [nzValue]='100' nzLabel="100"></nz-option>
            </nz-select>
        </div>
        <div class="search-box pb-2">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input nzClear (keyup)="search($event)" placeholder="Search here..."
                    [(ngModel)]="searchValue" />
            </nz-input-group>
        </div>
    </div> -->
    <!-- <ng-template #suffixIconSearch>
        <span nz-icon (click)="clearModel()" [nzType]="searchIcon"></span>
    </ng-template> -->
    <nz-table #filterTable [nzLoading]="loading" [nzData]="listOfDisplayData" [nzPageSize]="pageSize" nzBordered>
        <thead>
            <tr>
                <ng-container *ngFor="let column of listOfColumns">
                    <th nzCustomFilter *ngIf="column.name != 'Action'" [nzSortFn]="column.sortFn">{{column.name}}
                        <nz-filter-trigger [nzVisible]="column.visible || false" [nzDropdownMenu]="menu">
                            <span nz-icon nzType="search"></span>
                        </nz-filter-trigger>
                    </th>
                    <th nzWidth="120px" *ngIf="column.name == 'Action'" class="w-1/12">
                        {{column.name}}
                    </th>

                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <div class="ant-table-filter-dropdown">
                            <div class="search-box">
                                <input type="text" nz-input nzClear (keyup)="search($event , column)"
                                    placeholder="Search here..." [(ngModel)]="column.searchValue" />
                            </div>
                        </div>
                    </nz-dropdown-menu>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of filterTable.data">
                <td>{{ data.screenId }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.orgnaizationName ? data.orgnaizationName : 'no data'}}</td>
                <td>{{ data.departmentName ? data.departmentName : data.applicationName}}</td>
                <td>{{ data.moduleName ? data.moduleName : data.applicationName}}</td>
                <td>
                    <span class="text-blue-500 hover:cursor-pointer" nz-icon nzType="edit" nzTheme="outline"
                        nzTooltipTitle="Edit" nz-tooltip (click)="[openModal(),editItem(data)]"></span>
                    <span class="text-red-500 pl-2 hover:cursor-pointer" nz-icon nzType="delete" nzTheme="outline"
                        nzTooltipTitle="Delete" nz-tooltip nz-popconfirm nzPopconfirmTitle="Sure to delete?"
                        (nzOnConfirm)="deleteRow(data._id)"></span>
                    <span class="text-blue-500 hover:cursor-pointer pl-2" nz-icon nzType="file-done" nzTheme="outline"
                        nzTooltipTitle="Go To Page" nz-tooltip routerLink="/pages/{{data.screenId}}"></span>
                    <span class="text-blue-500 hover:cursor-pointer pl-2" nz-icon nzType="form" nzTheme="outline"
                        nzTooltipTitle="Go To Build Page" nz-tooltip (click)="goToBuildPage(data.name)"></span>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <!-- <div class="pagination-container flex flex-wrap">
        <nz-pagination
          [nzPageIndex]="pageIndex"
          [nzTotal]="listOfDisplayData.length"
          [nzPageSize]="pageSize"
          (nzPageIndexChange)="handlePageChange($event)"
        ></nz-pagination>
        <div >
            <label class="label">Pagination</label>
            <div class="input-container">
                <nz-input-number [(ngModel)]="pageSize" [nzStep]="1"></nz-input-number>
            </div>
        </div>
    </div> -->
    <div class="table-controls">
        <div class="pagination">
            <label class="label">Pagination</label>
            <div class="input-container">
                <nz-input-number [(ngModel)]="pageSize" [nzStep]="1"></nz-input-number>
            </div>
        </div>
        <div>
            <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
        </div>
    </div>
</nz-card>
<ng-template #extraTemplate>
    <button nz-button nzType="primary" (click)="openModal()"><span nz-icon nzType="plus" nzTheme="outline"></span>Add
        New</button>
    <button nz-button nzType="primary" class="ml-2" (click)="downloadJson()"><span nz-icon nzType="download"
            nzTheme="outline"></span>Download Json</button>
</ng-template>
<!-- Modal -->
<nz-drawer nzWidth="1200px" [nzClosable]="true" [nzVisible]="isVisible" [nzFooter]="footerTpl" nzPlacement="right"
    nzTitle="Add Screen" (nzOnClose)="handleCancel()">
    <ng-container *nzDrawerContent>
        <form [formGroup]="form">
            <div class="flex flex-wrap">
                <div class="w-1/2 theme-body" *ngFor="let item of fields">
                    <formly-form [model]="model" [fields]="item.fieldGroup" [options]="options"
                        [form]="form"></formly-form>
                </div>
            </div>
        </form>
    </ng-container>
</nz-drawer>
<ng-template #footerTpl>
    <button class="mr-2" nz-button nzType="primary" nzDanger (click)="handleCancel()"><span nz-icon nzType="close"
            nzTheme="outline"></span>Close</button>
    <button nz-button *ngIf="isSubmit" nzType="primary" (click)="onSubmit()" [disabled]="!form.valid"><span nz-icon
            nzType="database" nzTheme="outline"></span>Submit</button>
    <button nz-button *ngIf="!isSubmit" nzType="primary" [disabled]="!form.valid" (click)="onSubmit()"><span nz-icon
            nzType="redo" nzTheme="outline"></span>Update</button>
</ng-template>