<!-- <h1>Knights of the Round Table</h1>
<table>
	<thead>
		<tr>
			<th resizable>Member</th>
			<th resizable>Nickname</th>
			<th>Fate</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of rows">
			<td *ngFor="let cell of row">{{cell}}</td>
		</tr>
	</tbody>
</table> -->

<nz-table #basicTable [nzData]="dataSet">
    <thead>
      <tr>
        <th resizable>Name</th>
        <th resizable>Age</th>
        <th resizable>Address</th>
        <th resizable>Address</th>
        <th resizable>Address</th>
        <th resizable>Address</th>
        <th resizable>Address</th>
        <th resizable>Address</th>
        <th resizable>Address</th>
        <th resizable>Address</th>
        <th resizable>Address</th>
        <th resizable>Address</th>
        <th resizable>Address</th>
        <th resizable>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.name}}</td>
        <td>{{data.name1}}</td>
        <td>{{data.name2}}</td>
        <td>{{data.name3}}</td>
        <td>{{data.name4}}</td>
        <td>{{data.name5}}</td>
        <td>{{data.name6}}</td>
        <td>{{data.name7}}</td>
        <td>{{data.name8}}</td>
        <td>{{data.name9}}</td>
        <td>{{data.name10}}</td>
        <td>{{data.name11}}</td>
        <td>{{data.age}}</td>
        <td>{{data.address}}</td>
      </tr>
    </tbody>
  </nz-table>