<!-- <div *ngIf="isLoggedIn()">
    <div class="container">Hi and welcome!</div>
    <div class="container">Name: {{ userInfo?.info?.name }}</div>
    <div class="container"><img src="{{ userInfo?.info?.picture }}"></div>
    <div class="container">
      <button (click)="getEmails()">List Emails</button>
    </div>
    <div class="container" *ngFor="let snippet of mailSnippets">
      {{ snippet }}
    </div>
    <div class="container">
      <button (click)="logout()">Logout from Google</button>
    </div>
  </div>
   -->

   <nz-header nz-theme="light" class="bg-primary">
    <a class="title text-white" routerLink="/demo"> {{ title }} </a>
    <div class="flex-grow"></div>
  
    <ng-container *ngIf="!loginDisplay; else loggedIn">
      <a nz-button nzType="default" nz-dropdown [nzDropdownMenu]="loginMenu">Login</a>
    </ng-container>
  
    <ng-template #loggedIn>
      <a nz-button nzType="default" nz-dropdown [nzDropdownMenu]="logoutMenu">Logout</a>
    </ng-template>
  </nz-header>
  
  <nz-dropdown-menu #loginMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="loginRedirect()">Login using Redirect</li>
      <li nz-menu-item (click)="loginPopup()">Login using Popup</li>
    </ul>
  </nz-dropdown-menu>
  
  <nz-dropdown-menu #logoutMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="logout()">Logout using Redirect</li>
      <li nz-menu-item (click)="logout(true)">Logout using Popup</li>
    </ul>
  </nz-dropdown-menu>
  
  <div class="container">
    <!-- This is to avoid reload during acquireTokenSilent() because of a hidden iframe -->
    <!-- <router-outlet *ngIf="!isIframe"></router-outlet> -->
  </div>