
<div class="comments-chat">
  <div class="c-header">
      <div class="arrows">
          <a href="">
              <i class="fa-regular fa-angle-left"></i>
          </a>
          <a href="">
              <i class="fa-regular fa-angle-right"></i>
          </a>
      </div>
      <div class="actions">
          <a href="">
              <i class="fa-solid fa-ellipsis"></i>
          </a>
          <a href="">
              <i class="fa-regular fa-circle-check"></i>
          </a>
          <a href="">
              <i class="fa-regular fa-arrow-up-right-from-square"></i>
          </a>
          <a href="">
              <i class="fa-regular fa-xmark"></i>
          </a>
      </div>
  </div>
  <div class="c-body">
      <div class="comment-box">
          <div class="profile">
              <img src="assets/images/user.jfif" alt="">
          </div>
          <div class="comment">
              <h6>
                  Haider Adrees <span>2 mo.ago</span>
              </h6>
              <p>Lorem ipsum dolor, sit amet cons ecte tur adipisi cing elit.</p>
          </div>
      </div>
      <div class="comment-box">
          <div class="profile">
              <img src="assets/images/user.jfif" alt="">
          </div>
          <div class="comment">
              <h6>
                  Haider Adrees <span>2 mo.ago</span>
              </h6>
              <p>Lorem ipsum dolor, sit amet cons ecte tur adipisi cing elit.</p>
          </div>
      </div>

      <div class="comment-box">
          <div class="profile">
              <img src="assets/images/user.jfif" alt="">
          </div>
          <div class="comment">
              <h6>
                  Haider Adrees <span>2 mo.ago</span>
              </h6>
              <p>Lorem ipsum dolor, sit amet cons ecte tur adipisi cing elit.</p>
          </div>
      </div>

  </div>
  <div class="c-footer">
      <div class="profile">
          <img src="assets/images/user.jfif" alt="">
      </div>
      <div class="comment">
          <input type="text" class="form-control" placeholder="Reply">
          <div class="send">
              <i class="fa-regular fa-arrow-up"></i>
          </div>
      </div>
  </div>
</div>