<div>
    <!-- <span
        *ngIf="!headingData?.tooltipWithoutIcon && headingData?.tooltipPosition == 'left'"
        nz-tooltip
        [nzTooltipTitle]="headingData.tooltip | translate">
        <span nz-icon nzType="question-circle"
            [class]="headingData['toolTipClass']"
            nzTheme="outline"></span>
    </span> -->
    <span>
        <div [class]="headingData.link ? 'cursor-pointer' : ''">
            <div [class]="headingData.textAlign"
                (click)="pageRoute(headingData.link)">
                <div
                    *ngIf="headingData.heading >= 1 && headingData.heading <= 5; else paragraph">
                    <h1 nz-typography *ngIf="headingData.heading === 1"
                        [ngStyle]="{'color': headingData.color}"
                        [class]="headingData.fontstyle + ' ' + headingData.fontweight">
                        {{ headingData.text | translate }}
                    </h1>
                    <h2 nz-typography *ngIf="headingData.heading === 2"
                        [ngStyle]="{'color': headingData.color}"
                        [class]="headingData.fontstyle + ' ' + headingData.fontweight">
                        {{ headingData.text | translate }}
                    </h2>
                    <h3 nz-typography *ngIf="headingData.heading === 3"
                        [ngStyle]="{'color': headingData.color}"
                        [class]="headingData.fontstyle + ' ' + headingData.fontweight">
                        {{ headingData.text | translate }}
                    </h3>
                    <h4 nz-typography *ngIf="headingData.heading === 4"
                        [ngStyle]="{'color': headingData.color}"
                        [class]="headingData.fontstyle + ' ' + headingData.fontweight">
                        {{ headingData.text | translate }}
                    </h4>
                    <h5 nz-typography *ngIf="headingData.heading === 5"
                        [ngStyle]="{'color': headingData.color}"
                        [class]="headingData.fontstyle + ' ' + headingData.fontweight">
                        {{ headingData.text | translate }}
                    </h5>
                </div>
                <ng-template #paragraph>
                    <p nz-typography (click)="pageRoute(headingData.link)"
                        [ngClass]="[headingData.heading, headingData.fontweight, headingData.fontstyle]"
                        [style.color]="headingData.color || ''">
                        {{ headingData.text | translate }}
                    </p>
                </ng-template>
            </div>
        </div>
    </span>
    <!-- <span
        *ngIf="!headingData?.tooltipWithoutIcon && headingData?.tooltipPosition == 'right'"
        nz-tooltip
        [nzTooltipTitle]="headingData.tooltip | translate">
        <span nz-icon nzType="question-circle"
            [class]="headingData['toolTipClass']"
            nzTheme="outline"></span>
    </span> -->
</div>
