<div id="my-app">
    <div>
        <!-- <div>Audio</div> -->
        <div>
            <button class="start-button audio-btn" *ngIf="!isAudioRecording && !audioBlobUrl"
                (click)="startAudioRecording()"> <i class="fa-solid fa-play mr-1.5"></i>Start Recording</button>
            <button class="stop-button audio-btn" *ngIf="isAudioRecording && !audioBlobUrl" (click)="stopAudioRecording()"> <i class=" fa-solid fa-stop mr-1.5"></i>Stop Recording</button>
            <button class="cancel-button audio-btn" *ngIf="!isAudioRecording && audioBlobUrl"
                (click)="clearAudioRecordedData()"> <i class="fa-regular fa-trash mr-1.5"></i> Clear Recording</button>
            <button class="download-button audio-btn" *ngIf="!isAudioRecording && audioBlobUrl"
                (click)="downloadAudioRecordedData()"> <i class="fa-regular fa-down-to-line mr-1.5"></i> Download Recording</button>
            <div id="audioTimer" *ngIf="isAudioRecording && !audioBlobUrl"> {{ audioRecordedTime }} </div>
            <audio *ngIf="!isAudioRecording && audioBlobUrl" controls>
                <source [src]="audioBlobUrl" type="audio/mp3">
            </audio>
        </div>
    </div>
    <!-- <div>
        <div>Video</div>
        <div>
            <button class="start-button" *ngIf="!isVideoRecording && !videoBlobUrl"
                (click)="startVideoRecording()">Start Video Recording</button>
            <button class="stop-button" *ngIf="isVideoRecording && !videoBlobUrl" (click)="stopVideoRecording()">Stop
                Video Recording</button>
            <button class="cancel-button" *ngIf="!isVideoRecording && videoBlobUrl"
                (click)="clearVideoRecordedData()">Clear Video Recording</button>
            <button class="download-button" *ngIf="!isVideoRecording && videoBlobUrl"
                (click)="downloadVideoRecordedData()">Download Video Recording</button>
            <div id="videoTimer" *ngIf="isVideoRecording && !videoBlobUrl"> {{ videoRecordedTime }} </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h3>
                    <video #videoElement>
                        <source *ngIf="!isVideoRecording && videoBlobUrl" [src]="videoBlobUrl">
                    </video>
                </h3>
            </div>
        </div>
    </div> -->
</div>