<form [formGroup]="actionform">
  <nz-collapse *ngIf="itemData.commonData">
    <nz-collapse-panel [nzHeader]="'Common  Attribute value'" [nzActive]="true">
      <div class="theme-body">
        <formly-form [form]="actionform" [model]="modal" [fields]="itemData.commonData"></formly-form>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <nz-collapse *ngIf="itemData.formData" class="mt-4">
    <nz-collapse-panel [nzHeader]="itemData.title" [nzActive]="true">
      <div class="theme-body">
        <formly-form [form]="actionform" [model]="modal" [fields]="itemData.formData"></formly-form>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <nz-collapse *ngIf="itemData.dynamicSectionConfig" class="mt-4">
    <nz-collapse-panel [nzHeader]="'Data Mapping'" [nzActive]="true">
      <div class="theme-body">
        <span>
          <formly-form [form]="actionform" [model]="modal" [fields]="itemData.dynamicSectionConfig"></formly-form>
          <span>
            <button class="mt-2" *ngIf='this.itemData.dynamicSectionNode' nz-button nzType="primary"
              (click)="dynamicSectionOption()">Get Mapping</button>
          </span>
        </span>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <dynamic-table *ngIf='this.itemData?.dynamicSectionNode && this.itemData?.dynamicSectionNode?.tableBody.length == 0'
    [tableId]='tableId' [checkType]='true' [tableHeaders]="itemData.dynamicSectionNode.tableHeader"
    [data]="itemData.dynamicSectionNode"></dynamic-table>
  <dynamic-table *ngIf='this.itemData?.dynamicSectionNode && this.itemData?.dynamicSectionNode?.tableBody.length'
    [tableId]='tableId' [checkType]='true' [tableHeaders]="itemData.dynamicSectionNode.tableHeader"
    [tableData]='itemData.dynamicSectionNode.tableBody' [data]="itemData.dynamicSectionNode"></dynamic-table>
  <br>
  <button nz-button nzType="primary" (click)="onSubmit()">Save</button>
  <!-- <button nz-button nzType="primary" type="submit">Primary Button</button> -->
</form>