<form [formGroup]="actionform" class="dynamic-table-form">
  <nz-collapse *ngIf="itemData.commonData">
    <nz-collapse-panel [nzHeader]="'Common  Attribute value'" [nzActive]="true">
      <div class="theme-body">
        <formly-form [form]="actionform" [model]="modal" [fields]="itemData.commonData"></formly-form>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <nz-collapse *ngIf="itemData.formData" class="mt-4">
    <nz-collapse-panel [nzHeader]="itemData.title" [nzActive]="true">
      <div class="theme-body">
        <formly-form [form]="actionform" [model]="modal" [fields]="itemData.formData"></formly-form>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <nz-collapse *ngIf="itemData.mappingConfig" class="mt-4">
    <nz-collapse-panel [nzHeader]="'Data Mapping'" [nzActive]="true">
      <div class="theme-body">
        <span>
          <formly-form [form]="actionform" [model]="modal" [fields]="itemData.mappingConfig"></formly-form>
          <span>
            <button class="mt-2" *ngIf='this.itemData.mappingNode' nz-button nzType="primary"
              (click)="dynamicSectionOption()"> <i class="fa-solid fa-folder-arrow-down text-base mr-2"></i> Get
              Mapping</button>
          </span>
        </span>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <dynamic-table *ngIf='this.itemData?.mappingNode && this.itemData?.mappingNode?.tableBody.length == 0'
    [tableId]='tableId' [checkType]='true' [tableHeaders]="itemData.mappingNode.tableHeader"
    [data]="itemData.mappingNode" [configurationTable]="true"
    [displayData]="itemData.mappingNode.displayData"></dynamic-table>
  <dynamic-table [configurationTable]="true"
    *ngIf='this.itemData?.mappingNode && this.itemData?.mappingNode?.tableBody.length' [tableId]='tableId'
    [checkType]='true' [tableHeaders]="itemData.mappingNode.tableHeader" [tableData]='itemData.mappingNode.tableBody'
    [displayData]="itemData.mappingNode.displayData" [data]="itemData.mappingNode"></dynamic-table>
  <br>
  <button nz-button nzType="primary" (click)="onSubmit()"> <i class="fa-light fa-floppy-disk mr-2"></i> Save</button>
  <button class="mx-2" nz-button nzType="primary" nzDanger (click)="onDelete(this.itemData)"> <i
      class="fa-light fa-trash mr-2"></i> Delete</button>
  <!-- <button nz-button nzType="primary" type="submit">Primary Button</button> -->
</form>