<ng-container *ngIf="carouselslides[0].carousalType == 'carousel-fade'; else secondCarousal">
    <nz-carousel [nzEffect]="'fade'">
        <div nz-carousel-content *ngFor="let item of carouselslides[0].carousalConfig">
            <div>
                <img src="{{item.img}}" class="d-block img-fluid mx-auto" alt="..." />
            </div>
        </div>
    </nz-carousel>
</ng-container>
<ng-template #secondCarousal>
    <nz-carousel nzAutoPlay>
        <div nz-carousel-content *ngFor="let item of carouselslides[0].carousalConfig">
            <div>
                <img src="{{item.img}}" class="d-block img-fluid mx-auto" alt="..." />
            </div>
        </div>
    </nz-carousel>
</ng-template>