<canvas #canvas height="300px" width="470px" class="!border !border-gray-500 rounded-md"></canvas>
<div class="flex flex-wrap">
    <!-- Add Button -->
    <div>
        <button nz-button [class]="data.addButtonClass" (click)="add()">
            <i class="fa-regular fa-plus mr-1"></i> Add
        </button>
    </div>

    <!-- Clear Button -->
    <div>
        <button nz-button [class]="data.clearButtonClass" (click)="clear()">
            <i class="fa-regular fa-times mr-1"></i> Clear
        </button>
    </div>

</div>