<nz-steps [nzCurrent]="current" [nzType]='step.stepperType' [nzDirection]="step.direction"
    [nzLabelPlacement]="step.placement" [nzSize]="step.size" [nzStartIndex]="step.selectedIndex"
    (nzIndexChange)="handleIndexChange($event)">
    <ng-container *ngFor="let item of step.children">
        <nz-step [nzDescription]="item.description" [nzIcon]="characterIcon" [nzDisabled]="item.disabled"
            [nzTitle]="item.title" [nzSubtitle]="item.subtitle" [nzPercentage]="item.percentage"
            [nzStatus]="item.status">
        </nz-step>
        <div style="text-align: right;">
            <span nz-tooltip *ngIf="item.tooltip" [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                    nzTheme="twotone"></span></span>
        </div>
        <ng-template #characterIcon>
            <app-icon [type]="item.iconType"
                [icon]="item.icon"></app-icon>
        </ng-template>

    </ng-container>

</nz-steps>
<app-main [mainData]="step.children[current].children"></app-main>
<div class="steps-action">
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>Previous</span>
    </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="current < step.children.length-1">
        <span>Next</span>
    </button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="current === step.children.length - 1">
        <span>Done</span>
    </button>
</div>