<nz-spin [nzSpinning]="saveLoader" [nzSize]="'large'">
  <div class="basic-button-save text-end">
    <button nz-button nzType="primary" class="save-btn" (click)="close()">Save</button>
    <button nz-button (click)="cancel()" class="cancel-btn">Cancel</button>
  </div>
  <div class="market-place" >
  <nz-tabset>
    <nz-tab *ngFor="let group of groupedData" [nzTitle]="group.name">
      <nz-tabset [nzSelectedIndex]="0" [nzTabPosition]="'right'" *ngIf="group.children.length > 0">
        <nz-tab *ngFor="let groupChild of group.children" [nzTitle]="groupChild.name" >
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 " *ngIf="groupChild.children">
            <div class="img " *ngFor="let groupSubchild of groupChild.children"
              (click)="addNodes(groupSubchild)">
              <img
                [src]="groupSubchild?.thumbnailimage ? enviorment + groupSubchild?.thumbnailimage :  'assets/images/banner.png'"
                alt="" class="cursor-pointer hover:shadow-lg rounded-2xl w-full h-auto !max-w-[230px] min-h-[144px] !max-h-36 bg-cover">
              <h6 class="inline-block w-full text-center font-semibold" >{{ groupSubchild.name }}</h6>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </nz-tab>
  </nz-tabset>
</div>
</nz-spin>