<div>
  <div [ngClass]="selectedTheme.layout === 'twoColumn' ? 'flex flex-wrap' : ''">
    <div (mouseover)="setHovered(false,'start')" (mouseout)="setHovered(true,'start')">
      <div [ngClass]="{'flex flex-wrap': selectedTheme.menuMode === 'horizontal'}"
        style="background-size: cover; background-repeat: no-repeat; height: 100%; ">
        <div *ngIf="selectedTheme.menuMode == 'horizontal'" class="w-1/12"></div>
        <div [ngClass]="{'w-4/5': selectedTheme.menuMode === 'horizontal'}">
          <ul [class]="selectedTheme?.font" [style.background]="selectedTheme.backGroundColor" nz-menu
            [ngClass]="this.selectedTheme.layout == 'rtl' ? 'rtlMenu' : ''"
            [style.background-image]="'url(' + selectedTheme.siderBarImages + ')'" [nzMode]='selectedTheme.menuMode'
            [nzInlineCollapsed]="selectedTheme.isCollapsed">
            <ng-container class="flex flex-nowrap">
              <label *ngIf="selectedTheme.menuMode == 'inline' && selectedTheme.sideBarSize == 'smallHoverView'"
                nz-checkbox [(ngModel)]="selectedTheme.checked"></label>
            </ng-container>
            <ng-container *ngIf="selectedTheme.sideBarSize != 'compact'">
              <ng-container *ngFor="let item of selectedTheme.allMenuItems">
                <li
                  [ngStyle]="{'background': isActiveShow == item.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                  class="menu-title" *ngIf="item.isTitle && shouldExecute(item);"><span class="menu-item-icon">
                    <st-icon *ngIf="item.icon" [type]="item.iconType == 'outline'" [icon]="item.icon"
                      [size]="item.iconSize || 15" [color]="item.iconColor || ''"></st-icon>
                  </span><span *ngIf="!this.selectedTheme.isCollapsed"
                    [style.color]="selectedTheme['textColor']">{{item.title | translate}}</span>
                </li>
                <ng-container *ngIf="item.children.length && shouldExecute(item.children[0]);else menu">
                  <li
                    [ngStyle]="{ 'background': isActiveShow == item.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                    [nzTitle]="itemTemplate" nz-submenu (mouseover)="setHovered('up', item.menuIcon,item)"
                    (mouseout)="setHovered('down',item.menuIcon,item)" (click)="loadTabsAndButtons($event,item)">
                    <ng-template #itemTemplate>
                      <span class="menu-item-icon">
                        <st-icon
                          *ngIf="item.icon"
                          [type]="item.iconType || 'outline'"
                          [icon]="item.icon"
                          [size]="item.iconSize || 15"
                          [color]="isActiveShow === item.id ? (selectedTheme['activeTextColor'] || item['iconColor']) : item['iconColor']"
                        ></st-icon>
                      </span>
                      <span class="sidenav-title"
                        [style.color]="isActiveShow === item.id ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor']"
                      >{{ item.title | translate}}</span>
                    </ng-template>
                    <ul [class]="selectedTheme?.font" [style.background]="selectedTheme.backGroundColor">
                      <ng-container *ngFor="let sub of item.children">
                        <ng-container *ngIf="shouldExecute(sub) && selectedTheme.layout != 'twoColumn'">
                          <li *ngIf="sub.children.length == 0"
                            [ngStyle]="{ 'background': isActiveShow == sub.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                            nz-menu-item  (click)="loadTabsAndButtons($event, sub)"
                            (mouseover)="setHovered(false,'start',sub)" (mouseout)="setHovered(true,'start')">
                            <span class="menu-item-icon">
                              <st-icon
                                *ngIf="sub.icon"
                                [type]="sub.iconType || 'outline'"
                                [icon]="sub.icon"
                                [size]="sub.iconSize || 15"
                                [color]="isActiveShow === sub.id ? (selectedTheme['activeTextColor'] || item['iconColor']) : item['iconColor']"
                              ></st-icon>
                            </span>
                            <span class="sidenav-title"
                              [style.color]="isActiveShow === item.id ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor']"
                            >{{ sub.title | translate}}</span>
                          </li>
                          <li [nzTitle]="subTemplate" *ngIf="sub.children.length > 0"
                            [ngStyle]="{ 'background': isActiveShow == sub.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                            nz-submenu (click)="loadTabsAndButtons($event, sub)"
                            (mouseover)="setHovered(false,'start',item)" (mouseout)="setHovered(true,'start')">
                            <ng-template #subTemplate>
                              <st-icon *ngIf="sub.icon" [type]="sub.iconType || 'outline'" [icon]="sub.icon"
                                [size]="sub.iconSize || 15" [color]="sub.iconColor || ''"></st-icon>
                              <span class="sidenav-title" [style.color]="selectedTheme['textColor']">{{
                                sub.title | translate}}</span>
                            </ng-template>
                            <ul [class]="selectedTheme?.font" [style.background]="selectedTheme.backGroundColor">
                              <li
                                [ngStyle]="{ 'background': isActiveShow == subSub.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                                nz-menu-item *ngFor="let subSub of sub.children">
                                <span>
                                  <st-icon *ngIf="subSub.icon" [type]="subSub.iconType || 'outline'"
                                    [icon]="subSub.icon" [size]="subSub.iconSize || 15"
                                    [color]="subSub.iconColor || ''"></st-icon>
                                </span><span *ngIf="!this.selectedTheme.isCollapsed"
                                  [style.color]="selectedTheme?.textColor ? selectedTheme?.textColor : ''">{{subSub.title | translate}}</span>
                              </li>
                            </ul>
                          </li>
                        </ng-container>
                      </ng-container>
                    </ul>
                  </li>
                </ng-container>
                <ng-template #menu>
                  <li
                    [ngStyle]="{
                      'background': isActiveShow === item.id ? (selectedTheme['activeBackgroundColor'] || '') : ''
                    }"
                    (mouseenter)="hoverActiveShow = item.id" (mouseleave)="hoverActiveShow = null"
                    class="nav-item"
                    *ngIf="shouldExecute(item) && !item.isTitle"
                    nz-menu-item
                    nz-tooltip
                    nzTooltipPlacement="right"
                    [nzTooltipTitle]="selectedTheme.isCollapsed ? item.title : ''"
                    (click)="loadTabsAndButtons($event, item)"
                  >
                    <span class="menu-item-icon">
                      <st-icon
                        *ngIf="item.icon"
                        [type]="item.iconType || 'outline'"
                        [icon]="item.icon"
                        [size]="item.iconSize || 15"
                        [color]="(hoverActiveShow === item.id) ? selectedTheme['hoverTextColor'] :
                        ((isActiveShow === item.id) ? (selectedTheme['activeTextColor'] || item['iconColor']) : item['iconColor'])"
                      ></st-icon>
                    </span>
                    <span class="sidenav-title"
                    [style.color]="(hoverActiveShow === item.id) ? selectedTheme['hoverTextColor'] : ((isActiveShow === item.id) ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor'])"
                    >{{ item.title | translate}}</span>
                  </li>
                </ng-template>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="selectedTheme.sideBarSize == 'compact' && selectedTheme.layout == 'vertical'">
              <ng-container *ngFor="let item of selectedTheme.allMenuItems">
                <ng-container>
                  <ng-container *ngIf="item.isTitle && shouldExecute(item);else subMenu">
                    <span nz-icon [nzType]="item.icon"></span>
                  </ng-container>
                  <ng-template #subMenu>
                    <ng-container
                      *ngIf="item.children && item.children.length && shouldExecute(item.children[0]);else menu">
                      <div class="box block"
                        [ngStyle]="{ 'background': isActiveShow == item.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }">
                        <span nz-icon nzType="appstore" nzTheme="outline"></span>
                        <p class="my-4" *ngIf="shouldExecute(item)" (click)="loadTabsAndButtons($event,item)">
                          {{item.label}}</p>
                        <ul *ngFor="let sub of item.children">
                          <ng-container *ngIf="shouldExecute(sub)">
                            <li nz-submenu [nzTitle]="sub.title">
                              <ul *ngFor="let subChild of sub.children">
                                <li
                                  [ngStyle]="{ 'background': isActiveShow == subChild.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                                  nz-menu-item *ngIf="shouldExecute(subChild)">{{subChild.title | translate}}</li>
                              </ul>
                            </li>
                          </ng-container>
                        </ul>
                      </div>
                    </ng-container>
                  </ng-template>
                  <ng-template #menu>
                    <div class="box block"
                      [ngStyle]="{ 'background': isActiveShow == item.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                      *ngIf="shouldExecute(item)">
                      <span nz-icon [nzType]="item.icon"></span>
                      <li
                        [ngStyle]="{ 'background': isActiveShow == item.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                        nz-menu-item nz-tooltip nzTooltipPlacement="right" (click)="loadTabsAndButtons($event,item)">
                        <span>{{item.title | translate}}</span>
                      </li>
                    </div>
                  </ng-template>
                </ng-container>
              </ng-container>
            </ng-container>
            <!-- THIS BUTTON IS USED IN HORIZENTAL WHNEN LENGTH OF MENU IS GREATER THAN 7 -->
            <ng-container *ngIf="selectedTheme.menuMode == 'horizontal' && selectedTheme.allMenuItems.length >= 7 ">
              <ng-container *ngFor="let mainMenu of selectedTheme.newMenuArray" (click)="changeIcon()">
                <li nz-submenu [nzTitle]="mainMenu.label | translate" nzIcon="appstore">
                  <ul *ngFor="let item of mainMenu.subMenu">
                    <ng-container *ngIf="item.isTitle;else subMenu">
                      <span nz-icon nzType="appstore"></span>
                    </ng-container>
                    <ng-template #subMenu>
                      <ng-container
                        *ngIf="item.children && item.children.length && shouldExecute(item.children[0]);else menu">
                        <li nz-submenu [nzTitle]="item.title | translate" nzIcon="appstore"
                          (click)="loadTabsAndButtons($event,item)">
                          <ul>
                            <li *ngFor="let sub of item.children" nz-submenu class="bg-transparent"
                              [nzTitle]="sub.title">
                              <ul *ngFor="let subChild of sub.children">
                                <li nz-menu-item *ngIf="shouldExecute(subChild)">{{subChild.title}}</li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ng-container>
                    </ng-template>
                    <ng-template #menu>
                      <li nz-menu-item (click)="loadTabsAndButtons($event,item)" nz-tooltip nzTooltipPlacement="right">
                        <span class="title">{{item.title | translate}}</span>
                      </li>
                    </ng-template>
                  </ul>
                </li>
                <span class="new-menu-icon" nz-icon style="flex-grow: 1 ; text-align: left" [nzType]="mainMenu.icon"
                  class="!-ml-4" *ngIf="selectedTheme.menuMode === 'horizontal'"></span>
              </ng-container>
            </ng-container>
            <!--------------------------------------->
          </ul>
        </div>
      </div>

    </div>
    <!-- THIS IS USED IN TWO COLUMN CASE -->
    <div *ngIf="selectedTheme.layout == 'twoColumn' && selectedTheme.sideBarSize != 'compact'">
      <ul nz-menu [style.background-image]="'url(' + selectedTheme.siderBarImages + ')'"
        style="background-size: cover; background-repeat: no-repeat; height: 100%; " [nzMode]='selectedTheme.menuMode'
        [nzTheme]="selectedTheme.theme ? 'dark' : 'light'" [nzInlineCollapsed]="isTwoColumnCollapsed">
        <ng-container *ngIf="menuChildArrayTwoColumn.isTitle && shouldExecute(menuChildArrayTwoColumn);else menu">
          <span nz-icon nzType="line"></span>
        </ng-container>
        <!-- <ng-container *ngIf="menuChildArrayTwoColumn.children && menuChildArrayTwoColumn.children.length ; else menu">
        <li nz-submenu *ngIf="shouldExecute(menuChildArrayTwoColumn);" [nzTitle]="menuChildArrayTwoColumn.title" [nzIcon]="menuChildArrayTwoColumn.icon"
          (click)="loadTabsAndButtons($event,menuChildArrayTwoColumn)">
          <ul *ngFor="let sub of menuChildArrayTwoColumn.children">
            <li nz-submenu (click)="loadTabsAndButtons($event, sub)" *ngIf="shouldExecute(sub)"
              [nzTitle]="sub.title">
            </li>
          </ul>
        </li>
      </ng-container> -->
        <ng-template #menu>
          <li nz-menu-item nz-tooltip nzTooltipPlacement="right" *ngIf="shouldExecute(menuChildArrayTwoColumn)"
            (click)="loadTabsAndButtons($event,menuChildArrayTwoColumn)">
            <span style="font-size: 5px;" nz-icon nzType="line"></span>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</div>