<div (mouseenter)="setHovered(false,$event)"
  (mouseleave)="setHovered(true,$event)"
  [ngClass]="selectedTheme.layout === 'twoColumn' ? 'flex flex-wrap' : ''">
  <div [ngClass]="selectedTheme.layoutPosition == 'fixed' ? 'scroll' : ''">
    <div class=""
      [ngClass]="{'flex flex-wrap': selectedTheme.menuMode === 'horizontal'}"
      style="background-size: cover; background-repeat: no-repeat; height: 100%; ">
      <div *ngIf="selectedTheme.menuMode == 'horizontal'" class="w-1/12"></div>
      <div [ngClass]="{'w-4/5': selectedTheme.menuMode === 'horizontal'}">
        <ul
          [class]="selectedTheme?.font"
          [style.background]="selectedTheme.backGroundColor" nz-menu
          [ngClass]="this.selectedTheme.layout == 'rtl' ? 'rtlMenu' : ''"
          [style.background-image]="'url(' + selectedTheme.siderBarImages + ')'"
          [nzMode]='selectedTheme.menuMode'
          [nzInlineCollapsed]="selectedTheme.isCollapsed">
          <ng-container class="flex flex-nowrap">
            <label
              *ngIf="selectedTheme.menuMode == 'inline' && selectedTheme.sideBarSize == 'smallHoverView'"
              nz-checkbox [(ngModel)]="selectedTheme.checked"></label>
          </ng-container>
          <ng-container *ngIf="selectedTheme.sideBarSize != 'compact'">
            <ng-container *ngFor="let item of selectedTheme.allMenuItems">
              <li
                [style.background]="selectedTheme.backGroundColor"
                [ngStyle]="{'background': isActiveShow == item.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                class="menu-title"
                *ngIf="item.isTitle && shouldExecute(item);"><span
                  class="menu-item-icon">
                  <st-icon *ngIf="item.icon"
                    [type]="item.iconType == 'outline'" [icon]="item.icon"
                    [size]="selectedTheme['iconSize'] || 15"
                    [color]="item.iconColor || ''"></st-icon>
                </span><span *ngIf="!this.selectedTheme.isCollapsed"
                  [style.color]="selectedTheme['textColor']">{{item.title |
                  translate}}</span>
              </li>
              <ng-container
                *ngIf="item.children.length && shouldExecute(item.children[0]);else menu">
                <li
                  [ngStyle]="{ 'background': isActiveShow == item.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                  [nzTitle]="itemTemplate" nz-submenu
                  (click)="loadTabsAndButtons($event,item)"
                  (mouseenter)="hoverActiveShow = item.id"
                  (mouseleave)="hoverActiveShow = null">
                  <ng-template #itemTemplate>
                    <span class="menu-item-icon">
                      <st-icon
                        *ngIf="item.icon"
                        [type]="item.iconType || 'outline'"
                        [icon]="item.icon"
                        [size]="selectedTheme['iconSize'] || 15"
                        [color]="(hoverActiveShow === item.id) ? selectedTheme['hoverIconColor'] :
                      ((isActiveShow === item.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])"></st-icon>
                    </span>
                    <span class="sidenav-title"
                      [style.color]="(hoverActiveShow === item.id) ? selectedTheme['hoverTextColor'] : ((isActiveShow === item.id) ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor'])">{{
                      item.title | translate}}</span>
                  </ng-template>
                  <ul [class]="selectedTheme?.font"
                    style="background-size: cover; background-repeat: no-repeat; height: 100%; "
                    [style.background-image]="'url(' + selectedTheme.siderBarImages + ')'"
                    [style.background]="selectedTheme.backGroundColor">
                    <ng-container *ngFor="let sub of item.children">
                      <ng-container
                        *ngIf="shouldExecute(sub) && selectedTheme.layout != 'twoColumn'">
                        <li *ngIf="sub.children.length == 0"
                          [ngStyle]="{ 'background': isActiveShow == sub.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                          nz-menu-item
                          (click)="loadTabsAndButtons($event, sub)"
                          (mouseenter)="hoverActiveShow = sub.id"
                          (mouseleave)="hoverActiveShow = null">
                          <span class="menu-item-icon">
                            <st-icon
                              *ngIf="sub.icon"
                              [type]="sub.iconType || 'outline'"
                              [icon]="sub.icon"
                              [size]="selectedTheme['iconSize'] || 15"
                              [color]="(hoverActiveShow === sub.id) ? selectedTheme['hoverIconColor'] :
                      ((isActiveShow === sub.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])"></st-icon>
                          </span>
                          <span class="sidenav-title"
                            [style.color]="(hoverActiveShow === sub.id) ? selectedTheme['hoverTextColor'] : ((isActiveShow === sub.id) ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor'])">{{
                            sub.title | translate}}</span>
                        </li>
                        <li [nzTitle]="subTemplate"
                          *ngIf="sub.children.length > 0"
                          [ngStyle]="{ 'background': isActiveShow == sub.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                          nz-submenu (click)="loadTabsAndButtons($event, sub)"
                          (mouseenter)="hoverActiveShow = sub.id"
                          (mouseleave)="hoverActiveShow = null">
                          <ng-template #subTemplate>
                            <span class="menu-item-icon">
                              <st-icon
                                *ngIf="sub.icon"
                                [type]="sub.iconType || 'outline'"
                                [icon]="sub.icon"
                                [size]="selectedTheme['iconSize'] || 15"
                                [color]="(hoverActiveShow === sub.id) ? selectedTheme['hoverIconColor'] :
                      ((isActiveShow === sub.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])"></st-icon>
                            </span>
                            <span class="sidenav-title"
                              [style.color]="(hoverActiveShow === sub.id) ? selectedTheme['hoverTextColor'] : ((isActiveShow === sub.id) ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor'])">{{
                              sub.title | translate}}</span>
                          </ng-template>
                          <ul [class]="selectedTheme?.font"
                            [style.background-image]="'url(' + selectedTheme.siderBarImages + ')'"
                            style="background-size: cover; background-repeat: no-repeat; height: 100%; "
                            [class]="selectedTheme?.font"
                            [style.background]="selectedTheme.backGroundColor">
                            <li
                              [ngStyle]="{ 'background': isActiveShow == subSub.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                              nz-menu-item *ngFor="let subSub of sub.children"
                              (mouseenter)="hoverActiveShow = subSub.id"
                              (mouseleave)="hoverActiveShow = null">
                              <span class="menu-item-icon">
                                <st-icon
                                  *ngIf="subSub.icon"
                                  [type]="subSub.iconType || 'outline'"
                                  [icon]="subSub.icon"
                                  [size]="selectedTheme['iconSize'] || 15"
                                  [color]="(hoverActiveShow === subSub.id) ? selectedTheme['hoverIconColor'] :
                      ((isActiveShow === subSub.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])"></st-icon>
                              </span>
                              <span class="sidenav-title"
                                [style.color]="(hoverActiveShow === subSub.id) ? selectedTheme['hoverTextColor'] : ((isActiveShow === subSub.id) ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor'])">{{
                                item.title | translate}}</span>
                            </li>
                          </ul>
                        </li>
                      </ng-container>
                    </ng-container>
                  </ul>
                </li>
              </ng-container>
              <ng-template #menu>
                <li
                  [ngStyle]="{
                    'background': isActiveShow === item.id ? (selectedTheme['activeBackgroundColor'] || '') : ''
                  }"
                  (mouseenter)="hoverActiveShow = item.id"
                  (mouseleave)="hoverActiveShow = null"
                  class="nav-item"
                  *ngIf="shouldExecute(item) && !item.isTitle"
                  nz-menu-item
                  nz-tooltip
                  nzTooltipPlacement="right"
                  [nzTooltipTitle]="selectedTheme.isCollapsed ? item.title : ''"
                  (click)="loadTabsAndButtons($event, item)">
                  <span class="menu-item-icon">
                    <st-icon
                      *ngIf="item.icon"
                      [type]="item.iconType || 'outline'"
                      [icon]="item.icon"
                      [size]="selectedTheme['iconSize'] || 15"
                      [color]="(hoverActiveShow === item.id) ? selectedTheme['hoverIconColor'] :
                      ((isActiveShow === item.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])"></st-icon>
                  </span>
                  <span class="sidenav-title"
                    [class]="!selectedTheme?.font"
                    [style.color]="(hoverActiveShow === item.id) ? selectedTheme['hoverTextColor'] : ((isActiveShow === item.id) ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor'])">
                    {{ item.title | translate }}
                  </span>

                </li>
              </ng-template>
            </ng-container>
          </ng-container>
          <ng-container
            *ngIf="selectedTheme.sideBarSize === 'compact' && selectedTheme.layout === 'vertical'">
            <ng-container *ngFor="let item of selectedTheme.allMenuItems">
              <ng-container
                *ngIf="item.isTitle && shouldExecute(item); else subMenu">
                <span nz-icon [nzType]="item.icon"></span>
              </ng-container>
              <ng-template #subMenu>
                <ng-container
                  *ngIf="item.children.length > 0 && shouldExecute(item.children[0]); else menu">
                  <div class="box block"
                    [ngStyle]="{ 'background': isActiveShow == item.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }">
                    <span nz-icon nzType="appstore" nzTheme="outline"></span>
                    <ul>
                      <ng-container *ngFor="let sub of item.children">
                        <li nz-submenu [nzTitle]="sub.title"
                          *ngIf="shouldExecute(sub)">
                          <ul *ngFor="let subChild of sub.children">
                            <li
                              [ngStyle]="{ 'background': isActiveShow == subChild.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                              nz-menu-item *ngIf="shouldExecute(subChild)">
                              {{ subChild.title | translate }}</li>
                          </ul>
                        </li>
                      </ng-container>
                    </ul>
                  </div>
                </ng-container>
              </ng-template>
              <ng-template #menu>
                <li class="box block"
                  [ngStyle]="{
                    'background': isActiveShow === item.id ? (selectedTheme['activeBackgroundColor'] || '') : ''
                  }"
                  (mouseenter)="hoverActiveShow = item.id"
                  (mouseleave)="hoverActiveShow = null"
                  class="nav-item"
                  *ngIf="shouldExecute(item) && !item.isTitle"
                  nz-menu-item
                  nz-tooltip
                  nzTooltipPlacement="right"
                  [nzTooltipTitle]="selectedTheme.isCollapsed ? item.title : ''"
                  (click)="loadTabsAndButtons($event, item)">
                  <span class="menu-item-icon">
                    <st-icon
                      *ngIf="item.icon"
                      [type]="item.iconType || 'outline'"
                      [icon]="item.icon"
                      [size]="selectedTheme['iconSize'] || 15"
                      [color]="(hoverActiveShow === item.id) ? selectedTheme['hoverIconColor'] :
                      ((isActiveShow === item.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])"></st-icon>
                  </span>
                  <span class="sidenav-title"
                    [style.color]="(hoverActiveShow === item.id) ? selectedTheme['hoverTextColor'] : ((isActiveShow === item.id) ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor'])">{{
                    item.title | translate}}</span>
                </li>
              </ng-template>
            </ng-container>
          </ng-container>
          <!-- THIS BUTTON IS USED IN HORIZENTAL WHNEN LENGTH OF MENU IS GREATER THAN 7 -->
          <ng-container
            *ngIf="selectedTheme.menuMode == 'horizontal' && selectedTheme.allMenuItems.length >= 7 ">
            <ng-container *ngFor="let mainMenu of selectedTheme.newMenuArray"
              (click)="changeIcon()">
              <li nz-submenu [nzTitle]="mainMenu.label | translate"
                nzIcon="appstore">
                <ul [class]="selectedTheme?.font"
                  [style.background]="selectedTheme.backGroundColor"
                  *ngFor="let item of mainMenu.subMenu">
                  <ng-container *ngIf="item.isTitle;else subMenu">
                    <span nz-icon nzType="appstore"></span>
                  </ng-container>
                  <ng-template #subMenu>
                    <ng-container
                      *ngIf="item.children.length > 0 && shouldExecute(item.children[0]);else menu">
                      <li nz-submenu [nzTitle]="itemTemplate"
                        [ngStyle]="{ 'background': isActiveShow == item.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                        (click)="loadTabsAndButtons($event,item)"
                        (mouseenter)="hoverActiveShow = item.id"
                        (mouseleave)="hoverActiveShow = null">
                        <ng-template #itemTemplate>
                          <span class="menu-item-icon">
                            <st-icon
                              *ngIf="item.icon"
                              [type]="item.iconType || 'outline'"
                              [icon]="item.icon"
                              [size]="selectedTheme['iconSize'] || 15"
                              [color]="(hoverActiveShow === item.id) ? selectedTheme['hoverIconColor'] :
                      ((isActiveShow === item.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])"></st-icon>
                          </span>
                          <span class="sidenav-title"
                            [style.color]="(hoverActiveShow === item.id) ? selectedTheme['hoverTextColor'] : ((isActiveShow === item.id) ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor'])">{{
                            item.title | translate}}</span>
                        </ng-template>
                        <ul [class]="selectedTheme?.font"
                          [style.background]="selectedTheme.backGroundColor">
                          <li
                            [ngStyle]="{ 'background': isActiveShow == sub.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                            *ngFor="let sub of item.children" nz-submenu
                            [nzTitle]="subitemTemplate"
                            (click)="loadTabsAndButtons($event,sub)"
                            (mouseenter)="hoverActiveShow = sub.id"
                            (mouseleave)="hoverActiveShow = null">
                            <ul *ngFor="let subChild of sub.children">
                              <li
                                [ngStyle]="{ 'background': isActiveShow == subChild.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                                nz-menu-item *ngIf="shouldExecute(subChild)"><li
                                  nz-menu-item
                                  (click)="loadTabsAndButtons($event,subChild)"
                                  nz-tooltip nzTooltipPlacement="right"
                                  (mouseenter)="hoverActiveShow = subChild.id"
                                  (mouseleave)="hoverActiveShow = null">
                                  <span class="menu-item-icon">
                                    <st-icon
                                      *ngIf="subChild.icon"
                                      [type]="subChild.iconType || 'outline'"
                                      [icon]="subChild.icon"
                                      [size]="selectedTheme['iconSize'] || 15"
                                      [color]="(hoverActiveShow === item.id) ? selectedTheme['hoverIconColor'] :
                      ((isActiveShow === item.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])"></st-icon>
                                  </span>
                                  <span class="sidenav-title"
                                    [style.color]="(hoverActiveShow === subChild.id) ? selectedTheme['hoverTextColor'] : ((isActiveShow === subChild.id) ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor'])">{{
                                    item.title | translate}}</span>
                                </li>
                              </ul>
                              <ng-template #subitemTemplate>
                                <span class="menu-item-icon">
                                  <st-icon
                                    *ngIf="sub.icon"
                                    [type]="sub.iconType || 'outline'"
                                    [icon]="sub.icon"
                                    [size]="selectedTheme['iconSize'] || 15"
                                    [color]="(hoverActiveShow === sub.id) ? selectedTheme['hoverIconColor'] :
                      ((isActiveShow === sub.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])"></st-icon>
                                </span>
                                <span class="sidenav-title"
                                  [style.color]="(hoverActiveShow === sub.id) ? selectedTheme['hoverTextColor'] : ((isActiveShow === sub.id) ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor'])">{{
                                  item.title | translate}}</span>
                              </ng-template>
                            </li>
                          </ul>
                        </li>
                      </ng-container>
                    </ng-template>
                    <ng-template #menu>
                      <li nz-menu-item
                        [ngStyle]="{ 'background': isActiveShow == item.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                        (click)="loadTabsAndButtons($event,item)"
                        nz-tooltip nzTooltipPlacement="right"
                        (mouseenter)="hoverActiveShow = item.id"
                        (mouseleave)="hoverActiveShow = null">
                        <span class="menu-item-icon">
                          <st-icon
                            *ngIf="item.icon"
                            [type]="item.iconType || 'outline'"
                            [icon]="item.icon"
                            [size]="selectedTheme['iconSize'] || 15"
                            [color]="(hoverActiveShow === item.id) ? selectedTheme['hoverIconColor'] :
                      ((isActiveShow === item.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])"></st-icon>
                        </span>
                        <span class="sidenav-title"
                          [style.color]="(hoverActiveShow === item.id) ? selectedTheme['hoverTextColor'] : ((isActiveShow === item.id) ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor'])">{{
                          item.title | translate}}</span>
                      </li>
                    </ng-template>
                  </ul>
                </li>
                <span class="new-menu-icon" nz-icon
                  style="flex-grow: 1 ; text-align: left"
                  [nzType]="mainMenu.icon"
                  class="!-ml-4"
                  *ngIf="selectedTheme.menuMode === 'horizontal'"></span>
              </ng-container>
            </ng-container>
            <!--------------------------------------->

          </ul>
        </div>
      </div>

    </div>
    <!-- THIS IS USED IN TWO COLUMN CASE -->
    <div
      *ngIf="selectedTheme.layout == 'twoColumn' && selectedTheme.sideBarSize != 'compact'">
      <ul [class]="selectedTheme?.font"
        [style.background]="selectedTheme.backGroundColor" nz-menu
        [style.background-image]="'url(' + selectedTheme.siderBarImages + ')'"
        style="background-size: cover; background-repeat: no-repeat; height: 100%; "
        [nzMode]='selectedTheme.menuMode'
        [nzTheme]="selectedTheme.theme ? 'dark' : 'light'"
        [nzInlineCollapsed]="isTwoColumnCollapsed">
        <ng-container *ngFor="let item of menuChildArrayTwoColumn">
          <ng-container
            *ngIf="item.children.length && shouldExecute(item.children[0]);else menu">
            <li
              [ngStyle]="{ 'background': isActiveShow == item.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
              [nzTitle]="itemTemplate" nz-submenu
              (click)="loadTabsAndButtons($event,item)"
              (mouseenter)="hoverActiveShow = item.id"
              (mouseleave)="hoverActiveShow = null">
              <ng-template #itemTemplate>
                <span style="font-size: 5px;" nz-icon nzType="line"></span>
                <span>{{item.label}}</span>
              </ng-template>
              <ul [class]="selectedTheme?.font"
                [style.background]="selectedTheme.backGroundColor">
                <ng-container *ngFor="let sub of item.children">
                  <ng-container
                    *ngIf="shouldExecute(sub) && selectedTheme.layout != 'twoColumn'">
                    <li *ngIf="sub.children.length == 0"
                      [ngStyle]="{ 'background': isActiveShow == sub.id ? (selectedTheme['activeBackgroundColor'] ? selectedTheme['activeBackgroundColor'] : '' ) : '' }"
                      nz-menu-item
                      (click)="loadTabsAndButtons($event, sub)"
                      (mouseenter)="hoverActiveShow = sub.id"
                      (mouseleave)="hoverActiveShow = null">
                      <span class="menu-item-icon">
                        <st-icon
                          *ngIf="sub.icon"
                          [type]="sub.iconType || 'outline'"
                          [icon]="sub.icon"
                          [size]="selectedTheme['iconSize'] || 15"
                          [color]="(hoverActiveShow === sub.id) ? selectedTheme['hoverIconColor'] :
                      ((isActiveShow === sub.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])"></st-icon>
                      </span>
                      <span class="sidenav-title"
                        [style.color]="(hoverActiveShow === sub.id) ? selectedTheme['hoverTextColor'] : ((isActiveShow === sub.id) ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor'])">{{
                        sub.title | translate}}</span>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </li>
          </ng-container>
          <ng-template #menu>
            <li [ngStyle]="{
            'background': isActiveShow === item.id ? (selectedTheme['activeBackgroundColor'] || '') : ''
          }" (mouseenter)="hoverActiveShow = item.id"
              (mouseleave)="hoverActiveShow = null"
              nz-menu-item nz-tooltip nzTooltipPlacement="right"
              *ngIf="shouldExecute(item) "
              (click)="loadTabsAndButtons($event,item)">
              <span style="font-size: 5px;"
                [style.color]="(hoverActiveShow === item.id) ? selectedTheme['hoverTextColor'] :
            ((isActiveShow === item.id) ? (selectedTheme['activeTextColor'] || item['iconColor']) : item['iconColor'])"
                nz-icon nzType="line"></span>
              <span
                [style.color]="(hoverActiveShow === item.id) ? selectedTheme['hoverTextColor'] : ((isActiveShow === item.id) ? (selectedTheme['activeTextColor'] || selectedTheme['textColor']) : selectedTheme['textColor'])">{{item.label}}</span>
            </li>
          </ng-template>
        </ng-container>
      </ul>
    </div>
  </div>
