<ul nz-menu nzMode="inline">
  <ng-container *ngFor="let item of selectedTheme.allMenuItems">
    <li nz-menu-item *ngIf="item.children.length === 0; else menuChild">
      <st-icon *ngIf="item.icon" [type]="item.iconType || 'outline'" [icon]="item.icon"
        [size]="selectedTheme['iconSize'] || 15" [color]="(hoverActiveShow === item.id) ? selectedTheme['hoverIconColor'] :
              ((isActiveShow === item.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])">
      </st-icon>
      <span class="colapsed-menu-title">{{item.title}}</span>
    </li>
    <ng-template #menuChild>
      <li nz-submenu [nzTitle]="title">
        <ng-template #title>
          <st-icon *ngIf="item.icon" [type]="item.iconType || 'outline'" [icon]="item.icon"
            [size]="selectedTheme['iconSize'] || 15" [color]="(hoverActiveShow === item.id) ? selectedTheme['hoverIconColor'] :
              ((isActiveShow === item.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])">
          </st-icon>
          <span class="colapsed-menu-title">{{item.title}}</span>
        </ng-template>
        <ul>
          <ng-container *ngFor="let itemChild of item.children">
            <li nz-menu-item *ngIf="itemChild.children.length == 0 ; else menuGrandchild">
              <st-icon *ngIf="itemChild.icon" [type]="itemChild.iconType || 'outline'" [icon]="itemChild.icon"
                [size]="selectedTheme['iconSize'] || 15" [color]="(hoverActiveShow === itemChild.id) ? selectedTheme['hoverIconColor'] :
                  ((isActiveShow === itemChild.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])">
              </st-icon>
              <span class="colapsed-menu-title">{{itemChild.title}}</span>
            </li>
            <ng-template #menuGrandchild>
              <li nz-submenu [nzTitle]="childTitle">
                <ng-template #childTitle>
                  <st-icon *ngIf="itemChild.icon" [type]="itemChild.iconType || 'outline'" [icon]="itemChild.icon"
                    [size]="selectedTheme['iconSize'] || 15" [color]="(hoverActiveShow === itemChild.id) ? selectedTheme['hoverIconColor'] :
                    ((isActiveShow === itemChild.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])">
                  </st-icon>
                  <span class="colapsed-menu-title">{{itemChild.title}}</span>
                </ng-template>
                <ul>
                  <li *ngFor="let itemGrandchild of itemChild.children" nz-menu-item>
                    <st-icon *ngIf="itemGrandchild.icon" [type]="itemGrandchild.iconType || 'outline'"
                      [icon]="itemGrandchild.icon" [size]="selectedTheme['iconSize'] || 15"
                      [color]="(hoverActiveShow === itemGrandchild.id) ? selectedTheme['hoverIconColor'] :
                        ((isActiveShow === itemGrandchild.id) ? selectedTheme['activeIconColor'] : selectedTheme['iconColor'])">
                    </st-icon>
                    <span class="colapsed-menu-title">{{itemGrandchild.title}}</span>
                  </li>
                </ul>
              </li>
            </ng-template>
          </ng-container>
        </ul>
      </li>
    </ng-template>
  </ng-container>
</ul>