<div [ngClass]="to['additionalProperties']?.wrapper && to['additionalProperties']?.wrapper == 'floating_filled' || to['additionalProperties']?.wrapper == 'floating_outlined' || to['additionalProperties']?.wrapper == 'floating_standard' ? 'height' : ''">
  <ng-container *ngIf="to['additionalProperties']?.wrapper != 'floating_standard'" >
    <nz-input-group [ngClass]="showError ? 'input-border' : ''" *ngIf="!to['additionalProperties']?.suffixicon && !to['additionalProperties']?.prefixicon " [nzSuffix]="to['additionalProperties']?.addonRight"
      [nzPrefix]="to['additionalProperties']?.addonLeft" [nzSize]="to['additionalProperties']?.size" [nzStatus]="to['additionalProperties']?.status">
      <nz-input-number (ngModelChange)="onModelChange($event, field)" [ngClass]="showError && !to['additionalProperties']?.suffixicon && !to['additionalProperties']?.prefixicon && !to['additionalProperties']?.addonLeft && !to['additionalProperties']?.addonRight ? 'input-border' : ''" style="width:100%"
        [ngClass]="to['additionalProperties']?.wrapper && to['additionalProperties']?.wrapper == 'floating_filled' || to['additionalProperties']?.wrapper == 'floating_outlined' ? to['additionalProperties']?.floatFieldClass : ''"
        [nzMin]="to.minLength || 0" [nzMax]="to.maxLength || 1" [nzStep]="to['additionalProperties']?.step || 1" [nzPrecision]="precision"
        nzPrecisionMode="cut" nzInputMode="" [nzPlaceHolder]="to.placeholder || ''" [nzBorderless]="to['additionalProperties']?.border"
        [nzDisabled]="to.disabled" [nzReadOnly]="to.readonly" [nzSize]="to['additionalProperties']?.size" [nzStatus]="to['additionalProperties']?.status"
        [formControl]="formControl"></nz-input-number>
      <label *ngIf="to['additionalProperties']?.wrapper == 'floating_filled' || to['additionalProperties']?.wrapper == 'floating_outlined'"
        [ngClass]="to['additionalProperties']?.floatLabelClass">{{ to.label ?? '' | translate }}</label>
    </nz-input-group>

    <nz-input-group [ngClass]="showError ? 'input-border' : ''" *ngIf="to['additionalProperties']?.suffixicon || to['additionalProperties']?.prefixicon" [nzSuffix]="suffixTemplateInfo"
      [nzPrefix]="prefixTemplateUser" [nzSize]="to['additionalProperties']?.size" [nzStatus]="to['additionalProperties']?.status">
      <nz-input-number (ngModelChange)="onModelChange($event, field)" [ngClass]="showError && !to['additionalProperties']?.suffixicon && !to['additionalProperties']?.prefixicon && !to['additionalProperties']?.addonLeft && !to['additionalProperties']?.addonRight ? 'input-border' : ''" style="width:100%" [nzMin]="to.minLength || 0" [nzMax]="to.maxLength || 1"
        [nzStep]="to['additionalProperties']?.step || 1" [nzPrecision]="precision" nzPrecisionMode="cut" nzInputMode=""
      [style.border-radius]="to['additionalProperties']?.borderRadius"  [nzPlaceHolder]="to.placeholder || ''" [nzBorderless]="to['additionalProperties']?.border" [nzDisabled]="to.disabled"
        [nzReadOnly]="to.readonly" [nzSize]="to['additionalProperties']?.size" [nzStatus]="to['additionalProperties']?.status"
        [formControl]="formControl"></nz-input-number>
    </nz-input-group>
    <ng-template #prefixTemplateUser>
      <span>
        <st-icon *ngIf="to['additionalProperties']?.suffixicon" [type]="to['additionalProperties']?.iconType || 'outline'" [icon]="to['additionalProperties']?.suffixicon"
         [hoverIconColor]="to['additionalProperties']?.hoverIconColor || ''" [size]="to['additionalProperties']?.iconSize" [color]="to['additionalProperties']?.iconColor"></st-icon>
      </span>
    </ng-template>
    <ng-template #suffixTemplateInfo>
      <span>
        <st-icon *ngIf="to['additionalProperties']?.prefixicon" [type]="to['additionalProperties']?.iconType || 'outline'" [icon]="to['additionalProperties']?.prefixicon"
         [hoverIconColor]="to['additionalProperties']?.hoverIconColor || ''" [size]="to['additionalProperties']?.iconSize" [color]="to['additionalProperties']?.iconColor" ></st-icon>
      </span>
    </ng-template>
  </ng-container>
  <div class="relative z-0" *ngIf="to['additionalProperties']?.wrapper == 'floating_standard'">
    <nz-input-number style="width:100%"
    (ngModelChange)="onModelChange($event, field)"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      [nzMin]="to.minLength || 0" [nzMax]="to.maxLength || 1" [nzStep]="to['additionalProperties']?.step || 1" [nzPrecision]="precision"
     [style.border-radius]="to['additionalProperties']?.borderRadius" nzPrecisionMode="cut" nzInputMode="" [nzPlaceHolder]="to.placeholder || ''" [nzBorderless]="to['additionalProperties']?.border"
      [nzDisabled]="to.disabled" [nzReadOnly]="to.readonly" [nzSize]="to['additionalProperties']?.size" [nzStatus]="to['additionalProperties']?.status"
      [formControl]="formControl"></nz-input-number>
    <label
      class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ to.label ?? '' | translate }}</label>
  </div>
</div>
