<div *ngIf="videoData">
    <div [ngClass]="videoData.className" *ngIf="videoData">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="label-style pt-2">{{videoData.title}}<span *ngIf="videoData.tooltip" style="text-align: right;">
                    </span><span *ngIf="videoData.tooltip" nz-tooltip nzTooltipTitle={{videoData.tooltip}}><span nz-icon
                            nzType="question-circle" nzTheme="outline"></span></span>

                </h4>
            </div><!-- end card header -->
            <div class="card-body">
                <!-- 16:9 aspect ratio -->
                <div class={{videoData.videoRatio}}>
                    <!-- <video width="320" height="240" controls>
                        <source src={{item.src}} type="video/mp4">
                      </video> -->
                    <iframe [src]="videoData.videoSrc | sanitize: 'resourceUrl'" title="YouTube video"></iframe>
                </div>
            </div><!-- end cardbody -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end col -->
