<nz-table class="Policy-builder-table" [nzScroll]="{ x: '1200px', y: null }" #filterTable [nzLoading]="loading"
    [nzData]="data" class="border">
    <thead>
        <thead>
            <tr>
                <ng-container *ngFor="let column of listOfColumns">
                    <th nzCustomFilter>{{column.name}}
                        <nz-filter-trigger [hidden]="column.inVisible" [nzDropdownMenu]="menu">
                            <span nz-icon nzType="search"></span>
                        </nz-filter-trigger>
                    </th>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <div class="ant-table-filter-dropdown">
                            <div class="search-box">
                                <input type="text" nz-input nzClear (keyup)="search($event , column)"
                                    placeholder="Search here..." [(ngModel)]="column.searchValue" />
                            </div>
                        </div>
                    </nz-dropdown-menu>
                </ng-container>
            </tr>
        </thead>
    </thead>
    <tbody>
        <ng-container *ngFor="let row of filterTable.data">
            <tr>
                <td [(nzExpand)]="row.expand"></td>
                <td>{{ row.title }}</td>
                <td>
                    <label nz-checkbox [(ngModel)]="row.create"></label>
                </td>
                <td>
                    <label nz-checkbox [(ngModel)]="row.read"></label>
                </td>
                <td>
                    <label nz-checkbox [(ngModel)]="row.update"></label>
                </td>
                <td>
                    <label nz-checkbox [(ngModel)]="row.delete"></label>
                </td>
                <td>
                    <label nz-checkbox [(ngModel)]="row['hideExpression']"></label>
                </td>
            </tr>
            <tr [nzExpand]="row.expand">
                <ng-container
                    *ngTemplateOutlet="recursiveTemplate; context: { $implicit: row.children }"></ng-container>
            </tr>
        </ng-container>
    </tbody>
</nz-table>

<ng-template #recursiveTemplate let-data>
    <st-policy-mapping-table [data]="data"></st-policy-mapping-table>
</ng-template>