<nz-table class="Policy-builder-table"  [nzScroll]="{ x: '1200px', y: null }" #filterTable
    [nzLoading]="loading" [nzData]="data" class="border">
    <thead>
        <tr>
            <th nzWidth="5%"></th>
            <ng-container *ngFor="let column of listOfColumns">
                <th nzWidth="120px" class="w-1/12">
                    {{column.name}}
                </th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let row of filterTable.data">
            <tr>
                <td [(nzExpand)]="row.expand"></td>
                <td>{{ row.title }}</td>
                <td>
                    <label nz-checkbox [(ngModel)]="row.create"></label>
                </td>
                <td>
                    <label nz-checkbox [(ngModel)]="row.read"></label>
                </td>
                <td>
                    <label nz-checkbox [(ngModel)]="row.update"></label>
                </td>
                <td>
                    <label nz-checkbox [(ngModel)]="row.delete"></label>
                </td>
                <td>
                    <label nz-checkbox [(ngModel)]="row['hideExpression']"></label>
                </td>
            </tr>
            <tr [nzExpand]="row.expand">
                <ng-container  *ngTemplateOutlet="recursiveTemplate; context: { $implicit: row.children }"></ng-container>
            </tr>
        </ng-container>
    </tbody>
</nz-table>

<ng-template #recursiveTemplate let-data>
    <st-policy-mapping-table [data]="data"></st-policy-mapping-table>
</ng-template>