<nz-divider *ngIf="dividerData.dividerText || dividerData.icon" [nzDashed]='dividerData.dashed'
    [nzType]='dividerData.dividerType' [nzText]="text" [nzPlain]="dividerData.plain"
    [nzOrientation]="dividerData.orientation">
    <ng-template #text>
        <span>
            <st-icon *ngIf="dividerData?.icon" [type]="dividerData?.iconType || 'outline'" [icon]="dividerData?.icon"
                [size]="dividerData?.iconSize" [color]="dividerData?.iconColor"></st-icon>
            {{dividerData.dividerText}}
        </span>
    </ng-template>
</nz-divider>
<nz-divider *ngIf="!dividerData.dividerText && !dividerData.icon" [nzDashed]='dividerData.dashed'
    [nzType]='dividerData.dividerType'></nz-divider>