<nz-card style="border-radius: 4%;">
    <div *ngFor="let item of data">
        <div class="flex flex-wrap">
            <div *ngIf="item.type == 'heading'; else one">
                <div *ngFor="let head of item.children" [class]="head.className" [style]="head?.style">
                    {{head.text}}
                </div>
            </div>
            <ng-template #one>
                <div *ngIf="item.type == 'paragraph'; else two">
                    <div *ngFor="let paragraphItem of item.children" [class]="paragraphItem.className" [style]="paragraphItem?.style">
                        {{paragraphItem.text}}
                    </div>
                </div>
            </ng-template>
            <ng-template #two>
                <div [class]="item.className" [style]="item?.style"
                    *ngIf="item.type == 'button' || item.type =='linkbutton' || item.type =='buttonGroup' || item.type =='dropdownButton'">
                    <button 
          nz-button
          [disabled]="item.disabled"
          [nzBlock]="item.nzBlock"
          [nzDanger]="item.nzDanger"
          [nzGhost]="item.nzGhost"
          [nzLoading]="item.nzLoading"
          [nzShape]="item.nzShape"
          [nzSize]="item.nzSize"
          [nzType]="item.nztype"
        >
          <span >
            <st-icon *ngIf="item.iconPlacement == 'left' || item.iconPlacement == undefined"
              [icon]="item.btnIcon"
              [color]="item.iconColor"
              [size]="item.iconSize"
              [type]="item.iconType"
            ></st-icon>
            <span
              [class]="item.btnLabelPaddingClass"
              *ngIf="item.title"
            >
              {{ item.title }}
            </span>
            <st-icon *ngIf="item.iconPlacement == 'right'"
              [icon]="item.btnIcon"
              [color]="item.iconColor"
              [size]="item.iconSize"
              [type]="item.iconType"
            ></st-icon>
          </span>
        </button>
                </div>
            </ng-template>
        </div>  
    </div>
    
</nz-card>