
<button *ngIf="buttonData.type != 'linkbutton' && buttonData.type != 'dropdownButton'"
  nz-button
  [disabled]="buttonData.disabled"
  [nzBlock]="buttonData.nzBlock"
  [nzDanger]="buttonData.nzDanger"
  [nzGhost]="buttonData.nzGhost"
  [nzLoading]="buttonData.nzLoading"
  [nzShape]="buttonData.nzShape"
  [nzSize]="buttonData.nzSize"
  [nzType]="buttonData.nztype"
  [type]="buttonData.isSubmit ? 'submit' : 'button'"
  [ngStyle]="{
    'background-color': bgColor || buttonData.color,
    'border-color': borderColor || buttonData.textColor,
    'color': hoverTextColor || buttonData.textColor
  }"
  (click)="handleButtonClick(buttonData)"
  (mouseover)="handleButtonMouseOver(buttonData)"
  (mouseout)="handleButtonMouseOut(buttonData)"
>
  <span >
    <st-icon
      [icon]="buttonData.btnIcon"
      [color]="buttonData.iconColor"
      [size]="buttonData.iconSize"
      [type]="buttonData.iconType"
    ></st-icon>
    <span
      [class]="buttonData.btnLabelPaddingClass"
      *ngIf="buttonData.title"
    >
      {{ buttonData.title }}
    </span>
  </span>
</button>

<!-- link  -->
<div *ngIf="buttonData.type == 'linkbutton'" class="pt-2">
  <a
    nz-button
    nzType="link"
    [nzGhost]="buttonData.nzGhost"
    [disabled]="buttonData.disabled"
    [nzDanger]="buttonData.nzDanger"
    [nzSize]="buttonData.nzSize"
    [nzBlock]="buttonData.nzBlock"
    [nzLoading]="buttonData.nzLoading"
    [ngStyle]="{ 'background-color': bgColor || buttonData.color }"
    [class]="[buttonData.color, buttonData.hoverColor]"
    (mouseover)="bgColor = buttonData?.hoverColor"
    (mouseout)="bgColor = buttonData?.color"
    (click)="pagesRoute(buttonData)"
  >
    <span>
      <st-icon
        *ngIf="buttonData.btnIcon"
        [icon]="buttonData.btnIcon"
        [color]="buttonData?.iconColor"
        [size]="buttonData?.iconSize"
        [type]="buttonData.iconType"
      ></st-icon>
      <span [class]="buttonData.btnLabelPaddingClass">{{ buttonData.title }}</span>
    </span>
  </a>
</div>

<!-- dropdown  -->
<div *ngIf="buttonData.type == 'dropdownButton'">
  <button nz-button nz-dropdown
          [nzDropdownMenu]="menu"
          [nzType]="buttonData.nztype"
          [nzGhost]="buttonData.nzGhost"
          [nzSize]="buttonData.nzSize"
          [disabled]="buttonData.disabled"
          [nzLoading]="buttonData.nzLoading"
          [nzBlock]="buttonData.nzBlock"
          [nzTrigger]="buttonData.trigger"
          [nzPlacement]="buttonData.placement"
          [nzClickHide]="buttonData.clickHide"
          [nzVisible]="buttonData.visible"
          [nzDanger]="buttonData.nzDanger"
          [nzShape]="buttonData.nzShape"
          [ngStyle]="{
            'background-color': bgColor || buttonData.color,
            'color': hoverTextColor || buttonData.textColor,
            'border-color': borderColor || ''
          }"
          (mouseover)="handleButtonMouseOver(buttonData)"
          (mouseout)="handleButtonMouseOut(buttonData)">
    <span>
      {{ buttonData.title }}
      <span [class]="buttonData.btnLabelPaddingClass" *ngIf="buttonData.btnIcon">
        <st-icon [type]="buttonData.iconType"
                [icon]="buttonData.btnIcon"
                [size]="buttonData.iconSize"
                [color]="buttonData.iconColor">
        </st-icon>
      </span>
    </span>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item *ngFor="let option of buttonData.dropdownOptions">
        <a *ngIf="option.link" [href]="option.link">{{ option.label }}</a>
        <a *ngIf="!option.link">{{ option.label }}</a>
      </li>
    </ul>
  </nz-dropdown-menu>
</div>


<!-- Modal -->
<nz-modal nzWidth="1000px" [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <st-pages [resData]="nodes" *ngIf="nodes.length"></st-pages>
  </ng-container>
</nz-modal>