<button nz-button [class]="drawerData.color" (click)="open()" style="margin-top: 28px;">{{drawerData.btnText}}</button>
<nz-drawer [nzClosable]="drawerData.isClosable" 
[nzVisible]="visible" 
[nzPlacement]="drawerData.placement"
    [nzTitle]="drawerData.title" 
    (nzOnClose)="close()" 
    [nzClosable]="true"
    [nzCloseIcon]="drawerData.icon" 
    [nzExtra]="extra" 
    [nzKeyboard]="drawerData.isKeyboard"
    [nzFooter]="drawerData.footerText" 
    [nzSize]="drawerData.size" 
    [nzVisible]="drawerData.isVisible"
    [nzSize]="drawerData.size"
    [nzWidth]="drawerData.width"
    [nzHeight]="drawerData.height"
    [nzOffsetX]="drawerData.offsetX"
    [nzOffsetY]="drawerData.offsetY"
    >
    <ng-container *nzDrawerContent>
        <P>{{drawerData.content}}</P>
    </ng-container>
</nz-drawer>

<ng-template #extra>
    <button nz-button nzType="default" (click)="close()">Cancel</button>
    &nbsp;
    <button nz-button nzType="primary" (click)="close()">OK</button>
</ng-template>
<ng-template #extra2>
    <button nz-button nzType="primary" (click)="close()">OK</button>
</ng-template>

