menu-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding:4%
}
.menu-item {
    display: block;
    padding: 0.15rem 0;
    
}
.menu-link{
    color: var(--bs-gray-700);
}