<!-- <div class="wrapper">
  <button nz-button nzType="primary" (click)="toggleCollapsed()">
    <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
  </button>
  <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
    <ng-container *ngFor="let item of menuItems">
      <li nz-submenu [nzTitle]="item.label" nzIcon="appstore" *ngIf="item.subItems && item.subItems.length > 0">

        <ul>
          <li nz-menu-item *ngFor="let sub of item.subItems">{{sub.label}}</li>
        </ul>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" *ngIf="!item.subItems || item.subItems.length == 0">
        <span nz-icon nzType="appstore"></span>
        <span>{{item.label}}</span>
      </li>
    </ng-container>
  </ul>
</div> -->

<div class="ml-7">
  <nz-tabset>
    <nz-tab nzTitle="Details"></nz-tab>
    <nz-tab nzTitle="Resoltion"></nz-tab>
    <nz-tab nzTitle="Tasks"></nz-tab>
    <nz-tab nzTitle="Checklist"></nz-tab>
    <nz-tab nzTitle="Work logs"></nz-tab>
    <nz-tab nzTitle="Time Analysis"></nz-tab>
    <nz-tab nzTitle="History"></nz-tab>
  </nz-tabset>
</div>

