<div class="ml-8">
  <button class="hover:bg-blue-200 ;hover:text-blue cursor-pointer ; text-center ; rounded-md ; m-4" nz-button
    nz-dropdown nzType="link" [nzDropdownMenu]="menu">
    <h2 class="font-bold">Pages</h2>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <nz-card class="rounded-md z-99">
      <nz-tabset>
        <nz-tab *ngFor="let item of tabsData" [nzTitle]='item.tabLabel'>
          <div class="flex flex-nowrap font-sans">
            <ng-container *ngFor="let tabChild of item.tabChild">
              <div class="w-full sm:w-1/2 md:w-1/2 mb-4 px-2">
                <div class="font-bold text-lg py-3">
                  <h4 class="ml-2 font-sans">{{tabChild.label}}</h4>
                </div>
                <ng-container *ngFor="let itemChild of tabChild.children">
                  <div class="hover:bg-blue-200 hover:text-blue-500 cursor-pointer rounded-md py-3">
                    <p class="ml-2 font-sans text-md">{{itemChild.label}}</p>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </nz-tab>
      </nz-tabset>
    </nz-card>
  </nz-dropdown-menu>
</div>
<!-- <div class="ml-7">
  <nz-tabset>
    <nz-tab nzTitle="Details"></nz-tab>
    <nz-tab nzTitle="Resoltion"></nz-tab>
    <nz-tab nzTitle="Tasks"></nz-tab>
    <nz-tab nzTitle="Checklist"></nz-tab>
    <nz-tab nzTitle="Work logs"></nz-tab>
    <nz-tab nzTitle="Time Analysis"></nz-tab>
    <nz-tab nzTitle="History"></nz-tab>
  </nz-tabset>
</div> -->