<div [class]="'card-content ' + (mainData['rowClass'] ? mainData['rowClass'] : 'flex flex-wrap')">
    <div class="{{!item.hideExpression   ? item.className : ''}}"
        *ngFor="let item of mainData.children ; index as i; last as isLast">
        <div [ngClass]="{'highLight': item.highLight == true}" *ngIf="!item.hideExpression">
            <span *ngIf="item['comment']">
                <span *ngIf="item['comment'].length > 0">
                    <div [ngStyle]="{'background' : item['commentBackgroundColor'] ? '#3b82f6' : ''}"  class="b-comment absolute top-2 left-2 z-[1000]">
                        <div>
                            <ng-container *ngIf="item['commentUser'] && item['commentUser'].length > 1">
                                <nz-avatar-group>
                                    <ng-container *ngFor="let user of item['commentUser']; let i = index">
                                        <nz-avatar style="background: #3b82f6;" *ngIf="i < 2"
                                            [nzText]="typeFirstAlphabetAsIcon(user)"></nz-avatar>
                                    </ng-container>
                                    <nz-avatar *ngIf="item['commentUser'].length > 2" style="background-color: #3b82f6"
                                        nzText="+{{ item['commentUser'].length - 2 }}"></nz-avatar>
                                </nz-avatar-group>
                            </ng-container>
                            <nz-avatar *ngIf="item['commentUser'] && item['commentUser'].length == 1"
                                [nzText]="typeFirstAlphabetAsIcon(item['commentUser'][0])"></nz-avatar>
                        </div>
                        <div (click)="toggleCommentDisplay()" class="user-detail">
                            <h6>{{item['comment'][0].whoCreated}}</h6>
                            <p><span>{{item['comment'][0].dateTime | date : "dd/MMM/yyyy hh:mm"}}</span></p>
                            <p>
                                {{item['comment'][0].comment}}
                            </p>
                            <small>{{item['comment'].length-1}} Replies</small>
                        </div>
                        <div class="comment-modal">
                            <nz-modal [(nzVisible)]="showAllComments" nzTitle="Comments" (nzOnCancel)="handleCancel()">
                                <ng-container *nzModalContent>
                                    <button class="mb-2" nz-button nz-dropdown [nzDropdownMenu]="menu11">
                                        ...
                                        <span nz-icon nzType="down"></span>
                                    </button>
                                    <nz-dropdown-menu #menu11="nzDropdownMenu">
                                        <ul nz-menu>
                                            <li nz-menu-item *ngIf="item['commentBackgroundColor']">
                                                <a (click)="read(item,false)">Mark as unread</a>
                                            </li>
                                            <li nz-menu-item *ngIf="!item['commentBackgroundColor']">
                                                <a (click)="read(item,true)">Mark as Read</a>
                                            </li>
                                            <li nz-menu-item>
                                                <a (click)="copyJson(item.id)">Copy</a>
                                            </li>
                                        </ul>
                                    </nz-dropdown-menu>
                                    <div *ngFor="let comment of item['comment']">
                                        <div>
                                            <nz-avatar nzIcon="user" class="mr-2"></nz-avatar>
                                            <span class="mr-2">{{comment['whoCreated']}}</span>
                                            <nz-tag *ngIf="comment['status']"
                                                [nzColor]="comment['status'] == 'resolved' ? 'blue' : (comment['status'] == 'inProgress' ? 'green' : 'red')">{{comment['status']}}</nz-tag>
                                            <span>{{comment.dateTime | date : "dd/MMM/yyyy hh:mm"}}</span>
                                            <span nz-icon nzType="edit" nzTheme="outline"
                                                (click)="edit(comment)"></span>
                                        </div>
                                        <div class="user-comments">
                                            {{comment.comment}}
                                        </div>
                                    </div>
                                    <form class="mt-3" [formGroup]="commentForm">
                                        <label for="status">Status</label>
                                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Status"
                                            formControlName="status">
                                            <nz-option nzLabel="Open" nzValue="open"></nz-option>
                                            <nz-option nzLabel="In Progress" nzValue="inProgress"></nz-option>
                                            <nz-option nzLabel="resolved" nzValue="resolved"></nz-option>
                                        </nz-select>
                                        <label for="comment">Comment</label>
                                        <textarea rows="2" formControlName="comment"
                                            placeholder="Write a message here..." nz-input></textarea>
                                    </form>
                                </ng-container>
                                <div *nzModalFooter>
                                    <button (click)="saveComment(item)" *ngIf="!commentEdit" class="mt-2" nz-button
                                        nzType="primary">Save</button>
                                    <button (click)="saveComment(item)" *ngIf="commentEdit" class="mt-2" nz-button
                                        nzType="primary">Update</button>
                                </div>
                            </nz-modal>



                        </div>
                    </div>
                </span>
            </span>
            <span [contextMenu]="oneContextMenu" *ngIf="isShowContextMenu">
                <context-menu #oneContextMenu>
                    <ng-template contextMenuItem (execute)="copyJson(item)"
                        [visible]="isShowContextMenu">Copy</ng-template>
                    <ng-template contextMenuItem (execute)="comment(item)"
                        [visible]="isShowContextMenu">Comment</ng-template>
                </context-menu>
                <st-mains [item]="item" [formlyModel]="formlyModel" [screenName]="screenName" [screenId]="screenId"
                    [isLast]='isLast' [form]="form" *ngIf="item"></st-mains>
            </span>
            <span class="tooltip-icon" *ngIf="item?.tooltipPosition ==  undefined || item?.tooltipPosition == 'top'">
                <span *ngIf="item.type != 'progressBar' && item.type != 'alert'
                    && item.type != 'switch' && item.type != 'rangeSlider' && item.type != 'editor_js' && item?.formlyType != 'input' && item.tooltip
                    && !item?.tooltipWithoutIcon || false" nz-tooltip [nzTooltipTitle]="item.tooltip">
                    <span nz-icon [nzType]="item.tooltipIcon ?  item.tooltipIcon : 'question-circle'"
                        [style.color]="item['toolTipColor']" nzTheme="outline"></span>
                </span>
            </span>
            <div>
                <st-mains [item]="item" [isLast]="isLast" [form]="form" [screenName]="screenName" [screenId]="screenId"
                    *ngIf="item && !isShowContextMenu"></st-mains>

            </div>
        </div>
    </div>
</div>
