<div class="card-content  flex flex-wrap">
    <div class="{{item.hideExpression  === undefined || item.hideExpression == false   ? item.className : ''}}"
        *ngFor="let item of mainData">
        <ng-container *ngIf="item.type == 'multiFileUpload';else one">
            <div [ngClass]="{'highLight': item.highLight == true}"
                *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                        nzTheme="twotone"></span></span>
                <app-multi-file-upload
                    [multiFileUploadData]="item.chartCardConfig[0].uploadBtnLabel"></app-multi-file-upload>
            </div>
        </ng-container>
        <ng-template #one>
            <ng-container *ngIf="item.type == 'chart';else second">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <app-sales-card [salesdata]="item.chartCardConfig" *ngIf="item.type == 'chart' "></app-sales-card>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #second>
            <ng-container *ngIf="item.type == 'sectionCard';else third">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <!-- <app-growth-percentage-card [widgetSecondCard]="item.chartCardConfig">
                    </app-growth-percentage-card> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #third>
            <ng-container *ngIf="item.type == 'widgetSectionCard';else fourth">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <!-- <app-growth-graph-card [allChart]=" item.chartCardConfig">
                    </app-growth-graph-card> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #fourth>
            <ng-container *ngIf="item.type == 'browserCard';else fifth">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <!-- <app-visitor-browser-card [browserdata]="item.chartCardConfig">
                    </app-visitor-browser-card> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #fifth>
            <ng-container *ngIf="item.type == 'donutChart';else sixth">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <!-- <app-visitor-source-card [donutChart]="item.chartCardConfig">
                    </app-visitor-source-card> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #sixth>
            <ng-container *ngIf="item.type == 'donuteSaleChart';else seventh">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <!-- <app-sale-donute-card [saleDonutChart]="item.chartCardConfig">
                    </app-sale-donute-card> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #seventh>
            <ng-container *ngIf="item.type == 'salesAnalyticschart';else eight">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <!-- <app-sale-analytics-card [analyticsChart]="item.chartCardConfig">
                    </app-sale-analytics-card> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #eight>
            <ng-container *ngIf="item.type == 'card';else tenth">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <!-- <app-task-detail-card [widgetcard]="item.chartCardConfig"></app-task-detail-card> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #tenth>
            <ng-container *ngIf="item.type == 'header'; else eleventh">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <div *ngIf="item.tooltip" style="text-align: right;">
                            <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                    nzTheme="twotone"></span></span>
                        </div>
                    </div>
                    <app-heading [headingData]="item"></app-heading>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #eleventh>
            <ng-container *ngIf="item.type =='paragraph' ; else twelth">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <app-heading [headingData]="item"></app-heading>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #twelth>
            <ng-container *ngIf="item.type == 'button'; else thirteenth">
                <div [ngClass]="{'highLight': item.highLight == true}">
                    <app-block-buttons-card [softIconList]="item.chartCardConfig[0].buttonGroup[0]">
                    </app-block-buttons-card>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #thirteenth>
            <ng-container *ngIf="item.type =='linkButton'; else forteenth">
                <div [ngClass]="{'highLight': item.highLight == true}">
                    <app-block-buttons-card [softIconList]="item.chartCardConfig[0].buttonGroup[0]">
                    </app-block-buttons-card>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #forteenth>
            <ng-container *ngIf="item.type =='buttonGroup'; else fifteen">
                <div [ngClass]="{'highLight': item.highLight == true}">
                    <app-block-buttons-card [softIconList]="item.chartCardConfig[0].buttonGroup[0]">
                    </app-block-buttons-card>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #fifteen>
            <ng-container *ngIf="item.type =='dropdownButton'; else sixteen">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <app-block-buttons-card [softIconList]="item.chartCardConfig[0].buttonGroup[0]">
                    </app-block-buttons-card>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #sixteen>
            <ng-container *ngIf="item.forCommomComponentCondition =='gridListEditDelete';else seventeen">
                <div [ngClass]="{'highLight': item.highLight == true}">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <!-- <app-addorupdatetuigrid [gridData]="item">
                    </app-addorupdatetuigrid> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #seventeen>
            <ng-container *ngIf="item.forCommomComponentCondition =='simpleGridList';else eighteen">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <app-table></app-table>
                    <!-- <app-tui-grid [gridData]="item"></app-tui-grid> -->

                </div>
            </ng-container>
        </ng-template>
        <ng-template #eighteen>
            <ng-container *ngIf="item.type == 'progressBar'; else ninteen">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <app-progressbars [progressBarData]="item.chartCardConfig"></app-progressbars>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #ninteen>
            <ng-container *ngIf="item.type == 'divider' ; else twenty">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <app-divider [dividerData]="item"></app-divider>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #twenty>
            <ng-container *ngIf="item.type == 'video'; else twentyone">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <app-videos [videoData]="item.chartCardConfig"></app-videos>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #twentyone>
            <ng-container *ngIf="item.type == 'audio' ;else twentytwo">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <app-audio [audioData]="item.chartCardConfig"></app-audio>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #twentytwo>
            <ng-container *ngIf="item.type == 'browserCombineChart' ;else twentythree">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <!-- <app-browser-combine-chart
                        [browserCombinechartData]="item.chartCardConfig"></app-browser-combine-chart> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #twentythree>
            <ng-container *ngIf="item.type == 'tuiCalender' ;else twentyfour">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <!-- <app-tui-calendar [calendarData]="item"></app-tui-calendar> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #twentyfour>
            <ng-container *ngIf="item.type == 'sharedMessagesChart' ;else twentyfive">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <!-- <app-shared-messages-card [sharedMessagesData]="item.chartCardConfig"></app-shared-messages-card> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #twentyfive>
            <ng-container *ngIf="item.type == 'alert' ;else twentysix">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <app-new-alerts [alertData]="item.chartCardConfig"></app-new-alerts>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #twentysix>
            <ng-container *ngIf="item.type == 'simpleCardWithHeaderBodyFooter' ;else twentyseven">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <app-simple-card-with-header-body-footer
                        [SimpleCardWithHeaderBodyFooterData]="item.chartCardConfig[0].simpleCardWithHeaderBodyFooterConfig">
                    </app-simple-card-with-header-body-footer>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #twentyseven>
            <ng-container *ngIf="item.type == 'mainDashonicTabs' else twentyeight">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <app-tabs [tabs]="item.children"></app-tabs>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #twentyeight>
            <ng-container *ngIf="item.type == 'timeline' ;else twentynine">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <app-timeline-builder [timelineData]="item.chartCardConfig"></app-timeline-builder>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #twentynine>
            <ng-container *ngIf="item.type == 'multiFileUpload' ;else thirty">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">

                    <!-- <app-multi-file-upload [multiFileUploadData]="item.chartCardConfig"></app-multi-file-upload> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #thirty>
            <ng-container *ngIf="item.type == 'inputFields';else thirtyOne">
                <div *ngFor="let items of item.children">
                    <formly-form [fields]="items.formly" [model]="dataModel" [form]="form">
                    </formly-form>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #thirtyOne>
            <ng-container *ngIf="item.formlyType == 'stepper'; else thirtyTwo">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.formly[0].fieldGroup[0].templateOptions.hideExpression == false">
                    <div *ngIf="item.formly[0].fieldGroup[0].templateOptions.tooltip && item.formly[0].fieldGroup[0].templateOptions.tooltip!=''"
                        style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <formly-form [fields]="item.formly" [model]="dataModel" [form]="form">
                    </formly-form>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #thirtyTwo>
            <ng-container *ngIf="item.type == 'accordionButton'; else thirtyThree">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <app-accordion-button
                        [accordionData]="item.chartCardConfig[0].accordionConfig"></app-accordion-button>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #thirtyThree>
            <ng-container *ngIf="item.type == 'switch'; else thirtyforth">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <app-switch [switchData]="item"></app-switch>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #thirtyforth>
            <ng-container *ngIf="item.type == 'kanban' ; else thirtyfifth">
                <div style='margin-top: 1%; margin-bottom: 1%;' [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <!-- <app-kanban-boards [kanbanData]="item.chartCardConfig"></app-kanban-boards> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #thirtyfifth>
            <ng-container *ngIf="item.type == 'fixedDiv'; else thirtySix">
                <div class="div_button bg-blue-500"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <div *ngFor="let data of item.chartCardConfig[0].fixedDivChild">
                        <ng-container *ngIf="data.type == 'button';else second">
                            <app-block-buttons-card [softIconList]="data.chartCardConfig[0].buttonGroup[0]">
                            </app-block-buttons-card>
                        </ng-container>
                        <ng-template #second>
                            <ng-container *ngIf="data.type == 'linkButton';else third">
                                <app-block-buttons-card [softIconList]="data.chartCardConfig[0].buttonGroup[0]">
                                </app-block-buttons-card>
                            </ng-container>
                        </ng-template>
                        <ng-template #third>
                            <ng-container *ngIf="data.type == 'buttonGroup'">
                                <app-block-buttons-card
                                    [softIconList]="data.children[0].chartCardConfig[0].buttonGroup[0]">
                                </app-block-buttons-card>
                            </ng-container>
                        </ng-template>
                    </div>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #thirtySix>
            <ng-container *ngIf="item.formlyType == 'input'; else thirtySeven">
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div
                        [ngClass]="item.wrapper == 'formly-vertical-theme-wrapper' ? 'theme-body' : (item.dataOnly == 'data-only' ? 'data-only' : '')">
                        <formly-form [fields]="item.formly" [model]="dataModel" [form]="form">
                        </formly-form>
                        <!-- <button type="submit" class="btn btn-primary submit-button mt-2">Submit</button> -->
                    </div>
                </form>
            </ng-container>
        </ng-template>
        <ng-template #thirtySeven>
            <ng-container *ngIf="item.type == 'textEditor'; else thirtyEight">
                <div style='margin-top: 1%; margin-bottom: 1%;' [ngClass]="{'highLight': item.highLight == true} "
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <!-- <app-editors [editorData]="item"></app-editors> -->
                </div>
            </ng-container>
        </ng-template>
        <ng-template #thirtyEight>
            <ng-container *ngIf="item.type == 'breakTag' ; else thirtyNine">
                <div style="height: 0;">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <div [ngClass]="{'highLight': item.highLight == true}"
                        *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                        <br>
                    </div>
                </div>

            </ng-container>
        </ng-template>
        <ng-template #thirtyNine>
            <ng-container *ngIf="item.type == 'carouselCrossfade' ; else fourty">
                <div [ngClass]="{'highLight': item.highLight == true}"
                    *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div class="p-2">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                        <app-carousel-crossfade-card
                            [carouselslides]="item.chartCardConfig"></app-carousel-crossfade-card>
                    </div>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #fourty>
            <ng-container *ngIf="item.type == 'toastr' ; else fourtyOne">
                <ng-container *ngIf="!item.hideExpression">
                    <app-builder-toater [toastrData]="item"></app-builder-toater>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fourtyOne>
            <ng-container *ngIf="item.type == 'rangeSlider' ; else fourtyTwo">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <app-rang-inputs [rangSlider]="item"></app-rang-inputs>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fourtyTwo>
            <ng-container *ngIf="item.type == 'editor_js' ; else fourtyThree">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <!-- <app-editor-js></app-editor-js> -->
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fourtyThree>
            <ng-container *ngIf="item.type == 'imageUpload' ; else fourtyFour">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <img *ngIf="item.source" nz-image [style.height.px]="item.imagHieght"
                        [style.width.px]="item.imageWidth" class={{item.imageClass}} nzSrc={{item.source}}
                        alt={{item.alt}} />
                    <img *ngIf="item.base64Image" nz-image [style.height.px]="item.imagHieght"
                        [style.width.px]="item.imageWidth" class={{item.imageClass}} nzSrc={{item.source}}
                        alt={{item.alt}} />
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fourtyFour>
            <ng-container *ngIf="item.type == 'invoice' ; else fourtyFive">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <app-invoice-template [invoiceData]="item"></app-invoice-template>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fourtyFive>
            <ng-container *ngIf="item.type == 'affix' ; else fourtysix">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <app-affix [affixData]="item"></app-affix>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fourtysix>
            <ng-container *ngIf="item.type == 'transfer' ; else fourtyseven">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <app-transfer [transferData]="item"></app-transfer>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fourtyseven>
            <ng-container *ngIf="item.type == 'treeSelect' ; else fourtyeight">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <app-tree-select [treeSelectData]="item"></app-tree-select>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fourtyeight>
            <ng-container *ngIf="item.type == 'cascader' ; else fourtyNine">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <app-cascader [cascaderData]="item"></app-cascader>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fourtyNine>
            <ng-container *ngIf="item.type == 'avatar' ; else fifty">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <app-avatar [avatarData]="item"></app-avatar>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fifty>
            <ng-container *ngIf="item.type == 'badge' ; else fiftyOne">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <nz-badge [nzCount]='item.numberOfBadges'>
                        <a class="head-example"></a>
                    </nz-badge>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fiftyOne>
            <ng-container *ngIf="item.type == 'comment' ; else fiftyTwo">
                <ng-container *ngIf="item.hideExpression == false">
                    <span *ngIf="item.tooltip" nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon
                            nzType="question-circle" nzTheme="twotone"></span></span>
                    <app-comment [commentData]="item"></app-comment>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fiftyTwo>
            <ng-container *ngIf="item.type == 'popOver' ; else fiftyThree">
                <ng-container *ngIf="item.hideExpression == false">
                    <span *ngIf="item.tooltip" nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon
                            nzType="question-circle" nzTheme="twotone"></span></span>
                    <button nz-button nz-popover nzType="primary" nzPopoverTitle={{item.nzPopoverTitle}}
                        nzPopoverContent={{item.nzPopoverContent}}>{{item.btnLabel}}</button>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fiftyThree>
            <ng-container *ngIf="item.type == 'segmented' ; else fiftyFour">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <nz-segmented [nzOptions]="item.options" (nzValueChange)="handleIndexChange($event)"></nz-segmented>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fiftyFour>
            <ng-container *ngIf="item.type == 'nzTag' ; else fiftyFive">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <nz-tag [nzColor]='item.color' (nzOnClose)="onClose()">{{item.label}}</nz-tag>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fiftyFive>
            <ng-container *ngIf="item.type == 'spin' ; else fiftySix">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip *ngIf="item.tooltip" [nzTooltipTitle]='item.tooltip'><span nz-icon
                            nzType="question-circle" nzTheme="twotone"></span></span>
                    <nz-spin *ngIf="!item.loaderIcon" nzSimple [nzSize]="item.size" [nzDelay]="item.delayTime"
                        [nzTip]='item.loaderText'></nz-spin>
                    <ng-template #indicatorTemplate><span nz-icon [nzType]='item.loaderIcon'></span></ng-template>
                    <nz-spin *ngIf="item.loaderIcon" nzSimple [nzIndicator]="indicatorTemplate" nzSimple
                        [nzSpinning]="true" [nzSize]='item.size' [nzDelay]="item.delayTime"
                        [nzTip]='item.loaderText'></nz-spin>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fiftySix>
            <ng-container *ngIf="item.type == 'starrate' ; else fiftySeven">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <app-rate></app-rate>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fiftySeven>
            <ng-container *ngIf="item.type == 'modal' ; else fiftyEight">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <app-modal [modalData]="item"></app-modal>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fiftyEight>
            <ng-container *ngIf="item.type == 'popConfirm' ; else fiftyNine">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <app-popconfirm [popConfirmData]="item"></app-popconfirm>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #fiftyNine>
            <ng-container *ngIf="item.type == 'description' ; else sixty">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <app-description [descriptionData]="item"></app-description>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #sixty>
            <ng-container *ngIf="item.type == 'result' ; else sixtyOne">
                <ng-container *ngIf="!item.hideExpression">
                    <span *ngIf="item.tooltip" nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon
                            nzType="question-circle" nzTheme="twotone"></span></span>
                    <app-result [resulData]="item"></app-result>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #sixtyOne>
            <ng-container *ngIf="item.type == 'anchor' ; else sixtyTwo">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <app-anchor [anchorData]="item"></app-anchor>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #sixtyTwo>
            <ng-container *ngIf="item.type == 'backTop' ; else sixtyThree">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <app-back-top [backTopData]="item"></app-back-top>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #sixtyThree>
            <ng-container *ngIf="item.type == 'statistic' ; else sixtyFour">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <div *ngIf="item.tooltip" style="text-align: right;">
                        <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                                nzTheme="twotone"></span></span>
                    </div>
                    <app-statistic [statisticData]="item"></app-statistic>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #sixtyFour>
            <ng-container *ngIf="item.type == 'drawer' else sixtyFive">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <app-drawer [drawerData]="item"></app-drawer>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #sixtyFive>
            <ng-container *ngIf="item.type == 'skeleton' else sixtySix">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <app-skeleton [skeltonData]="item"></app-skeleton>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #sixtySix>
            <ng-container *ngIf="item.type == 'empty' else sixtySeven">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <app-empty [emptyData]="item"></app-empty>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #sixtySeven>
            <ng-container *ngIf="item.type == 'list' else sixtyEight">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>
                    <app-list [listData]="item"></app-list>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #sixtyEight>
            <ng-container *ngIf="item.type == 'treeView' else sixtyNine">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>`
                    <app-tree-view [treeListData]="item"></app-tree-view>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #sixtyNine>
            <ng-container *ngIf="item.type == 'mentions' else seventy">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>`
                    <app-mention [mentionData]="item"></app-mention>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #seventy>
            <ng-container *ngIf="item.type == 'message' else seventyOne">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>`
                    <app-message [messageData]="item"></app-message>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #seventyOne>
            <ng-container *ngIf="item.type == 'notification'">
                <ng-container *ngIf="item.hideExpression == false || item.hideExpression  == undefined">
                    <span nz-tooltip [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
                            nzTheme="twotone"></span></span>`
                    <app-notification [notificationData]="item"></app-notification>
                </ng-container>
            </ng-container>
        </ng-template>
    </div>
</div>