<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="card-content  flex flex-wrap">
        <div class="{{!item.hideExpression   ? item.className : ''}}"
            *ngFor="let item of mainData ; index as i; last as isLast">
            <div [ngClass]="{'highLight': item.highLight == true}"
                *ngIf="!item.hideExpression">
                <span [contextMenu]="oneContextMenu" *ngIf="isShowContextMenu">
                    <context-menu #oneContextMenu>
                        <ng-template contextMenuItem (execute)="copyJson(item)"
                            [visible]="isShowContextMenu">Copy</ng-template>
                        <ng-template contextMenuItem (execute)="comment(item)"
                            [visible]="isShowContextMenu">Comment</ng-template>
                    </context-menu>
                    <st-mains [item]="item" [dataModel]="dataModel"
                        (notify)="saveData($event)"
                        [screenName]="screenName" [screenId]="screenId"
                        [isLast]='isLast' [form]="form"
                        *ngIf="item"></st-mains>
                </span>
                <span class="tooltip-icon"
                    *ngIf="item?.tooltipPosition ==  undefined || item?.tooltipPosition == 'top'">
                    <span
                        *ngIf="item.type != 'progressBar' && item.type != 'alert'
                        && item.type != 'switch' && item.type != 'rangeSlider' && item.type != 'editor_js' && item?.formlyType != 'input' && item.tooltip 
                        && !item?.tooltipWithoutIcon || false" nz-tooltip
                        [nzTooltipTitle]="item.tooltip">
                        <span nz-icon nzType="question-circle"
                            [style.color]="item['toolTipColor']"
                            nzTheme="outline"></span>
                    </span>
                </span>
                <div>
                   


                    <div class="component-wrapper">
                        <span class="tooltip-icon"
                        *ngIf="item?.tooltipPosition == 'left'">
                        <span
                            *ngIf="item.type != 'progressBar' && item.type != 'alert'
                        && item.type != 'switch' && item.type != 'rangeSlider' && item.type != 'editor_js' && item?.formlyType != 'input' && item.tooltip 
                        && !item?.tooltipWithoutIcon || false" nz-tooltip
                            [nzTooltipTitle]="item.tooltip">
                            <span nz-icon nzType="question-circle"
                                [style.color]="item['toolTipColor']"
                                nzTheme="outline"></span>
                        </span>
                    </span>

                        <st-mains [item]="item" [isLast]="isLast"
                            (notify)="saveData($event)" [form]="form"
                            [screenName]="screenName" [screenId]="screenId"
                            *ngIf="item && !isShowContextMenu"></st-mains>

                            
                    <span class="tooltip-icon"
                    *ngIf="item?.tooltipPosition == 'right'">
                    <span
                        *ngIf="item.type != 'progressBar' && item.type != 'alert'
                  && item.type != 'switch' && item.type != 'rangeSlider' && item.type != 'editor_js' && item?.formlyType != 'input' && item.tooltip && !item?.tooltipWithoutIcon || false "
                        nz-tooltip [nzTooltipTitle]="item.tooltip">
                        <span nz-icon nzType="question-circle"
                            [style.color]="item['toolTipColor']"
                            nzTheme="outline"></span>
                    </span>
                </span>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>