<nz-tree [nzData]="treeData.nodes" [nzCheckable]="treeData.checkable" [nzShowExpand]="treeData.expand"
  [nzExpandedIcon]="multiExpandedIconTpl" [nzBlockNode]="treeData.blockNode" [nzShowLine]="treeData.showLine"
  [nzShowIcon]="treeData.showIcon" [nzDraggable]="treeData.draggable" [nzMultiple]="treeData.multiple"
  [nzExpandAll]="treeData.expandAll">

  <ng-template #multiExpandedIconTpl let-node let-origin="origin">
    <span *ngIf="!origin.isLeaf" nz-icon [nzType]="treeData.expandIcon" class="ant-tree-switcher-line-icon"></span>
    <span *ngIf="origin.isLeaf" nz-icon [nzType]="treeData.closingexpandicon"
      class="ant-tree-switcher-line-icon"></span>
  </ng-template>
</nz-tree>