<nz-tree [nzData]="treeData.nodes" 
[nzCheckable]="treeData.checkable" 
[nzShowExpand]="treeData.expand"
    [nzExpandedIcon]="multiExpandedIconTpl" 
    [nzBlockNode]="treeData.blockNode"
    [nzShowLine]="treeData.showLine"
    [nzShowIcon]="treeData.showIcon"
    [nzAsyncData]="treeData.asyncData"
    [nzDraggable]="treeData.draggable"
    [nzMultiple]="treeData.multiple"
    [nzHideUnMatched]="treeData.expandAll"
    [nzCheckStrictly]="treeData.checkStricktly"
    [nzExpandAll]="treeData.expandAll"
    (nzClick)="common('nzClick')"
    (nzDblClick)="common('nzDblClick')"
    (nzContextMenu)="common('nzContextMenu')"
    (nzCheckBoxChange)="common('nzCheckBoxChange')"
    (nzExpandChange)="common('nzExpandChange')"
    (nzSearchValueChange)="common('nzSearchValueChange')"
    (nzOnDragEnter)="common('nzOnDragEnter')"
    (nzOnDragOver)="common('nzOnDragOver')"
    (nzOnDragLeave)="common('nzOnDragLeave')"
    (nzOnDrop)="common('nzOnDrop')"
    (nzOnDragEnd)="common('nzOnDragEnd')"
    >

    <ng-template #multiExpandedIconTpl let-node let-origin="origin">
        <span
          *ngIf="!origin.isLeaf"
          nz-icon
          [nzType]="treeData.expandIcon"
          class="ant-tree-switcher-line-icon"
        ></span>
        <span *ngIf="origin.isLeaf" nz-icon [nzType]="treeData.closingexpandicon" class="ant-tree-switcher-line-icon"></span>
      </ng-template>
</nz-tree>