<div #monacoComponent></div>
<div class="general_faq mt-3">
  <form [formGroup]="actionForm">
    <div class="flex flex-wrap">
      <div class="w-1/4 mb-2">
        <nz-select class="form-select" formControlName="submissionType" aria-label="Default Select Example">
          <nz-option nzValue="-1" nzLabel="Select" selected></nz-option>
          <nz-option nzValue="onLoad" nzLabel="On Load" selected></nz-option>
          <nz-option nzValue="onClick" nzLabel="On Click" selected></nz-option>
        </nz-select>
      </div>
      <div class="w-1/4">
        <nz-select class="form-select" formControlName="actionLink" aria-label="Default Select Example">
          <nz-option nzValue="select" nzLabel="Select" selected></nz-option>
          <nz-option nzValue="get" nzLabel="GET"></nz-option>
          <nz-option nzValue="post" nzLabel="POST"></nz-option>
          <nz-option nzValue="put" nzLabel="PUT"></nz-option>
          <nz-option nzValue="delete" nzLabel="DELETE"></nz-option>
        </nz-select>
      </div>
      <div class="w-1/4">
        <nz-select class="form-select" formControlName="actionType" aria-label="Default Select Example">
          <nz-option nzValue="-1" nzLabel="Select" selected></nz-option>
          <nz-option nzValue="email" nzLabel="Email"></nz-option>
          <nz-option nzValue="query" nzLabel="Query"></nz-option>
          <nz-option nzValue="confirmEmail" nzLabel="Http"></nz-option>
          <nz-option nzValue="confirmEmail" nzLabel="Confirm Email"></nz-option>
        </nz-select>
      </div>
      <div class="">
        <button nz-button nzType="primary" (click)="addActionFormGroup()">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          Add Action
        </button>
      </div>
    </div>

    <div class="mb-3" formArrayName="Actions">
      <ng-container *ngFor="let ActionForm of ActionsForms.controls; let i = index">
        <!-- <button  nz-button nzType="primary"type="button" class="btn btn-warning btn-sm">
            Form # <span class="badge badge-dark">{{i}}</span>
          </button> -->
        <div class="flex flex-wrap mt-1" style="border: 1px solid rgb(197 187 187); border-radius: 5px;"
          [formGroupName]="i">
          <div class="w-10/12 p-1">
            <div *ngIf="ActionsForms.value[i].type == 'email'">
              <nz-form-label [nzSm]="6" [nzXs]="24">Email</nz-form-label>
              <nz-radio-group class="ml-2" formControlName="sqlType" nzButtonStyle="solid"
                (ngModelChange)="changePostgress(ActionsForms.value[i].type, i)">
                <label nz-radio-button nzValue="sql">Sql</label>
                <label nz-radio-button nzValue="mySql">MySql</label>
                <label nz-radio-button nzValue="postgress">Postgress</label>
              </nz-radio-group>
              <input nz-input type="text" formControlName="referenceId" style="width: 18%;margin-bottom: 1%;">
              <ngx-monaco-editor class="textEditorContainer" [options]="editorOptions" formControlName="email" (init)="editorInit($event)"></ngx-monaco-editor>
              <!-- <textarea nz-input type="text" rows="3" class="form-control" formControlName="email"></textarea> -->
            </div>
            <div *ngIf="ActionsForms.value[i].type == 'query'">
              <nz-form-label [nzSm]="6" [nzXs]="24">Query</nz-form-label>
              <input nz-input type="text" formControlName="referenceId" class="form-control"
                style="width: 18%;margin-bottom: 1%;">
              <nz-radio-group class="ml-2" formControlName="sqlType" nzButtonStyle="solid"
                (ngModelChange)="changePostgress(ActionsForms.value[i].type, i)">
                <label nz-radio-button nzValue="sql">Sql</label>
                <label nz-radio-button nzValue="mySql">MySql</label>
                <label nz-radio-button nzValue="postgress">Postgress</label>
              </nz-radio-group>
              <ngx-monaco-editor class="textEditorContainer" [options]="editorOptions" [id]="'query' + i"
               formControlName="query" (init)="editorInit($event)"></ngx-monaco-editor>

              <!-- <textarea nz-input type="text" rows="3" class="form-control" [id]="'query' + i"
                formControlName="query"></textarea> -->
            </div>
            <div *ngIf="ActionsForms.value[i].type == 'confirmEmail'">
              <nz-form-label [nzSm]="6" [nzXs]="24">Confirm Email</nz-form-label>
              <nz-radio-group class="ml-2" formControlName="sqlType" nzButtonStyle="solid"
                (ngModelChange)="changePostgress(ActionsForms.value[i].type, i)">
                <label nz-radio-button nzValue="sql">Sql</label>
                <label nz-radio-button nzValue="mySql">MySql</label>
                <label nz-radio-button nzValue="postgress">Postgress</label>
              </nz-radio-group>
              <input nz-input type="text" formControlName="referenceId" style="width: 18%;margin-bottom: 1%;">
              <ngx-monaco-editor class="textEditorContainer" [options]="editorOptions" [id]="'confirmEmail' + i"
              formControlName="confirmEmail" (init)="editorInit($event)"></ngx-monaco-editor>
              <!-- <textarea nz-input type="text" rows="3" class="form-control" [id]="'confirmEmail' + i"
                formControlName="confirmEmail"></textarea> -->
            </div>
          </div>
          <div class="w-2/12 " style="margin-top: 7%;">
            <button nz-button nzType="primary" nzDanger (click)="removeActionFormGroup(i)">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
            <button nz-button nzType="primary" nzDanger class="ml-2"
              (click)="duplicateActionFormGroup(i,ActionsForms.value[i].type)">
              <span nz-icon nzType="copy" nzTheme="outline"></span>
            </button>

          </div>
        </div>
      </ng-container>
    </div>

    <button nz-button nzType="primary" (click)="SaveAction()" class="mt-2"><span nz-icon nzType="save"
        nzTheme="outline"></span>
      Save</button>
  </form>
</div>
