<div class="user-builder-layout">
    <nz-layout class="app-layout">
        <nz-header>
            <div class="app-header">
                <div class="b-brand">
                    <!-- <div class="b-logo"> -->
                    <img src="assets/images/logo.png" alt="">
                    <!-- </div> -->
                    <div (click)="isCollapsed = !isCollapsed">
                        <i [class]="isCollapsed ? 'fa-regular fa-arrow-right-long' : 'fa-regular fa-bars'"></i>
                    </div>
                </div>
                <div class="header-action-btns">
                    <div class="nav-item">
                        <i class="fa-light fa-magnifying-glass"></i>
                    </div>
                    <div class="nav-item">
                        <i class="fa-light fa-grid-2"></i>
                    </div>
                    <div class="nav-item">
                        <i class="fa-light fa-bell"></i>
                    </div>
                    <div class="nav-item">
                        <i class="fa-light fa-earth-asia"></i>
                    </div>
                    <div class="nav-item">
                        <i class="fa-light fa-gear"></i>
                    </div>
                    <div class="nav-item">
                        <a nz-dropdown [nzDropdownMenu]="menu">
                            <div class="user-profile-header">
                                <img src="assets/images/user.png" alt="">
                            </div>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu nzSelectable>
                                <li nz-menu-item>1st menu item</li>
                                <li nz-menu-item>2nd menu item</li>
                                <li nz-menu-item>3rd menu item</li>
                                <li nz-menu-item nzDanger>4th danger item</li>
                            </ul>
                        </nz-dropdown-menu>
                    </div>
                </div>
            </div>
        </nz-header>


        <nz-layout class="main-layout b-horizontal-menu">
            <nz-sider class="menu-sidebar" nzTheme="light" nzCollapsible nzWidth="240px" nzBreakpoint="md"
                [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
                <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed" nzMode="horizontal">
                    <li nz-menu-item class="!p-0" style="padding: 0 !important;">
                        <!-- <i class="fa-light fa-table-columns"></i> -->
                        <!-- <span>Dashboard</span> -->
                        <ul class=" !rounded-none" nz-menu nzMode="horizontal">
                            <!-- <li
                              nz-submenu
                              [(nzOpen)]="openMap['sub1']"
                              (nzOpenChange)="openHandler('sub1')"
                              nzTitle="Dashboard"
                              nzIcon="pic-center"
                              
                            >
                              <ul>
                                <li nz-menu-group nzTitle="Item 1">
                                  <ul>
                                    <li nz-menu-item>Option 1</li>
                                    <li nz-menu-item>Option 2</li>
                                  </ul>
                                </li>
                                <li nz-menu-group nzTitle="Item 2">
                                  <ul>
                                    <li nz-menu-item>Option 3</li>
                                    <li nz-menu-item>Option 4</li>
                                  </ul>
                                </li>
                              </ul>
                            </li> -->
                            <li class="!p-0 !rounded-none" nz-submenu nzPlacement="bottomLeft" nzTitle="Dashboard"
                            nzIcon="pic-center">
                                <ul>
                                  <li nz-menu-group nzTitle="Item 1">
                                    <ul>
                                      <li nz-menu-item>Option 1</li>
                                      <li nz-menu-item>Option 2</li>
                                    </ul>
                                  </li>
                                  <li nz-menu-group nzTitle="Item 2">
                                    <ul>
                                      <li nz-menu-item>Option 3</li>
                                      <li nz-menu-item>Option 4</li>
                                      <li nz-submenu nzTitle="Sub Menu">
                                        <ul>
                                          <li nz-menu-item nzDisabled>Option 5</li>
                                          <li nz-menu-item>Option 6</li>
                                        </ul>
                                      </li>
                                      <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                                        <ul>
                                          <li nz-menu-item>Option 5</li>
                                          <li nz-menu-item>Option 6</li>
                                        </ul>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <i class="fa-light fa-square-list"></i>
                        <span>Forms</span>
                    </li>
                    <li nz-menu-item>
                        <i class="fa-light fa-feather"></i>
                        <span>Ui Features</span>
                    </li>
                    <li nz-menu-item>
                        <i class="fa-light fa-message-captions"></i>
                        <span>Modal & Overlays</span>
                    </li>
                    <li nz-menu-item>
                        <i class="fa-light fa-sidebar"></i>
                        <span>Extra Components</span>
                    </li>
                    <li nz-menu-item>
                        <i class="fa-light fa-messages"></i>
                        <span>Charts</span>
                    </li>
                    <li nz-menu-item>
                        <i class="fa-light fa-files"></i>
                        <span>File</span>
                    </li>
                    <li nz-menu-item>
                        <i class="fa-light fa-pen-to-square"></i>
                        <span>Editors</span>
                    </li>
                    <li nz-submenu nzOpen [nzTitle]="title">
                        <ng-template #title>
                            <i class="fa-light fa-table"></i>
                            <span>Tables & Date</span>
                        </ng-template>
                        <ul>
                            <li nz-menu-item nzMatchRouter>
                                <a routerLink="/welcome">Welcome</a>
                            </li>
                            <li nz-menu-item nzMatchRouter>
                                <a>Monitor</a>
                            </li>
                            <li nz-menu-item nzMatchRouter>
                                <a>Workplace</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nz-sider>

            <nz-content>
                <div class="b-card top-action-bar p-3">
                    <div class="page-selector">
                        <nz-form-control nzErrorTip="Please Select Page">
                            <nz-select id="gender" formControlName="gender" nzPlaceHolder="Please Select Page">
                                <nz-option nzValue="male" nzLabel="male"></nz-option>
                                <nz-option nzValue="female" nzLabel="female"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </div>
                    <div class="action-bar">
                        <div class="component-actions">
                            <button nz-button nzType="link" class="active" nz-tooltip nzTooltipTitle="Preview" nzTooltipColor="#2563EB">
                                <i class="fa-regular fa-eye"></i>
                            </button>
                            <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Undo" nzTooltipColor="#2563EB">
                                <i class="fa-regular fa-arrow-rotate-left"></i>
                            </button>
                            <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Redo" nzTooltipColor="#2563EB">
                                <i class="fa-regular fa-arrow-rotate-right"></i>
                            </button>
                            <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Save" nzTooltipColor="#2563EB">
                                <i class="fa-regular fa-floppy-disk"></i>
                            </button>
                            <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Source Code" nzTooltipColor="#2563EB">
                                <i class="fa-regular fa-brackets-curly"></i>
                            </button>
                            <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Delete" nzTooltipColor="#2563EB">
                                <i class="fa-regular fa-trash"></i>
                            </button>
                        </div>

                        <div class="screen-sizing">
                            <button nz-button nzType="link" class="active">
                                <i class="fa-solid fa-display"></i>
                            </button>
                            <button nz-button nzType="link">
                                <i class="fa-solid fa-laptop"></i>
                            </button>
                            <button nz-button nzType="link">
                                <i class="fa-solid fa-tablet-screen-button"></i>
                            </button>
                            <button nz-button nzType="link">
                                <i class="fa-solid fa-mobile-screen"></i>
                            </button>
                        </div>
                        <div class="action-drop-down">
                            <button nz-button nzType="primary" class="actions-btn" nz-dropdown [nzDropdownMenu]="menu4">
                                Actions
                                <span nz-icon nzType="down"></span>
                            </button>
                            <nz-dropdown-menu #menu4="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item>menu4 1st menu item</li>
                                    <li nz-menu-item>menu4 2nd menu item</li>
                                    <li nz-menu-item>menu4 3rd menu item</li>
                                </ul>
                            </nz-dropdown-menu>
                            <nz-space>
                                <button *nzSpaceItem (click)="showLarge()" nz-button nzType="primary"
                                    class="upload-btn">
                                    <i class="fa-light fa-gear"></i>
                                </button>
                            </nz-space>


                            <button nz-button nzType="primary" class="upload-btn">
                                <i class="fa-regular fa-arrow-up-from-bracket"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="builder-main-body ">
                    <div class="builder-tree b-card ">
                        <nz-input-group class="input-group-icon">
                            <input type="text" nz-input placeholder="input search text" />
                            <i class="fa-regular fa-magnifying-glass"></i>
                        </nz-input-group>
                        <div class="b-tree">
                            <nz-tree nzBlockNode [nzData]="nodes" (nzClick)="activeNode($event)"
                                (nzDblClick)="openFolder($event)" [nzTreeTemplate]="nzTreeTemplate"></nz-tree>
                            <ng-template #nzTreeTemplate let-node let-origin="origin">
                                <span class="custom-node">
                                    <span *ngIf="!node.isLeaf">
                                        <span nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
                                            (click)="openFolder(node)"></span>
                                        <span class="folder-name">{{ node.title }}</span>
                                    </span>
                                    <span *ngIf="node.isLeaf">
                                        <span nz-icon nzType="file"></span>
                                        <span class="file-name">{{ node.title }}</span>
                                    </span>
                                </span>
                            </ng-template>

                        </div>
                    </div>
                    <div class="b-content-body">

                        <div class="mb-4 h-[70px] bg-white flex items-center space-x-12 rounded">
                            <div class="flex h-[30px] w-fit items-center space-x-2 ml-5">
                              <button
                                class="text-[16px] font-medium leading-normal not-italic border-b-2 text-[#2563EB] border-[#2563EB] w-fit pb-1"
                                nz-dropdown
                                nzTrigger="click"
                                [nzDropdownMenu]="detailmenu"
                              >
                                Details
                                <span nz-icon nzType="down"></span>
                              </button>

                            </div>
                        
                            <div class="flex h-[30px] w-fit items-center space-x-2">
                              <p
                                class="text-[16px] font-medium not-italic text-[#73757A] border-b-2 border-transparent transition-colors cursor-pointer hover:text-[#2563EB] hover:border-[#2563EB] w-fit pb-1"
                              >
                                Resolution
                              </p>
                            </div>
                            <div class="flex h-[30px] w-fit items-center space-x-2">
                              <p
                                class="text-[16px] font-medium not-italic text-[#73757A]  border-b-2 border-transparent transition-all cursor-pointer hover:text-[#2563EB] hover:border-[#2563EB] w-fit pb-1"
                              >
                                Tasks
                              </p>
                            </div>
                            <div class="flex h-[30px] w-fit items-center space-x-2">
                              <p
                                class="text-[16px] font-medium not-italic text-[#73757A]  border-b-2 border-transparent transition-all cursor-pointer hover:text-[#2563EB] hover:border-[#2563EB] w-fit pb-1"
                              >
                                CheckList
                              </p>
                            </div>
                            <div class="flex h-[30px] w-fit items-center space-x-2">
                              <p
                                class="text-[16px] font-medium not-italic text-[#73757A]  border-b-2 border-transparent transition-all cursor-pointer hover:text-[#2563EB] hover:border-[#2563EB] w-fit pb-1"
                              >
                                Worklogs
                              </p>
                            </div>
                            <div class="flex h-[30px] w-fit items-center space-x-2">
                              <p
                                class="text-[16px] font-medium not-italic text-[#73757A]  border-b-2 border-transparent transition-all cursor-pointer hover:text-[#2563EB] hover:border-[#2563EB] w-fit pb-1"
                              >
                                Time Analysis
                              </p>
                            </div>
                            <div class="flex h-[30px] w-fit items-center space-x-2">
                              <p
                                class="text-[16px] font-medium not-italic text-[#73757A]  border-b-2 border-transparent transition-all cursor-pointer hover:text-[#2563EB] hover:border-[#2563EB] w-fit pb-1"
                              >
                                History
                              </p>
                            </div>
                          </div>

                          <!-- menu items for detail -->
                          <nz-dropdown-menu #detailmenu="nzDropdownMenu">
                            <ul nz-menu>
                              <li nz-menu-item>1st menu item</li>
                              <li nz-menu-item>2nd menu item</li>
                              <li nz-menu-divider></li>
                              <li nz-menu-item nzDisabled>disabled menu item</li>
                              <li nz-submenu nzTitle="sub menu">
                                <ul>
                                  <li nz-menu-item>3rd menu item</li>
                                  <li nz-menu-item>4th menu item</li>
                                </ul>
                              </li>
                              <li nz-submenu nzDisabled nzTitle="disabled sub menu">
                                <ul>
                                  <li nz-menu-item>3rd menu item</li>
                                  <li nz-menu-item>4th menu item</li>
                                </ul>
                              </li>
                            </ul>
                          </nz-dropdown-menu>
                          <!-- menu items for detail -->

                          <div class="mb-4 h-[70px] bg-white flex items-center space-x-12 rounded px-10 " >
                            <div class="flex space-x-10 items-center w-fit" >
                              <i class="fa-thin fa-star text-lg"></i>
                              <p class="text-[#64748B] text-base not-italic font-medium " >Tabs</p>
                            </div>
                            <div class="flex space-x-10 items-center w-fit" >
                              <i class="fa-thin fa-star text-lg"></i>
                              <p class="text-[#64748B] text-base not-italic font-medium " >Tabs</p>
                            </div>
                            <div class="flex space-x-10 items-center w-fit" >
                              <i class="fa-thin fa-star text-lg"></i>
                              <p class="text-[#64748B] text-base not-italic font-medium " >Tabs</p>
                            </div>
                        </div>

                        <div class="b-card form-card-body">
                            <nz-collapse [nzExpandIconPosition]="'right'">
                                <nz-collapse-panel [nzHeader]="formhead" [nzActive]="true">
                                    <ng-template #formhead>
                                        <div class="coll-header">
                                            <div>
                                                <h6>Form 1</h6>
                                            </div>
                                            <div>
                                                <a href="" class="nav-link">Details</a>
                                                <a href="" class="nav-link">Assign</a>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <div>
                                        <div class="flex flex-wrap">
                                            <div class="w-1/2" *ngFor="let item of fields">
                                                <div class="theme-body">
                                                    <div *ngIf="item">
                                                        <formly-form [model]="model" [fields]="item.fieldGroup"
                                                            [options]="options" [form]="form"></formly-form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="coll-bottom">
                                            <button nz-button nzType="primary">Reply</button>
                                            <button nz-button nzType="default" class="btn-secondary">Forward</button>
                                        </div>
                                    </div>
                                </nz-collapse-panel>
                            </nz-collapse>
                        </div>
                        <div class="b-card b-table">
                            <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
                                <thead>
                                    <tr>
                                        <th [nzWidth]="column?.width"
                                            *ngFor="let column of listOfColumns; trackBy: trackByName">
                                            {{ column.name }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of filterTable.data">
                                        <td>
                                            <label nz-checkbox></label>
                                        </td>
                                        <td>
                                            <i class="fa-light fa-envelope"></i>
                                        </td>
                                        <td>
                                            <i class="fa-light fa-file"></i>
                                        </td>
                                        <td>
                                            <i class="fa-light fa-pen-to-square"></i>
                                        </td>
                                        <td>
                                            <i class="fa-light fa-user"></i>
                                        </td>
                                        <td>3</td>
                                        <td>
                                            <i class="fa-light fa-cart-shopping"></i>
                                        </td>
                                        <td>
                                            <i class="fa-solid fa-circle-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa-light fa-share-nodes"></i>
                                        </td>
                                        <td class="text-primary">Demo10</td>
                                        <td>Shawn</td>
                                        <td>01/07/2023</td>
                                        <td>Closed</td>
                                        <td> <i class="fa-solid fa-circle-small"></i> Low</td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </div>
                </div>
            </nz-content>
        </nz-layout>
    </nz-layout>
    <nz-drawer nzWrapClassName="drawer-body" [nzSize]="size" [nzVisible]="visible" nzPlacement="right"
        [nzTitle]="drawer" (nzOnClose)="close()">
        <ng-template #drawer>
            <span>Menu Design</span>
        </ng-template>
        <ng-container *nzDrawerContent>
            <nz-tabset>
                <nz-tab nzTitle="Application Menu">
                    <div class="card-header">
                        Application Menu Configuration
                    </div>
                    <div class="color-picker-section">
                        <h3>FONT DESIGN</h3>
                        <h6>Choose Font Design</h6>
                        <div class="options-list">
                            <div class="option">
                                <p>Font Family</p>
                                <div class="box">
                                    <nz-select ngModel="Uppercase">
                                        <nz-option nzValue="Uppercase" nzLabel="Uppercase"></nz-option>
                                        <nz-option nzValue="Uppercase" nzLabel="Uppercase"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div class="option">
                                <p>Background Color</p>
                                <div class="box">
                                    <input type="color" class="input-color">
                                    <span>#27292D</span>
                                </div>
                            </div>
                            <div class="option">
                                <p>Text Color</p>
                                <div class="box">
                                    <input type="color" class="input-color">
                                    <span>#27292D</span>
                                </div>
                            </div>
                            <div class="option">
                                <p>Active Color</p>
                                <div class="box">
                                    <input type="color" class="input-color">
                                    <span>#27292D</span>
                                </div>
                            </div>
                            <div class="option">
                                <p>Active Text Color</p>
                                <div class="box">
                                    <input type="color" class="input-color">
                                    <span>#27292D</span>
                                </div>
                            </div>
                            <div class="option">
                                <p>Hover Text Color</p>
                                <div class="box">
                                    <input type="color" class="input-color">
                                    <span>#27292D</span>
                                </div>
                            </div>
                            <div class="option">
                                <p>Text Size</p>
                                <div class="box">
                                    <input type="text" class="input-text" name="" id="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="color-picker-section">
                        <h3>ICON DESIGN</h3>
                        <h6>Choose icon Design</h6>
                        <div class="options-list">

                            <div class="option">
                                <p>Icon Color</p>
                                <div class="box">
                                    <input type="color" class="input-color">
                                    <span>#27292D</span>
                                </div>
                            </div>
                            <div class="option">
                                <p>Hover Icon Color</p>
                                <div class="box">
                                    <input type="color" class="input-color">
                                    <span>#27292D</span>
                                </div>
                            </div>
                            <div class="option">
                                <p>Active Icon Color</p>
                                <div class="box">
                                    <input type="color" class="input-color">
                                    <span>#27292D</span>
                                </div>
                            </div>
                            <div class="option">
                                <p>Icon Size</p>
                                <div class="box">
                                    <input type="text" class="input-text" name="" id="">
                                </div>
                            </div>
                            <div class="option">
                                <p>Icon Type</p>
                                <div class="box">
                                    <nz-select ngModel="Icon Type">
                                        <nz-option nzValue="Icon Type" nzLabel="Icon Type"></nz-option>
                                        <nz-option nzValue="Icon Type" nzLabel="Icon Type"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="color-picker-section">
                        <h3>ICON DESIGN</h3>
                        <h6>Choose icon Design</h6>
                        <div class="options-list2">
                            <div class="option2">
                                <div class="banner">
                                    <img src="assets/images/banner.png" alt="">
                                </div>
                                <span>Design 01</span>
                            </div>
                            <div class="option2">
                                <div class="banner">
                                    <img src="assets/images/banner.png" alt="">
                                </div>
                                <span>Design 02</span>
                            </div>
                            <div class="option2">
                                <div class="banner">
                                    <img src="assets/images/banner.png" alt="">
                                </div>
                                <span>Design 03</span>
                            </div>
                            <div class="option2">
                                <div class="banner">
                                    <img src="assets/images/banner.png" alt="">
                                </div>
                                <span>Design 04</span>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-bottom">
                        <button nz-button nzType="primary">Save</button>
                        <button nz-button nzType="default" class="btn-secondary">Reset</button>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="In Page Menu">Content of Tab Pane 2</nz-tab>
            </nz-tabset>
        </ng-container>
    </nz-drawer>
</div>