<nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <button nz-button (click)="drawer()" nzType="primary" class="btn"><i class="fa-regular fa-plus mr-1.5"></i>Add
        user</button>
    <nz-table #basicTable [nzData]="listOfData">
        <thead>
            <tr>
                <!-- <th>Application Id</th>
                <th>Organization Id</th>
                <th>Password</th> -->
                <th>User Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <!-- <td>{{data?.applicationId}}</td>
                <td>{{data?.organizationId}}</td>
                <td>{{data?.password}}</td> -->
                <td>{{data?.username}}</td>
                <td [hidden]="edit == data._id">{{data?.status ? data?.status : 'Pending' }}</td>
                <td [hidden]="edit != data._id">
                    <select [(ngModel)]="data.status"
                        class="px-3 py-1.5 rounded-[4px] bg-white border border-gray-300 hover:text-blue-600 hover:border-blue-600">
                        <option class="text-black mx-2" value="Pending">Pending</option>
                        <option class="text-black mx-2" value="Approved">Approve
                    </select>
                </td>
                <td class="!text-center">
                    <i (click)="editFunc(data)" *ngIf="edit !== data._id"
                        class="fa-regular !text-sm fa-pencil text-blue-500"></i>
                    <i (click)="showDeleteConfirm(data)" *ngIf="edit !== data._id"
                        class="fa-regular !text-sm fa-trash text-red-500 ml-2"></i>
                    <div class="flex justify-center items-center" *ngIf="edit == data._id">
                        <i (click)="saveEdit(data)" class="fa-regular !text-sm fa-save text-blue-500 mr-2.5"></i>
                        <!-- <i  class="fa-regular !text-sm fa-times text-red-500 "></i> -->
                        <i (click)="cancelEdit(data)" class="fa-solid fa-circle-xmark !text-sm text-red-500"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>