<nz-timeline [nzPending]="timelineData.pendingText" [nzPendingDot]="pendingIcon" [nzReverse]="timelineData.reverse"
    [nzMode]="timelineData.mode">
    <ng-container *ngFor="let item of timelineData.data">
        <nz-timeline-item [nzColor]="item.timecolor" [nzDot]="characterIcon" [nzPosition]="item.position"
            [nzLabel]="item.labelText"><nz-card>
                <div style="color:#74788d">{{item.date}}</div>
                <div style="font-size: 16px!important; margin-top: 1rem!important;">{{item.title | translate}}</div>
                <div style="color:#74788d">{{item.timeLineDescription}}</div>
            </nz-card>
        </nz-timeline-item>
        <ng-template #characterIcon>
            <span *ngIf="item?.dotIcon">
                <st-icon  [type]="timelineData?.iconType || 'outline'" [icon]="item?.dotIcon"
                 [hoverIconColor]="timelineData?.hoverIconColor || ''" [size]="timelineData?.iconSize" [color]="timelineData?.iconColor"></st-icon>
              </span>
        </ng-template>
    </ng-container>

</nz-timeline>

<ng-template #pendingIcon>
    <span *ngIf="timelineData?.mainIcon">
        <st-icon  [type]="timelineData?.iconType || 'outline'" [icon]="timelineData?.mainIcon"
         [hoverIconColor]="timelineData?.hoverIconColor || ''" [size]="timelineData?.iconSize" [color]="timelineData?.iconColor"></st-icon>
      </span>
</ng-template>