<div class=" general_faq mt-3">
  <div *ngIf="dynmaicRule  && UIRule == false" style="position:relative ;">
    <form [formGroup]="buisnessForm">
      <div formArrayName="buisnessRule">
        <div *ngFor="let employee of buisnessRule().controls; let i=index">
          <div class="row" [formGroupName]="i"
            style="border: 1px solid rgb(197 187 187); border-radius: 5px;padding: 1%;">
            <div class="flex flex-wrap ">

              <h3 class="text-lg mr-1">If</h3>
              <div class="w-1/6 pr-1">
                <nz-select nzShowSearch nzAllowClear formControlName="ifCondition"
                  (change)="changeDynamicBuisnessRuleIf()">
                  <nz-option [nzLabel]="ct.props.label" [nzValue]="ct.key"
                    *ngFor="let ct of buisnessRuleData"></nz-option>
                </nz-select>
              </div>
              <div class="w-1/6 ml-1">
                <nz-select nzShowSearch nzAllowClear formControlName="oprator">
                  <nz-option [nzLabel]="ct.name" [nzValue]="ct.key"
                    *ngFor="let ct of BuisnessRuleCondationList"></nz-option>
                </nz-select>
              </div>
              <div class="w-1/12 ml-1">
                <input nz-input type="text" placeholder="Enter value" id="getValue{{i}}" formControlName="getValue"
                  required class="form-control" name="getValue{{i}}" />
              </div>

              <h4 class="text-lg ml-2 mr-1">then</h4>
              <div class="w-1/6">
                <nz-select nzShowSearch nzAllowClear formControlName="target">
                  <nz-option [nzLabel]="ct.props.label" [nzValue]="ct.key"
                    *ngFor="let ct of buisnessRuleTargetList"></nz-option>
                </nz-select>
              </div>
              <div class="w-1/6 ml-1">
                <nz-select nzShowSearch nzAllowClear formControlName="opratorForTraget">
                  <nz-option [nzLabel]="ct.name" [nzValue]="ct.key"
                    *ngFor="let ct of BuisnessRuleCondationList"></nz-option>
                </nz-select>
              </div>
              <div class="w-1/12 ml-1">
                <input nz-input type="text" placeholder="Enter value" id="resultValue{{i}}"
                  formControlName="resultValue" required class="form-control " name="resultValue{{i}}" />
              </div>
              <div class="w-1/12 ml-1">
                <button nz-button nzType="primary" nzDanger (click)="removeBuisnessRule(i)">
                  <span nz-icon nzType="delete" nzTheme="outline" class="-mt-9"></span>
                </button>
              </div>
            </div>

            <div class="grid lg:grid-cols-2">
              <div class="w-full ">
                <div formArrayName="conditional">
                  <div *ngFor="let skill of buisnessRuleSkills(i).controls; let skillIndex=index">
                    <div [formGroupName]="skillIndex">
                      <div class="flex flex-wrap mt-4">

                        <div class="mr-1">
                          <button nz-button nzType="primary" class="" id="btn{{i}},{{skillIndex}}"
                            (click)="buttonTextCahnge(i,skillIndex)">
                            {{this.buisnessRuleSkills(i).at(skillIndex).get("condType")?.value}}
                          </button>
                        </div>
                        <div class="w-1/4">
                          <nz-select nzShowSearch nzAllowClear formControlName="condifCodition">
                            <nz-option [nzLabel]="ct.props.label" [nzValue]="ct.key"
                              *ngFor="let ct of buisnessRuleData"></nz-option>
                          </nz-select>
                          <!-- <div class="w-1/4">
                            <input nz-input type="text" placeholder="Enter condType" id="condType{{i}},{{skillIndex}}"
                              formControlName="condType" required class="form-control ml-1"
                              name="condType{{i}},{{skillIndex}}">
                          </div> -->
                        </div>
                        <div class="w-1/4 ml-1">
                          <nz-select nzShowSearch nzAllowClear formControlName="condOperator">
                            <nz-option [nzLabel]="ct.name" [nzValue]="ct.key"
                              *ngFor="let ct of BuisnessRuleCondationList"></nz-option>
                          </nz-select>
                        </div>
                        <div class=" w-1/4 ml-1">
                          <input nz-input type="text" placeholder="Enter value" id="condValue{{i}}" formControlName="condValue"
                            required class="form-control " name="condValue{{i}}" />
                        </div>

                        <div class="ml-1">
                          <button nz-button nzType="primary" nzDanger (click)="removeBuisnessRuleSkill(i,skillIndex)">
                            <span nz-icon nzType="delete" nzTheme="outline" class="-mt-9"></span></button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="mt-2">
                  <button nz-button nzType="primary"  (click)="addBuisnessRuleSkill(i)">
                    <b>+</b> Condition</button>
                </div>
              </div>
              <div class="w-full">
                <div formArrayName="thenCondition">
                  <div *ngFor="let skill of buisnessRuleThen(i).controls; let thenIndex=index">
                    <div [formGroupName]="thenIndex" class="row">
                      <div class="col-md-11 ">
                        <div class="flex flex-wrap mt-4">
                          <h4 class="text-lg">then</h4>
                          <div class="w-1/4 ml-2">
                            <nz-select nzShowSearch nzAllowClear formControlName="thenTarget">
                              <nz-option [nzLabel]="ct.props.label" [nzValue]="ct.key"
                                *ngFor="let ct of buisnessRuleTargetList"></nz-option>
                            </nz-select>
                          </div>
                          <div class="w-1/4 ml-1">
                            <nz-select nzShowSearch nzAllowClear formControlName="thenOpratorForTraget">
                              <nz-option [nzLabel]="ct.name" [nzValue]="ct.key"
                                *ngFor="let ct of BuisnessRuleCondationList"></nz-option>
                            </nz-select>
                          </div>
                          <div class="w-1/4 ml-1">
                            <input nz-input type="text" placeholder="Enter value" id="thenResultValue{{i}}"
                              formControlName="thenResultValue" required class="form-control "
                              name="thenResultValue{{i}}" />
                          </div>
                          <div class="ml-1">
                            <button nz-button nzType="primary" nzDanger (click)="removeBuisnessRuleThen(i,thenIndex)">
                              <span nz-icon nzType="delete" nzTheme="outline" class="-mt-9"></span> </button>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="mt-2">
                  <button nz-button nzType="primary" (click)="addBuisnessRuleThen(i)">
                    <b>+</b> Then</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <button nz-button nzType="primary"  (click)="addBuisnessRule()">
      <span nz-icon nzType="plus" ></span>
      Add Rule
    </button>

    <button nz-button nzType="primary" class="mb-3 ml-2 mt-1" (click)="saveBussinessRule()">
      <span nz-icon nzType="save" nzTheme="outline"></span>Save</button>

    <button nzDanger nz-button nzType="primary" class="mb-3 ml-2 mt-1" (click)="deleteBuisnessRule()">
      <span nz-icon nzType="delete" nzTheme="outline"></span>Delete</button>

  </div>
</div>
