<form [formGroup]="multiSelectForm">
  <div class="flex flex-wrap">
    <!-- Add a button to add a new multi-select -->
 
  </div>
  <div formArrayName="multiSelects" class="execute-form">
    <div *ngFor="let multiSelect of multiSelectArray.controls; let i = index" class="flex flex-wrap mt-4 border">
      <div [formGroupName]="i" class="w-full h-500">
        <div class="p-2 flex justify-start items-center flex-auto">
          <nz-select class="form-select execute-form-select !mr-4" nzShowSearch nzAllowClear aria-label="Default Select Example"
            formControlName="selectControl">
            <nz-option [nzLabel]="item.title" [nzValue]="item.key" *ngFor="let item of EventsList"></nz-option>
          </nz-select>
          <nz-select class="form-select execute-form-select" nzShowSearch nzAllowClear aria-label="Default Select Example"
            formControlName="selectControl">
            <nz-option [nzLabel]="item.title" [nzValue]="item.key" *ngFor="let item of nodeList"></nz-option>
          </nz-select>
        </div>

        <div class="w-full flex justify-end items-center p-2 pt-0">
          
        </div>
        
        <div class="!p-2 !pr-0 !w-full !h-fit !flex !items-start">
          <st-monaco-editor [selectedNode]="selectedNode" [screenName]="screenName" [formlyModel]="this.formlyModel"
            [applicationId]="applicationId" [nodes]="nodes" [screens]="screens" [jsonSchema]="jsonSchema"
            [screeenBuilderId]="screeenBuilderId" [formControlName]="i" [actionRule]="actionRule"
            (contentChange)="onEditorContentChange($event, i)"
            [codeEditorRuleInstance]="multiSelect.value.monacoEditorControl" class="!w-[95%] !inline-block"></st-monaco-editor>
            <div class="!w-[5%] !inline-block " >
              <button nzDanger nz-button nzType="primary" class="!h-[35px] mx-auto !w-[35px] !flex !justify-center !items-center" (click)="removeMultiSelect(i)">
                <i class="fa-regular fa-trash"></i></button>
              </div>

        </div>
       
      </div>

    </div>
  </div>

  <div class="flex flex-wrap mt-4">
    <div class="w-full">
      <button nz-button nzType="primary" class="!bg-green-500 hover:!bg-green-400 !border-none !mr-2" (click)="addMultiSelect()"> <i
        class="fa-regular fa-plus mr-2"></i> Add</button>
      <button nz-button nzType="primary" class="my-2 btn" title="Save" (click)="saveMultiSelects()"
        ngbTooltip="Save Table"> <i class="fa-regular fa-floppy-disk mr-2"></i> Save </button>
     
    </div>
  </div>
</form>