<form [formGroup]="multiSelectForm">
  <div class="flex flex-wrap">
    <!-- Add a button to add a new multi-select -->
    <button nz-button nzType="primary" class="btn btn-sm" (click)="addMultiSelect()">
      Add
    </button>
  </div>
  <div formArrayName="multiSelects">
    <div *ngFor="let multiSelect of multiSelectArray.controls; let i = index" class="flex flex-wrap mt-4">
      <div [formGroupName]="i" class="w-full h-500">
        <div>
          <nz-select class="form-select" nzShowSearch nzAllowClear aria-label="Default Select Example"
            formControlName="selectControl">
            <nz-option [nzLabel]="item.title" [nzValue]="item.key" *ngFor="let item of nodeList"></nz-option>
          </nz-select>
        </div>
              <!-- Create a form control for the editor -->
      <!-- <input type="hidden"  [ngModel]="multiSelect.value"> -->
      <!-- Use [ngModel] to bind the editor instance -->
        <st-monaco-editor [selectedNode]="selectedNode" [screenName]="screenName" [formlyModel]="this.formlyModel"
          [applicationId]="applicationId" [nodes]="nodes" [screens]="screens" [jsonSchema]="jsonSchema" 
          [screeenBuilderId]="screeenBuilderId" [formControlName]="i" [codeEditorRuleInstance]="multiSelect.value.monacoEditorControl"></st-monaco-editor>
        <div class="w-1/2">
          <button nz-button nzType="primary" class="btn btn-sm mr-2" (click)="removeMultiSelect(i)">
            Remove
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="flex flex-wrap mt-4">
    <div class="w-full">
      <button nz-button nzType="primary" class="btn btn-sm" (click)="saveMultiSelects()">
        Save
      </button>
    </div>
  </div>
</form>