<nz-space>
    <button *nzSpaceItem nz-button (click)="open()" nzType="primary" class="upload-btn">
        <i class="fa-light fa-gear"></i>
    </button>
</nz-space>
<!-- <button nz-button nzType="primary" [nzSize]="'large'" nzShape="circle" (click)="open()" class="fixed bottom-4 right-4"
    style="display: flex; justify-content: center; align-items: center">
    <span nz-icon nzType="setting" nzSpin style="margin-right: 0; "></span>
</button> -->
<nz-drawer nzWrapClassName="drawer-body" [nzWidth]="'50%'" [nzVisible]="visible" nzPlacement="right" [nzTitle]="drawer"
    (nzOnClose)="close()">
    <ng-template #drawer>
        <span>Menu Design</span>
    </ng-template>
    <ng-container *nzDrawerContent>
        <nz-tabset>
            <nz-tab nzTitle="Application Menu">
                <div class="card-header">
                    Application Menu Configuration
                </div>
                <div class="color-picker-section">
                    <h3>FONT DESIGN</h3>
                    <h6>Choose Font Design</h6>
                    <div class="options-list">
                        <div class="option">
                            <p>Font Family</p>
                            <div class="box">
                                <nz-select style="width:100%" nzShowSearch nzAllowClear nzPlaceHolder="Select Font"
                                    [(ngModel)]="selectedTheme['font']"
                                    (ngModelChange)="changeLayout(selectedTheme['font']+'_'+'font')">
                                    <nz-option nzLabel="italic" nzValue="italic"></nz-option>
                                    <nz-option nzLabel="underline" nzValue="underline"></nz-option>
                                    <nz-option nzLabel="uppercase" nzValue="uppercase"></nz-option>
                                    <nz-option nzLabel="lowercase" nzValue="lowercase"></nz-option>
                                    <nz-option nzLabel="capitalize" nzValue="capitalize"></nz-option>
                                    <nz-option nzLabel="font-sans" nzValue="font-sans"></nz-option>
                                    <nz-option nzLabel="font-serif" nzValue="font-serif"></nz-option>
                                    <nz-option nzLabel="font-mono" nzValue="font-mono"></nz-option>
                                    <nz-option nzLabel="font-roboto" nzValue="font-roboto"></nz-option>
                                    <nz-option nzLabel="font-thin" nzValue="font-thin"></nz-option>
                                    <nz-option nzLabel="font-extralight" nzValue="font-extralight"></nz-option>
                                    <nz-option nzLabel="font-normal" nzValue="font-normal"></nz-option>
                                    <nz-option nzLabel="font-bold" nzValue="font-bold"></nz-option>
                                    <nz-option nzLabel="font-extrabold" nzValue="font-extrabold"></nz-option>
                                    <nz-option nzLabel="font-black" nzValue="font-black"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div class="option">
                            <p>Background Color</p>
                            <div class="box">
                                <input type="color" class="input-color" [(ngModel)]="selectedTheme['backGroundColor']"
                                    (input)="changeLayout(selectedTheme['backGroundColor']+'_'+'backGroundColor')">

                                <span>{{selectedTheme['backGroundColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Text Color</p>
                            <div class="box">
                                <input [(ngModel)]="selectedTheme['textColor']"
                                    (input)="changeLayout(selectedTheme['textColor']+'_'+'textColor')" type="color"
                                    class="input-color">
                                <span>{{selectedTheme['textColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Active Color</p>
                            <div class="box">
                                <input [(ngModel)]="selectedTheme['activeBackgroundColor']"
                                    (input)="changeLayout(selectedTheme['activeBackgroundColor']+'_'+'activeBackgroundColor')"
                                    type="color" class="input-color">
                                <span>{{selectedTheme['activeBackgroundColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Active Text Color</p>
                            <div class="box">
                                <input type="color" class="input-color" [(ngModel)]="selectedTheme['activeTextColor']"
                                    (input)="changeLayout(selectedTheme['activeTextColor']+'_'+'activeTextColor')">
                                <span>{{selectedTheme['activeTextColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Hover Text Color</p>
                            <div class="box">
                                <input type="color" class="input-color" [(ngModel)]="selectedTheme['hoverTextColor']"
                                    (input)="changeLayout(selectedTheme['hoverTextColor']+'_'+'hoverTextColor')">
                                <span>{{selectedTheme['hoverTextColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Text Size</p>
                            <div class="box">
                                <input type="number" class="input-text" name="" id=""
                                    [(ngModel)]="selectedTheme['titleSize']"
                                    (input)="changeLayout(selectedTheme['titleSize']+'_'+'titleSize')">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="color-picker-section">
                    <h3>ICON DESIGN</h3>
                    <h6>Choose icon Design</h6>
                    <div class="options-list">
                        <div class="option">
                            <p>Icon Color</p>
                            <div class="box">
                                <input type="color" class="input-color" [(ngModel)]="selectedTheme['iconColor']"
                                    (input)="changeLayout(selectedTheme['iconColor']+'_'+'iconColor')">
                                <span>{{selectedTheme['iconColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Hover Icon Color</p>
                            <div class="box">
                                <input type="color" class="input-color" [(ngModel)]="selectedTheme['hoverIconColor']"
                                    (input)="changeLayout(selectedTheme['hoverIconColor']+'_'+'hoverIconColor')">
                                <span>{{selectedTheme['hoverIconColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Active Icon Color</p>
                            <div class="box">
                                <input type="color" class="input-color" [(ngModel)]="selectedTheme['activeIconColor']"
                                    (input)="changeLayout(selectedTheme['activeIconColor']+'_'+'activeIconColor')">
                                <span>{{selectedTheme['activeIconColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Icon Size</p>
                            <div class="box">
                                <input type="number" class="input-text" name="" id=""
                                    [(ngModel)]="selectedTheme['iconSize']"
                                    (input)="changeLayout(selectedTheme['iconSize']+'_'+'iconSize')">
                            </div>
                        </div>
                        <div class="option">
                            <p>Icon Type</p>
                            <div class="box">
                                <nz-select nzShowSearch nzAllowClear [(ngModel)]="selectedTheme['iconType']"
                                    (ngModelChange)="changeLayout(selectedTheme['iconType']+'_'+'iconType')"
                                    nzPlaceHolder="Icon Type">
                                    <nz-option nzLabel="ng-zorro outlined" nzValue="outline"></nz-option>
                                    <nz-option nzLabel="ng-zorro filled" nzValue="fill"></nz-option>
                                    <nz-option nzLabel="ng-zorro twotone" nzValue="twotone"></nz-option>
                                    <nz-option nzLabel="Font Awsome" nzValue="font_awsome"></nz-option>
                                    <nz-option nzLabel="Material" nzValue="material"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="applicationType == 'backend_application' || !applicationType">
                    <div class="color-picker-section">
                        <h3>LAYOUT DESIGN</h3>
                        <h6>Choose Layout Design</h6>
                        <div class="options-list2">
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.layout == 'vertical' ? 'selected' : 'unselected'">
                                    <img src="assets/images/banner.png" alt="" (click)="changeLayout('vertical')">
                                </div>
                                <span>Vertical</span>
                            </div>
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.layout == 'horizental' ? 'selected' : 'unselected'">
                                    <img src="assets/images/banner.png" alt="" (click)="changeLayout('horizental')">
                                </div>
                                <span>Horizental</span>
                            </div>
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.layout == 'twoColumn' ? 'selected' : 'unselected'">
                                    <img src="assets/images/banner.png" alt="" (click)="changeLayout('twoColumn')">
                                </div>
                                <span>Two Column</span>
                            </div>
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.layout == 'rtl' ? 'selected' : 'unselected'">
                                    <img src="assets/images/banner.png" alt="" (click)="changeLayout('rtl')">
                                </div>
                                <span>RTL</span>
                            </div>
                        </div>
                    </div>
                    <div class="color-picker-section" *ngIf="selectedTheme.layout != 'twoColumn'">
                        <h3>LAYOUT WIDTH</h3>
                        <h6>Choose LAYOUT WIDTH</h6>
                        <div class="options-list2">
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.layoutWidth == 'fluid' ? 'selected' : 'unselected'">
                                    <img src="assets/images/banner.png" alt="" (click)="changeLayout('fluid')">
                                </div>
                                <span>Fluid</span>
                            </div>
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.layoutWidth == 'boxed' ? 'selected' : 'unselected'">
                                    <img src="assets/images/banner.png" alt="" (click)="changeLayout('boxed')">
                                </div>
                                <span>Boxed</span>
                            </div>
                        </div>
                    </div>
                    <div class="color-picker-section"
                        *ngIf="selectedTheme.layout != 'horizental' && selectedTheme.layout != 'twoColumn'">
                        <h3>SIDE BAR STYLE</h3>
                        <h6>Choose Side Bar Style</h6>
                        <div class="options-list2">
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.sideBarSize == 'default' ? 'selected' : 'unselected'">
                                    <img src="assets/images/banner.png" alt="" (click)="changeLayout('default')">
                                </div>
                                <span>Default</span>
                            </div>
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.sideBarSize == 'compact' ? 'selected' : 'unselected'">
                                    <img src="assets/images/banner.png" alt="" (click)="changeLayout('compact')">
                                </div>
                                <span>Compact</span>
                            </div>
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.sideBarSize == 'compact_right' ? 'selected' : 'unselected'">
                                    <img src="assets/images/banner.png" alt="" (click)="changeLayout('compact_right')">
                                </div>
                                <span *ngIf="selectedTheme.layout != 'rtl'">Compact
                                    Right</span>
                                <span *ngIf="selectedTheme.layout == 'rtl'">Compact
                                    Left</span>
                            </div>
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.sideBarSize == 'compact_left' ? 'selected' : 'unselected'">
                                    <img src="assets/images/banner.png" alt="" (click)="changeLayout('compact_left')">
                                </div>
                                <span *ngIf="selectedTheme.layout != 'rtl'">Compact
                                    Left</span>
                                <span *ngIf="selectedTheme.layout == 'rtl'">Compact
                                    Right</span>
                            </div>
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.sideBarSize == 'smallIconView' ? 'selected' : 'unselected'">
                                    <img src="assets/images/banner.png" alt="" (click)="changeLayout('smallIconView')">
                                </div>
                                <span>Small (Icon View)</span>
                            </div>
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.sideBarSize == 'smallHoverView' ? 'selected' : 'unselected'">
                                    <img src="assets/images/banner.png" alt="" (click)="changeLayout('smallHoverView')">
                                </div>
                                <span>Small Hover View</span>
                            </div>
                        </div>
                    </div>
                    <div class="color-picker-section" *ngIf="selectedTheme.layout != 'horizental'">
                        <h3>SIDEBAR IMAGES</h3>
                        <h6>Choose a image of
                            Sidebar</h6>
                        <div class="options-list2">
                            <div class="option2">
                                <div class="banner"
                                (click)="changeLayout('')" [ngClass]="selectedTheme.siderBarImages == '' ? 'selected resert-bg-img' : 'unselected resert-bg-img'">
                                    <i class="fa-solid fa-xmark" ></i>
                                </div>
                            </div>
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.siderBarImages == 'assets/images/menu/image-1.avif' ? 'selected' : 'unselected'">
                                    <img src="assets/images/menu/image-1.avif" alt=""
                                        (click)="changeLayout('assets/images/menu/image-1.avif')">
                                </div>
                            </div>
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.siderBarImages == 'assets/images/menu/image_2.avif' ? 'selected' : 'unselected'">
                                    <img src="assets/images/menu/image_2.avif" alt=""
                                        (click)="changeLayout('assets/images/menu/image_2.avif')">
                                </div>

                            </div>
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.siderBarImages == 'assets/images/menu/image_3.avif' ? 'selected' : 'unselected'">
                                    <img src="assets/images/menu/image_3.avif" alt=""
                                        (click)="changeLayout('assets/images/menu/image_3.avif')">
                                </div>
                            </div>
                            <div class="option2">
                                <div class="banner"
                                    [ngClass]="selectedTheme.siderBarImages == 'assets/images/menu/image-4.avif' ? 'selected' : 'unselected'">
                                    <img src="assets/images/menu/image-4.avif"
                                        (click)="changeLayout('assets/images/menu/image-4.avif')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="applicationType == 'website'" class="color-picker-section">
                    <h3>ICON DESIGN</h3>
                    <h6>Choose icon Design</h6>
                    <div class="options-list2">
                        <div class="option2">
                            <div class="banner">
                                <img src="assets/images/banner.png" alt="">
                            </div>
                            <span>Design 01</span>
                        </div>
                        <div class="option2">
                            <div class="banner">
                                <img src="assets/images/banner.png" alt="">
                            </div>
                            <span>Design 02</span>
                        </div>
                        <div class="option2">
                            <div class="banner">
                                <img src="assets/images/banner.png" alt="">
                            </div>
                            <span>Design 03</span>
                        </div>
                        <div class="option2">
                            <div class="banner">
                                <img src="assets/images/banner.png" alt="">
                            </div>
                            <span>Design 04</span>
                        </div>
                    </div>
                </div>
                <div class="drawer-bottom">
                    <button nz-button nzType="primary">Save</button>
                    <button nz-button nzType="default" class="btn-secondary" nz-popconfirm
                        nzPopconfirmTitle="Are you sure to reset menu design"
                        (nzOnConfirm)="reset('mainMenu')">Reset</button>
                </div>
            </nz-tab>
            <nz-tab nzTitle="In Page Menu">
                <div class="color-picker-section">
                    <h3>FONT DESIGN</h3>
                    <h6>Choose Font Design</h6>
                    <div class="options-list">
                        <div class="option">
                            <p>Font Family</p>
                            <div class="box">
                                <nz-select style="width:100%" nzShowSearch nzAllowClear nzPlaceHolder="Select Font"
                                    [(ngModel)]="selectedTheme['inPageMenu']['font']"
                                    (ngModelChange)="changeInPageLayout(selectedTheme['inPageMenu']['font']+'_'+'font')">
                                    <nz-option nzLabel="italic" nzValue="italic"></nz-option>
                                    <nz-option nzLabel="uppercase" nzValue="uppercase"></nz-option>
                                    <nz-option nzLabel="lowercase" nzValue="lowercase"></nz-option>
                                    <nz-option nzLabel="capitalize" nzValue="capitalize"></nz-option>
                                    <nz-option nzLabel="font-sans" nzValue="font-sans"></nz-option>
                                    <nz-option nzLabel="font-serif" nzValue="font-serif"></nz-option>
                                    <nz-option nzLabel="font-mono" nzValue="font-mono"></nz-option>
                                    <nz-option nzLabel="font-roboto" nzValue="font-roboto"></nz-option>
                                    <nz-option nzLabel="font-thin" nzValue="font-thin"></nz-option>
                                    <nz-option nzLabel="font-extralight" nzValue="font-extralight"></nz-option>
                                    <nz-option nzLabel="font-normal" nzValue="font-normal"></nz-option>
                                    <nz-option nzLabel="font-bold" nzValue="font-bold"></nz-option>
                                    <nz-option nzLabel="font-extrabold" nzValue="font-extrabold"></nz-option>
                                    <nz-option nzLabel="font-black" nzValue="font-black"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div class="option">
                            <p>Background Color</p>
                            <div class="box">
                                <input type="color" class="input-color"
                                    [(ngModel)]="selectedTheme['inPageMenu']['backGroundColor']"
                                    (input)="changeInPageLayout(selectedTheme['inPageMenu']['backGroundColor']+'_'+'backGroundColor')">

                                <span>{{selectedTheme['inPageMenu']['backGroundColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Text Color</p>
                            <div class="box">
                                <input [(ngModel)]="selectedTheme['inPageMenu']['textColor']"
                                    (input)="changeInPageLayout(selectedTheme['inPageMenu']['textColor']+'_'+'textColor')"
                                    type="color" class="input-color">
                                <span>{{selectedTheme['inPageMenu']['textColor']}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Active Color</p>
                            <div class="box">
                                <input [(ngModel)]="selectedTheme['inPageMenu']['activeBackgroundColor']"
                                    (input)="changeInPageLayout(selectedTheme['inPageMenu']['activeBackgroundColor']+'_'+'activeBackgroundColor')"
                                    type="color" class="input-color">
                                <span>{{selectedTheme['inPageMenu']['activeBackgroundColor']}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Active Text Color</p>
                            <div class="box">
                                <input type="color" class="input-color"
                                    [(ngModel)]="selectedTheme['inPageMenu']['activeTextColor']"
                                    (input)="changeInPageLayout(selectedTheme['inPageMenu']['activeTextColor']+'_'+'activeTextColor')">
                                <span>{{selectedTheme['inPageMenu']['activeTextColor']}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Hover Text Color</p>
                            <div class="box">
                                <input type="color" class="input-color"
                                    [(ngModel)]="selectedTheme['inPageMenu']['hoverTextColor']"
                                    (input)="changeInPageLayout(selectedTheme['inPageMenu']['hoverTextColor']+'_'+'hoverTextColor')">
                                <span>{{selectedTheme['inPageMenu']['hoverTextColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Text Size</p>
                            <div class="box">
                                <input type="number" class="input-text" name="" id=""
                                    [(ngModel)]="selectedTheme['inPageMenu']['titleSize']"
                                    (input)="changeInPageLayout(selectedTheme['inPageMenu']['titleSize']+'_'+'titleSize')">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="color-picker-section">
                    <h3>ICON DESIGN</h3>
                    <h6>Choose icon Design</h6>
                    <div class="options-list">
                        <div class="option">
                            <p>Icon Color</p>
                            <div class="box">
                                <input type="color" class="input-color"
                                    [(ngModel)]="selectedTheme['inPageMenu']['iconColor']"
                                    (input)="changeInPageLayout(selectedTheme['inPageMenu']['iconColor']+'_'+'iconColor')">
                                <span>{{selectedTheme['inPageMenu']['iconColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Hover Icon Color</p>
                            <div class="box">
                                <input type="color" class="input-color"
                                    [(ngModel)]="selectedTheme['inPageMenu']['hoverIconColor']"
                                    (input)="changeInPageLayout(selectedTheme['inPageMenu']['hoverIconColor']+'_'+'hoverIconColor')">
                                <span>{{selectedTheme['inPageMenu']['hoverIconColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Active Icon Color</p>
                            <div class="box">
                                <input type="color" class="input-color"
                                    [(ngModel)]="selectedTheme['inPageMenu']['activeIconColor']"
                                    (input)="changeInPageLayout(selectedTheme['inPageMenu']['activeIconColor']+'_'+'activeIconColor')">
                                <span>{{selectedTheme['inPageMenu']['activeIconColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Icon Size</p>
                            <div class="box">
                                <input type="number" class="input-text" name="" id=""
                                    [(ngModel)]="selectedTheme['inPageMenu']['iconSize']"
                                    (input)="changeInPageLayout(selectedTheme['inPageMenu']['iconSize']+'_'+'iconSize')">
                            </div>
                        </div>
                        <div class="option">
                            <p>Icon Type</p>
                            <div class="box">
                                <nz-select nzShowSearch nzAllowClear
                                    [(ngModel)]="selectedTheme['inPageMenu']['iconType']"
                                    (ngModelChange)="changeInPageLayout(selectedTheme['inPageMenu']['iconType']+'_'+'iconType')"
                                    nzPlaceHolder="Icon Type">
                                    <nz-option nzLabel="ng-zorro outlined" nzValue="outline"></nz-option>
                                    <nz-option nzLabel="ng-zorro filled" nzValue="fill"></nz-option>
                                    <nz-option nzLabel="ng-zorro twotone" nzValue="twotone"></nz-option>
                                    <nz-option nzLabel="Font Awsome" nzValue="font_awsome"></nz-option>
                                    <nz-option nzLabel="Material" nzValue="material"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="drawer-bottom">
                    <button nz-button nzType="primary">Save</button>
                    <button nz-button nzType="default" class="btn-secondary" nz-popconfirm
                        nzPopconfirmTitle="Are you sure to reset In page menu design"
                        (nzOnConfirm)="reset('inPageMenu')">Reset</button>
                </div>
            </nz-tab>
            <!-- <nz-tab nzTitle="Collapse button">
                <div class="color-picker-section">
                    <h3>FONT DESIGN</h3>
                    <h6>Choose Font Design</h6>
                    <div class="options-list">
                        <div class="option">
                            <p>Button Position</p>
                            <div class="box">
                                <nz-select style="width:100%" nzShowSearch nzAllowClear nzPlaceHolder="Button Position"
                                    [(ngModel)]="selectedTheme['buttonPosition']"
                                    (ngModelChange)="changeInPageLayout(selectedTheme['buttonPosition']+'_'+'buttonPosition')">
                                    <nz-option nzLabel="right" nzValue="right"></nz-option>
                                    <nz-option nzLabel="left" nzValue="left"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div class="option">
                            <p>Button Color</p>
                            <div class="box">
                                <input type="color" class="input-color" [(ngModel)]="selectedTheme['buttonColor']"
                                    (input)="changeInPageLayout(selectedTheme['buttonColor']+'_'+'buttonColor')">

                                <span>{{selectedTheme['buttonColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Icon Color</p>
                            <div class="box">
                                <input type="color" class="input-color" [(ngModel)]="selectedTheme['buttonIconColor']"
                                    (input)="changeInPageLayout(selectedTheme['buttonIconColor']+'_'+'buttonIconColor')">

                                <span>{{selectedTheme['buttonIconColor'] || '#000000'}} </span>
                            </div>
                        </div>
                        <div class="option">
                            <p>Icon Type</p>
                            <div class="box">
                                <nz-select nzShowSearch nzAllowClear [(ngModel)]="selectedTheme['buttonIconType']"
                                    (ngModelChange)="changeLayout(selectedTheme['buttonIconType']+'_'+'buttonIconType')"
                                    nzPlaceHolder="Icon Type">
                                    <nz-option nzLabel="ng-zorro outlined" nzValue="outline"></nz-option>
                                    <nz-option nzLabel="ng-zorro filled" nzValue="fill"></nz-option>
                                    <nz-option nzLabel="ng-zorro twotone" nzValue="twotone"></nz-option>
                                    <nz-option nzLabel="Font Awsome" nzValue="font_awsome"></nz-option>
                                    <nz-option nzLabel="Material" nzValue="material"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div class="option">
                            <p>Icon</p>
                            <div class="box">
                                <input type="text" class="input-text" name="" id=""
                                    [(ngModel)]="selectedTheme['buttonIcon']"
                                    (input)="changeInPageLayout(selectedTheme['buttonIcon']+'_'+'buttonIcon')">
                            </div>
                        </div>
                        <div class="option">
                            <p>Icon Size</p>
                            <div class="box">
                                <input type="number" class="input-text" name="" id=""
                                    [(ngModel)]="selectedTheme['buttonIconSize']"
                                    (input)="changeInPageLayout(selectedTheme['buttonIconSize']+'_'+'buttonIconSize')">
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div class="w-1/5 p-1 pt-9">
                            <label nz-checkbox [(ngModel)]="selectedTheme['showButton']"
                                (ngModelChange)="changeLayout(selectedTheme['showButton']+'_'+'showButton')">Show
                                button</label>
                        </div>
                        <div class="w-1/5 p-1 pt-9">
                            <label nz-checkbox [(ngModel)]="selectedTheme['showLogo']"
                                (ngModelChange)="changeLayout(selectedTheme['showLogo']+'_'+'showLogo')">show
                                Logo</label>
                        </div>
                        <div class="w-full">
                            <label>Button Class</label>
                            <nz-select nzMode="tags" nzPlaceHolder="Button Class"
                                [(ngModel)]="selectedTheme['buttonClassArray']"
                                (ngModelChange)="changeLayout(selectedTheme['buttonClassArray']+'_'+'buttonClass')">
                                <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label"
                                    [nzValue]="option.value"></nz-option>
                            </nz-select>
                        </div>

                    </div>
                </div>
            </nz-tab> -->
            <!-- <nz-tab nzTitle="Collapse button">
                <h6 class="mb-0 font-bold uppercase">Button Design</h6>
                <p class="text-gray-500 text-xs">Choose Button Design
                </p>
                <div class="flex flex-wrap">
                    <div class="w-1/5 p-1">
                        <label>Button Position</label>
                        <nz-select style="width:100%" nzShowSearch nzAllowClear
                            nzPlaceHolder="Button Position"
                            [(ngModel)]="selectedTheme['buttonPosition']"
                            (ngModelChange)="changeInPageLayout(selectedTheme['buttonPosition']+'_'+'buttonPosition')">
                            <nz-option nzLabel="right" nzValue="right"></nz-option>
                            <nz-option nzLabel="left" nzValue="left"></nz-option>
                        </nz-select>
                    </div>
                    <div class="w-1/5 p-1">
                        <label>Button color</label>
                        <input nz-input type="color"
                            [(ngModel)]="selectedTheme['buttonColor']"
                            (input)="changeInPageLayout(selectedTheme['buttonColor']+'_'+'buttonColor')" />
                    </div>
                    <div class="w-1/5 p-1">
                        <label>Button Icon color</label>
                        <input nz-input type="color"
                            [(ngModel)]="selectedTheme['buttonIconColor']"
                            (input)="changeInPageLayout(selectedTheme['buttonIconColor']+'_'+'buttonIconColor')" />
                    </div>
                    <div class="w-1/5 p-1">
                        <label>Button Icon Type</label>
                        <nz-select nzShowSearch nzAllowClear
                            [(ngModel)]="selectedTheme['buttonIconType']"
                            (ngModelChange)="changeLayout(selectedTheme['buttonIconType']+'_'+'buttonIconType')"
                            nzPlaceHolder="Icon Type">
                            <nz-option nzLabel="ng-zorro outlined"
                                nzValue="outline"></nz-option>
                            <nz-option nzLabel="ng-zorro filled" nzValue="fill"></nz-option>
                            <nz-option nzLabel="ng-zorro twotone"
                                nzValue="twotone"></nz-option>
                            <nz-option nzLabel="Font Awsome"
                                nzValue="font_awsome"></nz-option>
                            <nz-option nzLabel="Material" nzValue="material"></nz-option>
                        </nz-select>
                    </div>
                    <div class="w-1/5 p-1">
                        <label>Button Icon</label>
                        <input nz-input
                            [(ngModel)]="selectedTheme['buttonIcon']"
                            (input)="changeInPageLayout(selectedTheme['buttonIcon']+'_'+'buttonIcon')" />
                    </div>
                    <div class="w-1/5 p-1">
                        <label>Button Icon Size</label>
                        <input nz-input type="number"
                            [(ngModel)]="selectedTheme['buttonIconSize']"
                            (input)="changeLayout(selectedTheme['buttonIconSize']+'_'+'buttonIconSize')" />
                    </div>
                    <div class="w-1/5 p-1 pt-9">
                        <label nz-checkbox
                            [(ngModel)]="selectedTheme['showButton']"
                            (ngModelChange)="changeLayout(selectedTheme['showButton']+'_'+'showButton')">Show
                            button</label>
                    </div>
                    <div class="w-1/5 p-1 pt-9">
                        <label nz-checkbox
                            [(ngModel)]="selectedTheme['showLogo']"
                            (ngModelChange)="changeLayout(selectedTheme['showLogo']+'_'+'showLogo')">show
                            Logo</label>
                    </div>
                    <div class="w-full">
                        <label>Button Class</label>
                        <nz-select nzMode="tags" nzPlaceHolder="Button Class"
                            [(ngModel)]="selectedTheme['buttonClassArray']"
                            (ngModelChange)="changeLayout(selectedTheme['buttonClassArray']+'_'+'buttonClass')">
                            <nz-option *ngFor="let option of listOfOption"
                                [nzLabel]="option.label"
                                [nzValue]="option.value"></nz-option>
                        </nz-select>
                    </div>

                </div>
            </nz-tab> -->
        </nz-tabset>
    </ng-container>
</nz-drawer>