{{menuBuilderData | json}}
<nz-switch [(ngModel)]="theme">
  <span checked>Dark</span>
  <span unchecked>Light</span>
</nz-switch>
<div class="flex flex-wrap">
  <div class="w-full p-3">
    <ul nz-menu nzMode="inline" style="width: 240px;" [nzTheme]="theme ? 'dark' : 'light'">
      <li nz-submenu [nzTitle]="item.title" nzIcon="appstore" *ngFor="let item of menuBuilderData">
        <ul>
          <li nz-menu-item>{{item.title}}</li>
          <li nz-submenu [nzTitle]="item.title" *ngFor="let item of item.children">
            <ul>
              <li nz-menu-item>{{item.title}}</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
