<nz-input-group *ngIf="!to.config?.suffixicon && !to.config?.prefixicon"
[nzSuffix]="to.config?.addonLeft" [nzPrefix]="to.config?.addonRight" [nzSize]="to.config?.size"
    [nzStatus]="to.config?.status">
    <input [placeholder]="to.placeholder" [formControl]="formControl" nz-input [nzAutocomplete]="auto"
        [nzBorderless]="to.config?.border" />
    <nz-autocomplete [nzWidth]="to.config?.optionWidth" [nzDataSource]="list" [nzDefaultActiveFirstOption]="true"
        [nzBackfill]="false" #auto></nz-autocomplete>
</nz-input-group>

<nz-input-group *ngIf="to.config?.suffixicon || to.config?.prefixicon"
[nzSuffix]="suffixTemplateInfo" 
[nzPrefix]="prefixTemplateUser" [nzSize]="to.config?.size"
    [nzStatus]="to.config?.status">
    <input [placeholder]="to.placeholder" [formControl]="formControl" nz-input [nzAutocomplete]="auto"
        [nzBorderless]="to.config?.border" />
    <nz-autocomplete [nzWidth]="to.config?.optionWidth" [nzDataSource]="list" [nzDefaultActiveFirstOption]="true"
        [nzBackfill]="false" #auto></nz-autocomplete>
</nz-input-group>

<ng-template #prefixTemplateUser><span nz-icon [nzType]="to.config?.suffixicon"></span></ng-template>
<ng-template #suffixTemplateInfo>
  <span nz-icon nz-tooltip nzTooltipTitle="Extra information" [nzType]="to.config?.prefixicon"></span>
</ng-template>