.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 12px 16px;
    color: white !important;
    line-height: 1.5715;
    cursor: pointer;
    transition: all .3s,visibility 0s;
}