<nz-collapse [nzAccordion]="true" [nzBordered]='accordionData.nzBordered' [nzGhost]='accordionData.nzGhost'
    [nzExpandIconPosition]="'right'" >
    <nz-collapse-panel [nzDisabled]='accordionData.nzDisabled' [nzHeader]="titleTemp" [nzActive]='true'
        [nzExtra]="tooltip"  [nzShowArrow]='false' [nzExtra]="extraTpl">
        <st-main [mainData]="accordionData.children"></st-main>
    </nz-collapse-panel>
</nz-collapse>
<ng-template #extraTpl>
    <st-icon *ngIf="accordionData?.nzExpandedIcon" [type]="accordionData?.iconType"
        [icon]="accordionData?.nzExpandedIcon" [hoverIconColor]="accordionData?.hoverIconColor || ''"
        [size]="accordionData?.iconSize" [color]="accordionData?.iconColor"></st-icon>
</ng-template>

<ng-template #tooltip>
    <span *ngIf="accordionData?.tooltip" nz-tooltip [nzTooltipTitle]="accordionData.tooltip">
        <span nz-icon nzType="question-circle" nzTheme="twotone"></span>
    </span>
</ng-template>
<ng-template #expandedIcon>
    
</ng-template>
<ng-template #titleTemp>
    <p [class]="accordionData.titleClass">{{accordionData.title}}</p>
</ng-template>