<nz-collapse class="p" [nzAccordion]="true" [nzBordered]='accordionData.nzBordered' [nzGhost]='accordionData.nzGhost'
    [nzExpandIconPosition]='accordionData.nzExpandIconPosition'>
    <nz-collapse-panel [nzDisabled]='accordionData.nzDisabled' [nzHeader]="accordionData.title" [nzActive]='true'
        [nzExtra]="tooltip" [nzExpandedIcon]='expandedIcon' [nzShowArrow]='accordionData.nzShowArrow'>

        <st-main [mainData]="accordionData.children"></st-main>
    </nz-collapse-panel>
</nz-collapse>
<ng-template #extraTpl>
    <span nz-icon nzType="setting" (click)="$event.stopPropagation()"></span>
</ng-template>

<ng-template #tooltip>
    <span *ngIf="accordionData?.tooltip" nz-tooltip [nzTooltipTitle]="accordionData.tooltip">
        <span nz-icon nzType="question-circle" nzTheme="twotone"></span>
    </span>
</ng-template>
<ng-template #expandedIcon>
    <st-icon *ngIf="accordionData?.nzExpandedIcon" [type]="accordionData?.iconType" [icon]="accordionData?.nzExpandedIcon"
        [size]="accordionData?.iconSize" [color]="accordionData?.iconColor"></st-icon>
</ng-template>