<div class="!bg-white w-screen h-[calc(100vh-124px)] !flex !justify-center !items-center " >
    <div class="bg-blue-500 border-8 border-blue-600 h-[400px] w-[400px] relative !rotate-45 !rounded-[10%] p-9" >
        <div class="!border-8 p-10 !border-white !rounded-2xl relative !bg-blue-500 h-full w-full" >
            <p class="absolute shadow-effect bg-white !border-2 border-gray-400 top-[20px] left-[20px] p-0.5 flex justify-center items-center h-7 w-7 rounded-full"  >
                <i class="fa-solid fa-xmark text-black !text-lg rotate-[45deg]"></i>
            </p>
            <p class="absolute shadow-effect bg-white !border-[2px] border-gray-400 bottom-[20px] p-0.5 right-[20px] flex justify-center items-center h-7 w-7 rounded-full" >
                <i class="fa-solid fa-xmark text-black !text-lg rotate-[45deg]"></i>
            </p>
            <div class="w-full h-full -rotate-45 flex flex-col justify-center items-center" >
                <i class="fa-solid fa-hand fa-flip-horizontal text-white text-9xl"></i>
                <p class="text-white text-center pt-4 text-5xl font-bold" >ACCESS DENIED</p>
            </div>
        </div>
    </div>
</div>