<div class="m-2">
    <div (click)="loadURLData(SimpleCardWithHeaderBodyFooterData.link)">
        <nz-card nzTitle={{SimpleCardWithHeaderBodyFooterData.headerText}} 
        [nzBorderless]="SimpleCardWithHeaderBodyFooterData.borderless"  [nzExtra]="SimpleCardWithHeaderBodyFooterData.extra" [nzHoverable]="SimpleCardWithHeaderBodyFooterData.hover" 
        [nzLoading]="SimpleCardWithHeaderBodyFooterData.loading" [nzType]="SimpleCardWithHeaderBodyFooterData.nztype" [nzSize]="SimpleCardWithHeaderBodyFooterData.size"
        >
            <div [innerHTML]="SimpleCardWithHeaderBodyFooterData.bodyText | sanitize: 'html'"></div>
        </nz-card>
        <div class="border">
            {{SimpleCardWithHeaderBodyFooterData.footerText}}
        </div>
    </div>
</div>