<div class="m-2">
    <div (click)="loadURLData(cardData.link)" [style.background-color]="cardData.bgColor">
        <span *ngIf="cardData?.tooltip" nz-tooltip [nzTooltipTitle]="cardData.tooltip">
            <span nz-icon nzType="question-circle" nzTheme="twotone"></span>
        </span>
        <nz-card [style.background-color]="cardData.bgColor" nzTitle={{cardData.headerText}}
            [nzBorderless]="cardData.borderless" [nzExtra]="cardData.extra" [nzHoverable]="cardData.hover"
            [nzLoading]="cardData.loading" [nzType]="cardData.nztype" [nzSize]="cardData.size">
            <div>
                <!-- <div [innerHTML]="cardData.bodyText | sanitize: 'html'"></div>
                <p [innerHTML]="cardData.description | sanitize: 'html'"></p> -->
                <ng-container *ngIf="!cardData.footer">
                    <app-main [mainData]="cardData.children"></app-main>
                </ng-container>
            </div>
        </nz-card>
        <div class="border">
            <ng-container *ngIf="cardData.footer">
                <app-main [mainData]="cardData.children"></app-main>
            </ng-container>
        </div>
    </div>
</div>
<ng-template #coverTemplate>
    <img *ngIf="cardData.imageSrc || cardData.imageAlt" [alt]="cardData.imageAlt" [src]="cardData.imageSrc" />
</ng-template>
<style>
    :root {
        --cardData-bgColorBody: #f0f0f0;
        /* replace with your desired background color */
    }
</style>