<nz-input-group *ngIf="!to.config?.suffixicon && !to.config?.prefixicon "
[nzSuffix]="to.config?.addonLeft" [nzPrefix]="to.config?.addonRight" [nzStatus]="to.config?.status">
    <nz-date-picker style="width:100%" 
    [nzFormat]="to.config?.format" 
    [nzSize]="to.config?.size" 
        [formControl]="formControl" 
        [nzBorderless]="to.config?.border"
        [nzStatus]="to.config?.status" 
        [nzPlaceHolder]="to.placeholder || ''"
         ></nz-date-picker>

</nz-input-group>
<nz-input-group *ngIf="to.config?.suffixicon || to.config?.prefixicon"
[nzSuffix]="suffixTemplateInfo" 
[nzPrefix]="prefixTemplateUser" [nzStatus]="to.config?.status">
    <nz-date-picker style="width:100%" 
    [nzFormat]="to.config?.format" 
    [nzSize]="to.config?.size" 
        [formControl]="formControl" 
        [nzBorderless]="to.config?.border"
        [nzStatus]="to.config?.status" 
        [nzPlaceHolder]="to.placeholder || ''"
         ></nz-date-picker>

</nz-input-group>

<ng-template #prefixTemplateUser><span nz-icon [nzType]="to.config?.suffixicon"></span></ng-template>
<ng-template #suffixTemplateInfo>
  <span nz-icon nz-tooltip nzTooltipTitle="Extra information" [nzType]="to.config?.prefixicon"></span>
</ng-template>