<nz-tabset [(nzSelectedIndex)]="tabs.selectedIndex" [nzAnimated]="tabs.animated" [nzSize]="tabs.size"
    [nzTabPosition]="tabs.tabPosition" [nzType]="tabs.tabType" [nzHideAll]="tabs.hideTabs" nzHideAdd
    (nzClose)="closeTab($event)" [nzCentered]="tabs.centerd">
    <nz-tab *ngFor="let items of tabs.children; let i = index ; let last = last"
        [nzTitle]="titleTemplate" (nzSelectChange)="handleTabSelect($event)" [nzForceRender]="true"
        [nzDisabled]="tabs.disabled" nzClosable >
        <ng-template #titleTemplate>
            <span *ngIf="items.icon">
                <app-icon [type]="items.iconType" [icon]="items.icon" [size]="items.iconSize"></app-icon>
            </span>
            {{items.title}}
            <span nz-tooltip *ngIf='items.tooltip' [nzTooltipTitle]='items.tooltip'><span nz-icon
                    nzType="question-circle" nzTheme="twotone"></span></span>
        </ng-template>
        <app-main [mainData]="items.children"></app-main>
    </nz-tab>
</nz-tabset>