<!-- <nz-tabset>
    <nz-tab *ngFor="let items of tabs; let i = index ; let last = last" [nzAnimated]="true"
        [(nzSelectedIndex)]="selectedIndex" [nzTabBarExtraContent]="" [nzSize]="'default'" [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
            <span nz-icon nzType="star" nzTheme="outline"></span>
            {{items.dashonicTabsConfig[0].tabLabel}}
        </ng-template>
    </nz-tab>
</nz-tabset> -->

<ng-template #characterIcon>
    <p>Extra content</p>
</ng-template>