<div class="flex flex-wrap">
    <nz-card>
        <div class="d-flex flex-column h-100">
            <div class="mb-4">
                <ul>
                    <li>
                        <div class="custom-accordion">
                            <a class="text-body font-medium py-1 flex items-center" *ngFor="let item of folderList"
                                (click)="getSubFolder(item)" data-toggle="collapse" role="button" aria-expanded="false"
                                aria-controls="categories-collapse">
                                <i class="fas fa-folder text-yellow-500 text-base mr-2"></i> {{item}}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nz-card><!-- end card -->
    <nz-spin [nzSpinning]="saveLoader" [nzSize]="'large'" class="builder-design">
        <h3>{{selectedFolder}}</h3>
        <div *ngFor="let item of subFolderList">
            <i class="fas fa-folder text-yellow-500 text-base mr-2"></i>
            <div (click)="getSubFolder(item.fileName)">{{item.fileName}}</div>
            <div (click)="remove(item)">Remove </div>
        </div>
        <nz-card class="card">
            <div class="card-body">
                <div class="w-full">
                    <div class="search-box mb-2">
                        <div class="relative">
                            <nz-input-group [nzPrefix]="prefixIconSearch">
                                <input type="text" nz-input placeholder="Enter Folder Name" [(ngModel)]="folderName" />
                            </nz-input-group>
                            <ng-template #prefixIconSearch>
                                <button nzType="button" (click)="addFolder()">Add</button>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="d-flex flex-wrap">
                        <h5 class="font-size-16 me-3">All Files</h5>
                    </div>
                    <hr class="mt-2">

                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap table-hover mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Date Modified</th>
                                    <th scope="col" colspan="2">Size</th>
                                </tr><!-- end tr -->
                            </thead><!-- end thead -->
                            <tbody>
                                <tr *ngFor="let data of filesList;index as i">
                                    <td>{{i + 1}}</td>
                                    <td><a href="javascript: void(0);" class="text-dark fw-medium"><i
                                                [ngClass]="iconClass(data.type)" class="align-middle me-2"></i>
                                            {{data.fileName}}</a></td>
                                    <td>{{data.createdDate | date : 'dd-MM-yyyy hh:mm:ss'}}</td>
                                    <td>{{formatFileSize(data.fileSize)}}</td>
                                    <td>
                                        <div class="dropdown" ngbDropdown placement="bottom-right">
                                            <a href="javascript:void(0);"
                                                class="font-size-16 text-muted dropdown-toggle" ngbDropdownToggle>
                                                <i class="uil uil-ellipsis-h"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                <a class="dropdown-item" (click)="remove(data)">Remove</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr><!-- end tr -->
                            </tbody><!-- end tbody -->
                        </table><!-- end table -->
                    </div><!-- end table responsive -->
                </div>
            </div><!-- end cardbody-->
        </nz-card><!-- end card -->
    </nz-spin>

</div><!-- end row -->