<!-- <div class="grid grid-cols-5">
  <div class="col-span-5 mb-8">
    <app-site-header></app-site-header>
  </div>
  <div class="col-span-1">
    <app-menu></app-menu>
  </div>
  <div class="col-span-4 mt-11">
    <nz-layout>
      <nz-layout>
        <nz-content>
          <nz-breadcrumb>
            <nz-breadcrumb-item>User</nz-breadcrumb-item>
            <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
          </nz-breadcrumb>
          <router-outlet></router-outlet>
        </nz-content>
        <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
      </nz-layout>
    </nz-layout>
  </div>
</div> -->
<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo text-white text-center">Shopo Tube</div>
    <ul nz-menu [nzMode]="'vertical'" nzTheme="dark" >
      <ng-container *ngFor="let item of menuItems">
        <ng-container *ngIf="item.isTitle;else subMenu">
          <li nz-menu-group [nzTitle]="item.label">
          </li>
        </ng-container>
        <ng-template #subMenu>
          <ng-container *ngIf="item.subItems && item.subItems.length > 0;else menu">
            <li nz-submenu [nzTitle]="item.label" nzIcon="appstore" >
              <ul>
                <li nz-menu-item *ngFor="let sub of item.subItems">{{sub.label}}</li>
              </ul>
            </li>
          </ng-container>
        </ng-template>
        <ng-template #menu>
          <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
            <span nz-icon nzType="appstore"></span>
            <span>{{item.label}}</span>
          </li>
        </ng-template>



      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <app-app-side-menu></app-app-side-menu>
    </nz-header>
    <nz-header>
      <app-menu></app-menu>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <!-- <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item> -->
      </nz-breadcrumb>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>ShopoTube</nz-footer>
  </nz-layout>
</nz-layout>

<!-- <div class="container-fluid">
  <app-site-footer></app-site-footer>
</div> -->
