.side-btn {
    padding: 0px;
    position: absolute;
    height: 80px;
    width: 7px !important;
    top: 36%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    z-index: 9 !important;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    // border-radius: 100px;
    cursor: pointer;
    left: 10px;
    background-color: #038edcb8 !important;
}

.isActive {
    background-color: #bae7ff;
    border-radius: 2px;
}