.side-btn {
    padding: 0px;
    position: absolute;
    height: 80px;
    width: 8px !important;
    top: 36%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    z-index: 9 !important;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    // border-radius: 100px;
    cursor: pointer;
    left: 0px;
    background-color: #038edcb8 !important;
}

.isActive {
    background-color: #bae7ff;
    border-radius: 2px;
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

// .website-block-menu {
//     // margin-left: auto;
//     border: 1px solid rgb(189, 189, 189);
//     width: 22%;
// }
// .block-Buttons {
//     width: 76%;
// }
.website-block {
    display: flex;

    .block-Button {
        width: 100%;
    }

    .website-block-menu {
        width: 30%;
    }
}

.text-wrap {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-btn-primary {
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #2563EB;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0.2px;
    width: fit-content;

    &:hover {
        background-color: #3b82f6;
    }

}



.ant-modal-content {
    .ant-modal-footer>button:nth-child(1) {
        height: 40px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 6px;
        font-size: 14px;
        font-style: normal;
        line-height: 140%;
        letter-spacing: 0.2px;
        width: fit-content;
    }

    .ant-modal-footer>button:nth-child(2) {
        height: 40px;
        flex-shrink: 0;
        border-radius: 6px;
        background: #2563EB;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        line-height: 140%;
        letter-spacing: 0.2px;
        width: fit-content;
    }

}