<nz-spin [nzSpinning]="showLoader" nzSize="large" nzTip="Loading...">

    <div class="!w-full !flex !flex-wrap !h-screen">
        <!-- poster -->
        <div class="lg:w-1/2 !hidden lg:!inline-block !h-full !relative !box-border !bg-[#2563EB] !text-white">
            <!-- logo -->
            <div class="flex !items-center !absolute !space-x-[14px] !top-6 !left-6">
                <img src="/assets/images/Exclude.png" class="!w-[34px] !h-[34px]" alt="Fastify_Logo" />
                <p class="!text-[28px] !not-italic !font-bold !leading-[35px] !tracking-[-0.346px] !mb-0">
                    Fastify
                </p>
            </div>
            <!-- logo -->

            <!-- Carousel_indicator -->


            <nz-carousel nzEffect="scrollx" nzAutoPlay>
                <div nz-carousel-content class="w-full">
                    <div class="!pt-[50px] !flex !justify-center !items-center img-div !px-[70px]">
                        <div
                            class="w-[75%] h-4/5 !flex !justify-center !items-center !rounded-full !bg-gradient-to-b from-[#306BEC] to-[#2563EB]">
                            <div
                                class="w-[70%] h-[70%] !relative !flex !justify-center !items-center !rounded-full !bg-gradient-to-b from-[#467AED] to-[#2563EB]">
                                <img src="assets/images/Illustration.png" class="!absolute !top-2 !left-2 !w-96 !h-96"
                                    alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="!h-fit bottom-div !relative !bottom-8 !flex !flex-col !items-center !text-center">
                        <p
                            class="!text-[24px] !mb-3 !text-white !not-italic !font-bold !leading-[30px] !tracking-[0.2px]">
                            Customizable Multipurpose Dashboard
                        </p>
                        <p class="!text-[14px] !text-[#F8FAFC] !opacity-60 !not-italic !font-normal !leading-[22px]">
                            Everything you need in an easily customizable dashboard.
                        </p>
                    </div>
                </div>
                <div nz-carousel-content class="w-full">
                    <div class="!pt-[50px] !flex !justify-center !items-center img-div !px-[70px]">
                        <div
                            class="!w-[75%] !h-4/5 !flex !justify-center !items-center !rounded-full !bg-gradient-to-b from-[#306BEC] to-[#2563EB]">
                            <div
                                class="!w-[70%] !h-[70%] !relative !flex !justify-center !items-center !rounded-full !bg-gradient-to-b from-[#467AED] to-[#2563EB]">
                                <img src="assets/images/Illustration.png" class="!absolute !top-2 !left-2 !w-96 !h-96"
                                    alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="!h-fit bottom-div !relative !bottom-8 !flex !flex-col !items-center !text-center">
                        <p
                            class="!text-[24px] !mb-3 !text-white !not-italic !font-bold !leading-[30px] !tracking-[0.2px]">
                            Customizable Multipurpose Dashboard
                        </p>
                        <p class="!text-[14px] !text-[#F8FAFC] !opacity-60 !not-italic !font-normal !leading-[22px]">
                            Everything you need in an easily customizable dashboard.
                        </p>
                    </div>
                </div>
                <div nz-carousel-content class="w-full">
                    <div class="!pt-[50px] !flex !justify-center !items-center img-div !px-[70px]">
                        <div
                            class="!w-[75%] !h-4/5 !flex !justify-center !items-center !rounded-full !bg-gradient-to-b from-[#306BEC] to-[#2563EB]">
                            <div
                                class="!w-[70%] !h-[70%] !relative !flex !justify-center !items-center !rounded-full !bg-gradient-to-b from-[#467AED] to-[#2563EB]">
                                <img src="assets/images/Illustration.png" class="!absolute !top-2 !left-2 !w-96 !h-96"
                                    alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="!h-fit bottom-div !relative !bottom-8 !flex !flex-col !items-center !text-center">
                        <p
                            class="!text-[24px] !mb-3 !text-white !not-italic !font-bold !leading-[30px] !tracking-[0.2px]">
                            Customizable Multipurpose Dashboard
                        </p>
                        <p class="!text-[14px] !text-[#F8FAFC] !opacity-60 !not-italic !font-normal !leading-[22px]">
                            Everything you need in an easily customizable dashboard.
                        </p>
                    </div>
                </div>

            </nz-carousel>


            <!-- Carousel_indicator -->
        </div>
        <!-- poster -->

        <!-- Form -->
        <div class="w-full lg:w-1/2 h-full flex justify-center box-border items-center">
            <div class="w-[400px] flex items-center flex-col">
                <div class="w-full">
                    <p
                        class="text-[24px] ml-[20px] !text-left mb-4 not-italic font-bold leading-[30px] tracking-[0.2px] text-[#0F172A]">
                        Forgot To Your Account
                    </p>
                </div>
                <div class="w-full flex justify-center items-center">
                    <nz-alert nzType="warning" nzMessage="Warning" nzDescription="You are not human" nzShowIcon
                        class="w-[350px] rechateAlert" *ngIf="showRecaptcha"></nz-alert>
                </div>

                <form action="" [formGroup]="form" (ngSubmit)="submitForm()">
                    <div class="flex items-center w-full flex-col">
                        <nz-input-group [nzPrefix]="prefixTemplatemail"
                            class="!w-[350px] !rounded-md py-2 my-4 px-4 !h-[46px]">
                            <input type="email" formControlName="email" nz-input placeholder="Email" />
                        </nz-input-group>
                        <app-error [form_control]="f['email']" [isSubmitted]="isFormSubmit"></app-error>
                        <ng-template #prefixTemplatemail>
                            <i class="fa-light fa-envelope mr-3 text-lg"></i>
                        </ng-template>
                    </div>
                    <div class="">
                        <div class="reCaptcha" id="recaptcha" class="g-recaptcha"
                            data-sitekey="6LcZ59MnAAAAAEFG5x2mJoJ_ptOFR7O2hSX0HHx3"></div>
                    </div>
                    

                    <div class="flex justify-center">
                        <button type="submit"
                            class="!w-[350px] bg-[#2563EB] !rounded-md text-white font-bold py-2 mt-4 px-4 !h-[46px]">
                            Sign In
                        </button>
                    </div>
                </form>

                <nz-divider nzText="Or Sign In with"
                    class="!text-xs not-italic font-normal leading-[19.2px]"></nz-divider>

                <!-- <div class="w-full flex justify-evenly ">
                    <div
                        class="rounded border flex justify-center items-center w-[45%] bg-white cursor-pointer hover:bg-gray-100 font-bold py-2 px-4 !h-[46px]">
                        <img src="assets/images/5847f9cbcef1014c0b5e48c8.png" class="w-4 mr-2.5 h-4"
                            alt="Google logo" />
                        <p class="text-[16px] not-italic font-semibold tracking-[0.2px] !mb-0">
                            Google
                        </p>
                    </div>
                    <div
                        class="rounded border flex justify-center items-center w-[45%] bg-white cursor-pointer hover:bg-gray-100 font-bold py-2 px-4 !h-[46px]">
                        <img src="assets/images/logo-facebookpng-32240.png" class="w-4 mr-2.5 h-4"
                            alt="Facebook logo" />
                        <p class="text-[16px] not-italic font-semibold tracking-[0.2px] !mb-0">
                            Facebook
                        </p>
                    </div>
                </div> -->
                <div class="my-4">
                    <p class="text-[14px] not-italic font-normal leading-[22.4px]"  >
                        Don't have account?<a    class="font-bold text-[#2563EB] ml-1" routerLink="/login">Sign In</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- Form -->
    </div>

</nz-spin>