<nz-card class='card cursor-pointer !mb-1.5' [draggable]="'true'" (dragstart)="identifyCardBeingDragged($event)"
  id="list-{{listIndex}}-card-{{cardIndex}}" attr.listIndex="{{listIndex}}" attr.cardIndex="{{cardIndex}}"
  (dragover)="allowCardDragToBeDropped($event)">
  <div>
    <div class="flex justify-end">
      <i class="fa-regular fa-pencil text-blue-500 hover:cursor-pointer" (click)="edit(card)"></i>
    </div>
    <st-mains [item]="card" [formlyModel]="formlyModel" [form]="form" [screenName]="screenName"
      [draggable]="'false'"></st-mains>
  </div>
  <!-- <b>
    <h4 class="card-title" [(appContentEdit)]="card.header" [draggable]="'false'"> </h4>
  </b>
  <h6 class="text-muted card-subtitle mb-2" [(appContentEdit)]="card.summary" [draggable]="'false'"></h6> -->
</nz-card>