<nz-input-group [nzSuffix]="to.config?.addonLeft" [nzPrefix]="to.config?.addonRight"
        [nzStatus]="to.config?.status" [nzSize]="to.config?.size">
        <nz-range-picker *ngIf="to.type == 'date'" [nzDisabled]="to.disabled" style="width:100%"
            [formControl]="formControl" [nzStatus]="to.config?.status" [nzSize]="to.config?.size"></nz-range-picker>
        <nz-range-picker *ngIf="to.type != 'date'" [nzDisabled]="to.disabled" style="width:100%"
            [nzMode]="to.type" [formControl]="formControl" [nzStatus]="to.config?.status" [nzSize]="to.config?.size"></nz-range-picker>
    </nz-input-group>