<ng-container *ngIf="to['additionalProperties']?.wrapper != 'floating_standard'">
    <nz-input-group *ngIf="!to['additionalProperties']?.suffixicon && !to['additionalProperties']?.prefixicon" [nzSuffix]="to['additionalProperties']?.addonLeft" [nzPrefix]="to['additionalProperties']?.addonRight" [nzStatus]="to['additionalProperties']?.status"
        [nzSize]="to['additionalProperties']?.size">
        <nz-range-picker
            [ngClass]="to['additionalProperties']?.wrapper && to['additionalProperties']?.wrapper == 'floating_filled' || to['additionalProperties']?.wrapper == 'floating_outlined' || to['additionalProperties']?.wrapper == 'floating_standard' ? to['additionalProperties']?.floatFieldClass.replace('block','') : ''"
            *ngIf="to.type == 'date'" [nzDisabled]="to.disabled" style="width:100%" [formControl]="formControl"
            [nzStatus]="to['additionalProperties']?.status" [nzSize]="to['additionalProperties']?.size"></nz-range-picker>
        <nz-range-picker
            [ngClass]="to['additionalProperties']?.wrapper && to['additionalProperties']?.wrapper == 'floating_filled' || to['additionalProperties']?.wrapper == 'floating_outlined' || to['additionalProperties']?.wrapper == 'floating_standard' ? to['additionalProperties']?.floatFieldClass.replace('block','') : ''"
            *ngIf="to.type != 'date'" [nzDisabled]="to.disabled" style="width:100%" [nzMode]="to.type"
            [formControl]="formControl" [nzStatus]="to['additionalProperties']?.status" [nzSize]="to['additionalProperties']?.size"></nz-range-picker>
        <label *ngIf="to['additionalProperties']?.wrapper == 'floating_filled' || to['additionalProperties']?.wrapper == 'floating_outlined'"
            [ngClass]="to['additionalProperties']?.floatLabelClass">{{to.label}}</label>
    </nz-input-group>
    <nz-input-group *ngIf="to['additionalProperties']?.suffixicon || to['additionalProperties']?.prefixicon"
        [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixTemplateUser" [nzSize]="to['additionalProperties']?.size">
        <nz-range-picker
            [ngClass]="to['additionalProperties']?.wrapper && to['additionalProperties']?.wrapper == 'floating_filled' || to['additionalProperties']?.wrapper == 'floating_outlined' || to['additionalProperties']?.wrapper == 'floating_standard' ? to['additionalProperties']?.floatFieldClass.replace('block','') : ''"
            *ngIf="to.type == 'date'" [nzDisabled]="to.disabled" style="width:100%" [formControl]="formControl"
            [nzStatus]="to['additionalProperties']?.status" [nzSize]="to['additionalProperties']?.size"></nz-range-picker>
        <nz-range-picker
            [ngClass]="to['additionalProperties']?.wrapper && to['additionalProperties']?.wrapper == 'floating_filled' || to['additionalProperties']?.wrapper == 'floating_outlined' || to['additionalProperties']?.wrapper == 'floating_standard' ? to['additionalProperties']?.floatFieldClass.replace('block','') : ''"
            *ngIf="to.type != 'date'" [nzDisabled]="to.disabled" style="width:100%" [nzMode]="to.type"
            [formControl]="formControl" [nzStatus]="to['additionalProperties']?.status" [nzSize]="to['additionalProperties']?.size"></nz-range-picker>
        <label *ngIf="to['additionalProperties']?.wrapper == 'floating_filled' || to['additionalProperties']?.wrapper == 'floating_outlined'"
            [ngClass]="to['additionalProperties']?.floatLabelClass">{{to.label}}</label>
    </nz-input-group>

    <ng-template #prefixTemplateUser>
        <span>
          <st-icon *ngIf="to['additionalProperties']?.suffixicon" [type]="to['additionalProperties']?.iconType || 'outline'" [icon]="to['additionalProperties']?.suffixicon"
            [size]="to['additionalProperties']?.iconSize" [color]="to['additionalProperties']?.iconColor"></st-icon>
        </span>
      </ng-template>
      <ng-template #suffixTemplateInfo>
        <span>
          <st-icon *ngIf="to['additionalProperties']?.prefixicon" [type]="to['additionalProperties']?.iconType || 'outline'" [icon]="to['additionalProperties']?.prefixicon"
            [size]="to['additionalProperties']?.iconSize" [color]="to['additionalProperties']?.iconColor" ></st-icon>
        </span>
      </ng-template>
</ng-container>
<div class="relative z-0" *ngIf="to['additionalProperties']?.wrapper == 'floating_standard'">
    <nz-range-picker *ngIf="to.type == 'date'" id="floating_standard"
            class="flex py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            [formControl]="formControl" [nzStatus]="to['additionalProperties']?.status"
            [nzSize]="to['additionalProperties']?.size"></nz-range-picker>
        <nz-range-picker id="floating_standard"
            class="flex py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            *ngIf="to.type != 'date'" [nzDisabled]="to.disabled"[nzMode]="to.type"
            [formControl]="formControl" [nzStatus]="to['additionalProperties']?.status" [nzSize]="to['additionalProperties']?.size"></nz-range-picker>

  <label for="floating_standard" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{to.label}}</label>
</div>
