<form [formGroup]="myForm">
  <div formArrayName="fieldGroups">
    <div *ngFor="let fieldGroup of fieldGroups.controls; let i = index">
      <div [formGroupName]="i">
        <div class="grid grid-cols-4 gap-4">
          <div>
            <label>Manufacture</label>
            <input [nzStatus]="to['additionalProperties']?.status" [nzSize]="to['additionalProperties']?.size"
              [style.border-radius]="to['additionalProperties']?.borderRadius"
              (ngModelChange)="onModelChange($event, field)" nz-input [formControlName]="'manufacture'" />
          </div>
          <div>
            <label>Model</label>
            <input [nzStatus]="to['additionalProperties']?.status" [nzSize]="to['additionalProperties']?.size"
              [class]="to['additionalProperties']?.innerInputClass"
              [style.border-radius]="to['additionalProperties']?.borderRadius" (input)="onModelChange($event, field)"
              nz-input [formControlName]="'model'" />
          </div>
          <div>
            <label>Quantity</label>
            <input [nzStatus]="to['additionalProperties']?.status" [nzSize]="to['additionalProperties']?.size"
              [class]="to['additionalProperties']?.innerInputClass"
              [style.border-radius]="to['additionalProperties']?.borderRadius" (input)="onModelChange($event, field)"
              nz-input [formControlName]="'quantity'" />
          </div>
          <div>
            <label>Serial Numbers/s</label>
            <input [nzStatus]="to['additionalProperties']?.status" [nzSize]="to['additionalProperties']?.size"
              [class]="to['additionalProperties']?.innerInputClass"
              [style.border-radius]="to['additionalProperties']?.borderRadius" (input)="onModelChange($event, field)"
              nz-input [formControlName]="'serialNumber'" />
          </div>
          <div>
            <label>Equipment Broucher/Datesheet</label>
            <input [nzStatus]="to['additionalProperties']?.status" [nzSize]="to['additionalProperties']?.size"
              [class]="to['additionalProperties']?.innerInputClass"
              [style.border-radius]="to['additionalProperties']?.borderRadius" nz-input
              [formControlName]="'equipmentBroucher'" #fileInput type="file" (change)="onFileSelected($event, i)" />
          </div>
          <div [hidden]="true">
            <label>Equipment Broucher/Datesheet</label>
            <input [nzStatus]="to['additionalProperties']?.status" [nzSize]="to['additionalProperties']?.size"
              [class]="to['additionalProperties']?.innerInputClass"
              [style.border-radius]="to['additionalProperties']?.borderRadius" nz-input
              [formControlName]="'equipmentBroucher_base64'" (change)="onFileSelected($event, i)" />
          </div>
        </div>
        <button (click)="removeFieldGroup(i)">Remove Div</button>
      </div>
    </div>
  </div>
</form>

<button (click)="addFieldGroup()">Add Div</button>