
<ngx-dropzone [multiple]="true" class="border-dashed border-2 border-blue-400 p-4 rounded-md"
    (change)="onFileSelected($event)">
    <div class="flex flex-col items-center justify-center space-y-2 text-center">
        <div>{{multiFileUploadData}}</div>
    </div>
</ngx-dropzone>


<!-- <nz-upload
  nzAction="https://www.example.com/upload"
  nzName="file"
  nzMultiple
  (nzChange)="handleUpload($event)">
  <button nz-button>
    <i nz-icon nzType="upload"></i> Click to Upload
  </button>
</nz-upload> -->