/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css";
/* Import base styles */
@import "~ng-zorro-antd/button/style/index.min.css";
/* Import one component's styles */
@import "~jsoneditor/dist/jsoneditor.min.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$white: #F0F2F5;

nz-input-number {
  width: 100% !important;
}

nz-select {
  width: 100% !important;
}

nz-time-picker {
  width: 100% !important;
}

.demo-loadmore-list {
  min-height: 350px;
}

.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 0.1px;
  background: white !important;
}


body {
  // background-color: #232826;
  // color: F0F2F5;
  scroll-behavior: smooth;
}

html {
  --scrollbarBG: #90a4ae;
  --thumbBG: #90a4ae;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: $white;
}

.ant-tabs-tab .anticon {
  margin-right: 4px !important;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  vertical-align: baseline !important;
}

// .ant-switch{
//   background-color: #444a50;
// }
// .ant-switch ant-switch-checked{
//   background-color: #1890ff;
// }

.ant-switch {
  &.ant-switch-checked {
    background-color: #1890ff;
  }

  &:not(.ant-switch-checked) {
    background-color: grey;
  }
}

.ant-btn>span+.anticon {
  margin-left: 0px !important;
}

.theme-body {
  padding-top: 0px !important;

  .input-group-text {
    height: 50px !important;
    border-radius: 0px !important;
  }

  .v-body-border {
    border: 1px solid lightgray;
  }

  background: #f5f5f5;
  padding: 0px 0px !important;

  label {
    // text-align: right !important;
    border: 1px solid lightgray;
    padding-top: 8px;
    font-weight: bold;

    span {
      padding: 0px 1px;
    }
  }

  .ant-checkbox-group {
    label {
      padding-top: -15px !important;
    }
  }

  .ant-checkbox-wrapper {
    border: none !important;
  }

  .ant-radio-wrapper {
    border: none !important;
  }

  .formly-horizontal-wrapper {
    height: 50px !important;
  }

  .form-control {
    height: 50px !important;
    border-radius: 0px !important;
  }

  .ant-input-group-lg .ant-input,
  .ant-input-group-lg>.ant-input-group-addon {
    padding: 6.5px 11px;
    font-size: 16px;
    height: 55px !important;
  }

  .ant-picker-small {
    padding: 0 7px;
    height: 52px !important;
  }

  .ant-input-group-sm .ant-input,
  .ant-input-group-sm>.ant-input-group-addon {
    padding: 0 7px;
    height: 55px !important;
  }

  .ant-input-group .ant-input {
    float: left;
    width: 100%;
    height: 50px !important;
    margin-bottom: 0;
    text-align: inherit;
  }

  .ant-input-number-sm input {
    height: 22px;
    padding: 0 7px;
    height: 47px !important;
  }

  .ant-picker-large {
    padding: 6.5px 11px;
    height: 50px !important;
  }

  .ant-input-number-input {
    height: 51px !important;
  }

  .ant-picker {
    height: 50px !important;
  }

  .ant-input-number-lg input {
    height: 47px;
  }

  .ant-input-affix-wrapper-sm {
    height: 52px !important;
  }

  // .ant-input-number-input-wrap-lg .ant-input-number-input,
  // .ant-input-number-input-wrap-lg>.ant-input-number-input-wrap-addon {
  //   padding: 6.5px 11px;
  //   font-size: 16px;
  //   height: 47px !important;
  // }

  // .ant-input-number-input-wrap-sm .ant-input-number-input,
  // .ant-input-number-input-wrap-sm>.ant-input-number-input-wrap-addon {
  //   padding: 0 7px;
  //   height: 47px !important;
  // }

  // .ant-input-number-input-wrap .ant-input-number-input {
  //   float: left;
  //   width: 100%;
  //   height: 47px !important;
  //   margin-bottom: 0;
  //   text-align: inherit;
  // }

  .ant-select-selector {
    width: 100%;
    height: 52px !important;
  }

  .ant-row {
    display: flex;
    flex-flow: row wrap;
    padding-top: 12px !important;
  }

  .ant-radio-group {
    padding-top: 13px !important;
  }

  .ant-select-selection-item {
    height: 52px !important;
    top: 14px !important;
  }

  .ant-select-show-search {
    height: 50px !important;

    .ng-value-container {
      .ng-placeholder {
        top: 30px !important;
      }
    }
  }

  .ng-select-container {
    height: 50px !important;

    .ng-value-container {
      .ng-placeholder {
        top: 15px !important;
      }
    }
  }

  .column-form-input {
    background: white;
  }

  .col-form-label {
    padding: 14px !important;
  }

  .mt-1 {
    margin-top: 0px !important;
  }

  .mb-1 {
    margin-bottom: 0px !important;
  }

  input,
  .ng-select-container {
    border-radius: 0px !important;
  }

  .row:first-child {
    padding: 0px !important;
  }

  .col-sm-9 {
    padding: 0px !important;
  }
}

.highLight {
  // margin: 5px 10px !important;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
  border: 1px solid #038edcb8 !important;
  border-radius: 4px !important;
  background-color: #038ddc0e !important;
}

.height {
  .ant-input-number-input {
    height: 0px !important;
  }

  .ant-input-group .ant-input-affix-wrapper:not(:last-child),
  .ant-input-group-addon:first-child,
  .ant-input-group-addon:first-child .ant-select .ant-select-selector,
  .ant-input-group>.ant-input-affix-wrapper:not(:last-child) .ant-input,
  .ant-input-group>.ant-input:first-child,
  .ant-input-group>.ant-input:first-child .ant-select .ant-select-selector {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
.ant-menu-inline.ant-menu-root .ant-menu-item, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title{
  font-size: .875rem !important;
  color: #7c7f90 !important;
  font-weight: 600 !important;
}

.bg-custom-color-500 {
  background-color: custom-color(500);
}