/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css"; /* Import base styles */
@import "~ng-zorro-antd/button/style/index.min.css";  /* Import one component's styles */
@import "~jsoneditor/dist/jsoneditor.min.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
$white: #F0F2F5;
nz-input-number{
  width: 100% !important;
}
nz-select{
  width: 100% !important;
}
nz-time-picker{
  width: 100% !important;
}
.demo-loadmore-list {
  min-height: 350px;
}
.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}
.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 0.1px;
  background: white !important;
}


body {
  // background-color: #232826;
  // color: F0F2F5;
  scroll-behavior: smooth;
}

html {
  --scrollbarBG: #90a4ae;
  --thumbBG: #90a4ae;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: $white;
}

.ant-tabs-tab .anticon {
  margin-right: 4px !important;
}
img, svg, video, canvas, audio, iframe, embed, object{
  vertical-align: baseline !important;
}

// .ant-switch{
//   background-color: #444a50;
// }
// .ant-switch ant-switch-checked{
//   background-color: #1890ff;
// }

.ant-switch {
  &.ant-switch-checked {
    background-color: #1890ff;
  }
  
  &:not(.ant-switch-checked) {
    background-color: grey;
  }
}

.ant-btn>span+.anticon {
  margin-left: 0px !important;
}
 