/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css";
/* Import base styles */
@import "~ng-zorro-antd/button/style/index.min.css";
/* Import one component's styles */
@import "~jsoneditor/dist/jsoneditor.min.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$white: #F0F2F5;

nz-input-number {
  width: 100% !important;
}

nz-select {
  width: 100% !important;
}

nz-time-picker {
  width: 100% !important;
}

.demo-loadmore-list {
  min-height: 350px;
}

.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 0.1px;
  background: white !important;
}


body {
  // background-color: #232826;
  // color: F0F2F5;
  scroll-behavior: smooth;
}

html {
  --scrollbarBG: #90a4ae;
  --thumbBG: #90a4ae;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: $white;
}

.ant-tabs-tab .anticon {
  margin-right: 4px !important;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  vertical-align: baseline !important;
}

// .ant-switch{
//   background-color: #444a50;
// }
// .ant-switch ant-switch-checked{
//   background-color: #1890ff;
// }

.ant-switch {
  &.ant-switch-checked {
    background-color: #1890ff;
  }

  &:not(.ant-switch-checked) {
    background-color: grey;
  }
}

.ant-btn>span+.anticon {
  margin-left: 0px !important;
}

.theme-body {
  padding-top: 0px !important;


  .input-group-text {
    height: 50px !important;
    border-radius: 0px !important;
  }

  .v-body-border {
    // border: 1px solid lightgray;
    // border: 1px 1px 0px 1px solid lightgray;
  }

  background: #f5f5f5;
  padding: 0px 0px !important;

  label {
    // text-align: right !important;
    // border: 1px 1px 0px 1px solid lightgray;
    border: 1px solid lightgray;
    padding-top: 7px;
    font-weight: bold;

    span {
      padding: 0px 1px;
    }
  }

  .ant-checkbox-group {
    label {
      padding-top: -15px !important;
    }
  }

  .ant-checkbox-wrapper {
    border: none !important;
  }

  .ant-radio-wrapper {
    border: none !important;
  }

  .formly-horizontal-wrapper {
    height: 50px !important;
  }

  .form-control {
    height: 50px !important;
    border-radius: 0px !important;
  }

  .ant-input-group-lg .ant-input,
  .ant-input-group-lg>.ant-input-group-addon {
    padding: 6.5px 11px;
    font-size: 16px;
    height: 55px !important;
  }

  .ant-picker-small {
    height: 51px !important;
  }

  .ant-input-group-sm .ant-input,
  .ant-input-group-sm>.ant-input-group-addon {
    padding: 0 7px;
    height: 55px !important;
  }

  .ant-input-group .ant-input {
    height: 51px !important;
  }

  .ant-input-number-sm input {
    height: 22px;
    padding: 0 7px;
    height: 49px !important;
  }

  .ant-picker-large {
    padding: 6.5px 11px;
    height: 50px !important;
  }

  .ant-input-number-input {
    height: 51px !important;
  }

  .ant-picker {
    height: 51px !important;
  }

  .ant-input-number-lg input {
    height: 47px;
  }

  .ant-input-affix-wrapper-sm {
    height: 52px !important;
  }

  .ant-select-selector {
    height: 51px !important;
  }

  .ant-row {
    flex-flow: row wrap;
    padding-top: 7px !important;
    border: 1px solid lightgray;
    padding-bottom: 11px !important;
    padding-left: 2%;
    padding-right: 2%;
    height: 51px !important;
  }

  .ant-radio-group {
    padding-top: 7px !important;
    border: 1px solid lightgray;
    padding-bottom: 11px !important;
    display: flex;
    flex-flow: row wrap;
    padding-left: 2%;
    height: 51px !important;
  }

  .ant-select-selection-item {
    height: 52px !important;
    top: 14px !important;
  }

  .ant-select-show-search {
    height: 50px !important;

    .ng-value-container {
      .ng-placeholder {
        top: 30px !important;
      }
    }
  }

  .ng-select-container {
    height: 50px !important;

    .ng-value-container {
      .ng-placeholder {
        top: 15px !important;
      }
    }
  }

  .column-form-input {
    background: white;
  }

  .col-form-label {
    padding: 13px !important;
    height: 51px !important;
  }

  .mt-1 {
    margin-top: 0px !important;
  }

  .mb-1 {
    margin-bottom: 0px !important;
  }

  input,
  .ng-select-container {
    border-radius: 0px !important;
  }

  .row:first-child {
    padding: 0px !important;
  }

  .col-sm-9 {
    padding: 0px !important;
  }
}

.highLight {
  // margin: 5px 10px !important;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #038edcb8 !important;
  border-radius: 4px !important;
  background-color: #038ddc0e !important;
}

.height {
  .ant-input-number-input {
    height: 0px !important;
  }

  .ant-input-group .ant-input-affix-wrapper:not(:last-child),
  .ant-input-group-addon:first-child,
  .ant-input-group-addon:first-child .ant-select .ant-select-selector,
  .ant-input-group>.ant-input-affix-wrapper:not(:last-child) .ant-input,
  .ant-input-group>.ant-input:first-child,
  .ant-input-group>.ant-input:first-child .ant-select .ant-select-selector {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  font-size: .875rem !important;
  color: #7c7f90 !important;
  font-weight: 600 !important;
}

.bg-custom-color-500 {
  background-color: custom-color(500);
}

.rtlMenu {
  li {
    padding-left: 0px !important;
    padding-right: 24px !important;

    .title {
      padding-right: 10px;
    }
  }

  .menu-title {
    text-align: right;
  }

  .ant-menu-item, .ant-menu-submenu-title {
    & .ant-menu-item-icon + span,
    & .anticon + span {
      margin-left: 10px;
      margin-right: 10px !important;
      opacity: 1;
      transition: opacity .3s cubic-bezier(.645, .045, .355, 1), margin .3s, color .3s;
    }
  }

}

.fc .fc-toolbar .fc-button-group .fc-button-primary:not(.fc-prev-button):not(.fc-next-button).fc-button-active, .fc .fc-toolbar .fc-button-group .fc-button-primary:not(.fc-prev-button):not(.fc-next-button):hover{
  background-color: rgba(115,103,240,.2)!important;
    border-color: #7367f0!important;
    color: #7367f0;
}

.fc .fc-toolbar .fc-button-group .fc-button-primary:not(.fc-prev-button):not(.fc-next-button){
  background-color: transparent;
    border-color: #7367f0;
    color: #7367f0;
}
.fc .fc-toolbar .fc-button-group .fc-button{
  text-transform: capitalize;
}
.fc .fc-button{
  display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.4em 0.65em;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 0.25em;
}
.fc .fc-button {
  -webkit-appearance: button;
}
.fc .fc-button {
  border-radius: 0;
  overflow: visible;
  text-transform: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.fc .fc-toolbar .fc-next-button .fc-icon, .fc .fc-toolbar .fc-prev-button .fc-icon {
  color: #6e6b7b;
}
.fc .fc-button .fc-icon {
  vertical-align: middle;
  font-size: 1.5em;
}
.fc-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: fcicons!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fc .fc-toolbar .fc-next-button .fc-icon, .fc .fc-toolbar .fc-prev-button .fc-icon:hover {
  color: #6e6b7b;
}
.fc .fc-button-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.fc .fc-button-group>.fc-button.fc-button-active, .fc .fc-button-group>.fc-button:active, .fc .fc-button-group>.fc-button:focus, .fc .fc-button-group>.fc-button:hover {
  z-index: 1;
}
.fc-direction-ltr .fc-button-group>.fc-button:not(:first-child) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.fc .fc-toolbar .fc-next-button:active, .fc .fc-toolbar .fc-next-button:focus, .fc .fc-toolbar .fc-next-button:hover, .fc .fc-toolbar .fc-prev-button:active, .fc .fc-toolbar .fc-prev-button:focus, .fc .fc-toolbar .fc-prev-button:hover {
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.fc .fc-toolbar .fc-button-group .fc-dayGridMonth-button:first-child, .fc .fc-toolbar .fc-button-group .fc-listMonth-button:first-child, .fc .fc-toolbar .fc-button-group .fc-timeGridDay-button:first-child, .fc .fc-toolbar .fc-button-group .fc-timeGridWeek-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
// .fc .fc-toolbar .fc-button-group .fc-dayGridMonth-button:first-child, .fc .fc-toolbar .fc-button-group .fc-dayGridMonth-button:last-child, .fc .fc-toolbar .fc-button-group .fc-listMonth-button:first-child, .fc .fc-toolbar .fc-button-group .fc-listMonth-button:last-child, .fc .fc-toolbar .fc-button-group .fc-timeGridDay-button:first-child, .fc .fc-toolbar .fc-button-group .fc-timeGridDay-button:last-child, .fc .fc-toolbar .fc-button-group .fc-timeGridWeek-button:first-child, .fc .fc-toolbar .fc-button-group .fc-timeGridWeek-button:last-child {
//   border-radius: 0.358rem;
// }
.fc .fc-button-group>.fc-button.fc-button-active, .fc .fc-button-group>.fc-button:active, .fc .fc-button-group>.fc-button:focus, .fc .fc-button-group>.fc-button:hover {
  z-index: 1;
}
.fc .fc-toolbar .fc-button-group .fc-dayGridMonth-button, .fc .fc-toolbar .fc-button-group .fc-listMonth-button, .fc .fc-toolbar .fc-button-group .fc-timeGridDay-button, .fc .fc-toolbar .fc-button-group .fc-timeGridWeek-button {
  padding: 0.55rem 1.5rem;
}
.fc-h-event .fc-event-title {
  display: inline-block;
  vertical-align: top;
  left: 0;
  right: 0;
  max-width: 100%;
  overflow: hidden;
}
.fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
  padding: 1px;
}
.fc-sticky {
  position: sticky;
}

.app-calendar .fc .fc-event .fc-event-main {
  color: inherit;
}

.fc .fc-daygrid-event-harness .fc-event {
  font-size: .8rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}

.fc-daygrid-dot-event .fc-event-title {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  overflow: hidden;
  font-weight: 700;
}
.fc .fc-daygrid-event-harness .fc-event {
  font-size: .8rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}
a.fc-event, a.fc-event:hover {
  text-decoration: none;
}
.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  margin-right: 3px;
}

.fc .fc-daygrid-event-harness .fc-event {
  font-size: .8rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}
.fc-daygrid-event-dot {
  margin: 0 4px;
  box-sizing: content-box;
  width: 0;
  height: 0;
  border: 4px solid #3788d8;
  border: calc(var(--fc-daygrid-event-dot-width, 8px) / 2) solid var(--fc-event-border-color,#3788d8);
  border-radius: 4px;
  border-radius: calc(var(--fc-daygrid-event-dot-width, 8px) / 2);
}

.fc .fc-daygrid-event-harness .fc-event {
  font-size: .8rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}
.fc-daygrid-event {
  position: relative;
  white-space: nowrap;
  border-radius: 3px;
  font-size: .85em;
  font-size: var(--fc-small-font-size,.85em);
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 2px;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-start, .fc-direction-rtl .fc-daygrid-event.fc-event-end {
  margin-left: 2px;
}
.fc .fc-daygrid-event-harness .fc-event {
  font-size: .8rem;
  font-weight: 600;
  padding: 0.1rem 0.1rem;
}
.fc .fc-daygrid-event {
  z-index: 6;
  margin-top: 1px;
}
.fc .fc-popover {
  position: absolute;
  z-index: 9999;
  box-shadow: 0 2px 6px rgba(0,0,0,.15);
}

.fc-theme-standard .fc-popover {
  border: 1px solid #ddd;
  border: 1px solid var(--fc-border-color,#ddd);
  background: #fff;
  background: var(--fc-page-bg-color,#fff);
}
.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title, .ant-menu-vertical .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-item, .ant-menu-vertical-right .ant-menu-submenu-title {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.ant-menu-submenu-title .anticon+span {
  margin-right: 10px !important;
}
// .ant-alert-message {
//   color: var(--my-color) !important;
// }   
// .my-class {
//   color: var(--my-color); // Use the custom property in your global SCSS file
// }
