<nz-table #nestedTable [nzData]="tabelNodes" [nzPageSize]="10">
  <thead>
    <tr>
      <th nzWidth="10%"></th>
      <th>Id</th>
      <th>Key</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="nestedTable.data">
      <tr>
        <td [(nzExpand)]="data.expand"></td>
        <td> <input nz-input type="text" class="form-control" [(ngModel)]="data.id" [disabled]="true"> </td>
        <td><input nz-input type="text" class="form-control" [(ngModel)]="data.key"></td>
        <td><input nz-input type="text" class="form-control" [(ngModel)]="data.title"></td>
      </tr>
      <tr [nzExpand]="data.expand">
        <nz-table #innerTable [nzData]="data.children" nzSize="middle" [nzShowPagination]="true">
          <thead>
            <tr>
              <th>Id</th>
              <th>Key</th>
              <th>Title</th>
              <th>Default Value</th>
              <th>Placeholder</th>
            </tr>
          </thead>
  <tbody>
    <tr *ngFor="let data of innerTable.data">
      <td> <input nz-input type="text" class="form-control" [(ngModel)]="data.id" [disabled]="true"> </td>
      <td><input nz-input type="text" class="form-control" [(ngModel)]="data.key"></td>
      <td><input nz-input type="text" class="form-control" [(ngModel)]="data.title"></td>
      <td><input nz-input type="text" class="form-control" [(ngModel)]="data.defaultValue"></td>
      <td><input nz-input type="text" class="form-control" [(ngModel)]="data.placeholder"></td>
    </tr>
  </tbody>
</nz-table>
</tr>
</ng-template>
</tbody>
</nz-table>
<div class="flex justify-end">
  <button class="upload-btn" nz-button nzType="primary" (click)="save()">
    <span nz-icon nzType="save"></span>
    Save
  </button>
</div>