<div class="grid grid-cols-2 market-place mb-3">
  <div>
    <h3><b>Bulk Update</b></h3>
  </div>
  <div>
    <div class="basic-button-save text-end justify-end">
      <button nz-button nzType="primary" class="save-btn ml-3" (click)="save()">Save</button>
      <button nz-button (click)="close()" class="cancel-btn">Cancel</button>
    </div>
  </div>
</div>
<nz-table class="builder-bulk-update" #nestedTable [nzData]="tabelNodes" [nzPageSize]="10">
  <thead>
    <tr>
      <th nzWidth="10%"></th>
      <th>Id</th>
      <th>Key</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="nestedTable.data">
      <tr>
        <td [(nzExpand)]="data.expand"></td>
        <td> <input nz-input type="text" class="form-control" [(ngModel)]="data.id" [disabled]="true"> </td>
        <td><input nz-input type="text" class="form-control" [(ngModel)]="data.key"></td>
        <td><input nz-input type="text" class="form-control" [(ngModel)]="data.title"></td>
      </tr>
      <tr [nzExpand]="data.expand">
        <div class="container">
          <div class="table-key">
            <input nz-input type="text" placeholder="Enter Table key" class="form-control" class="table-key-input" [(ngModel)]="data['tableKey']">
            <button nz-button (click)="apply(data['tableKey'] , data)" class="cancel-btn bg-blue-600 hover:bg-blue-500 text-white hover:!text-white">
              <i class="fa-regular fa-key mr-2"></i>
                Apply Screen Key
            </button>
          </div>
        </div>

        <nz-table #innerTable [nzData]="data.children" nzSize="middle" [nzShowPagination]="true">
          <thead>
            <tr>
              <th>Id</th>
              <th>Key</th>
              <th>Title</th>
              <th>Default Value</th>
              <th>Placeholder</th>
            </tr>
          </thead>
  <tbody>
    <tr *ngFor="let data of innerTable.data">
      <td> <input nz-input type="text" class="form-control" [(ngModel)]="data.id" [disabled]="true"> </td>
      <td><input nz-input type="text" class="form-control" [(ngModel)]="data.key"></td>
      <td><input nz-input type="text" class="form-control" [(ngModel)]="data.title"></td>
      <td><input nz-input type="text" class="form-control" [(ngModel)]="data.defaultValue"></td>
      <td><input nz-input type="text" class="form-control" [(ngModel)]="data.placeholder"></td>
    </tr>
  </tbody>
</nz-table>
</tr>
</ng-template>
</tbody>
</nz-table>