<p [class]="data.link ? 'cursor-pointer' : ''"  (click)="pageRoute(data.link)"
nz-typography
[nzContent]="data.text"
[nzEditable]="data.editable"
[nzEditIcon]="editIcon"
[nzEditTooltip]="data.editableTooltip"
[nzCopyable]="data.copyable"
[nzCopyIcons]="[beforecopiedIcon, aftercopiedIcon]"
[nzCopyTooltips]="data.copyTooltips"
[nzEllipsis]="data.ellipsis"
[nzSuffix]="data.suffix"
[nzDisabled]="data.disabled"
[nzExpandable]="data.expandable"
[nzEllipsisRows]="data.ellipsisRows"
[nzType]="data.nztype"
[class]="data.fontstyle + data.textSize"
 [style.color]="data.color"
></p>
<ng-template #beforecopiedIcon>
  <span>
    <st-icon *ngIf="data?.beforecopyIcon" [type]="data?.iconType || 'outline'" [icon]="data?.beforecopyIcon"
      [size]="data?.iconSize" [color]="data?.iconColor"></st-icon>
  </span>
  </ng-template>
<ng-template #aftercopiedIcon>
  <span>
    <st-icon *ngIf="data?.aftercopyIcon" [type]="data?.iconType || 'outline'" [icon]="data?.aftercopyIcon"
      [size]="data?.iconSize" [color]="data?.iconColor"></st-icon>
  </span>
  </ng-template>
<ng-template #editIcon>
  <span>
    <st-icon *ngIf="data?.editableIcon" [type]="data?.iconType || 'outline'" [icon]="data?.editableIcon"
      [size]="data?.iconSize" [color]="data?.iconColor"></st-icon>
  </span>
  </ng-template>
