.editable-cell {
  position: relative;
  // padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.highlight {
  background-color: #ffcacaa6;
}

// .data-table {
//   width: 100%;
//   border: 1px solid black !important;
//   border-collapse: collapse !important;
// }

// .data-table th,
// .data-table td {
//   border: 1px solid black !important;
//   padding: 10px !important;
// }
.responsive-checkBox{
  text-align: start !important;
}

.table-image{
  height: 50px !important;
  width: auto !important;
  min-width: 100px;
  max-width: 100px;
  object-fit: cover;
}

.ant-table-row:hover td{
background-color: transparent !important;
}

.ant-dropdown-trigger {
  padding: 2px !important;
}