<!-- {{tableHeaders | json}} -->
<!-- {{key | json}} -->
<!-- <nz-modal [(nzVisible)]="isVisible" nzWidth=700px nzTitle="The first Modal" (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <label class="form-label ml-3 text-base font-bold w-3/12">Column Name</label>
    <input nz-input type="text" class="form-control ml-1  w-4/12" placeholder="Enetr Column Name"
      [(ngModel)]="columnName">
  </ng-container>
</nz-modal> -->
<div *ngIf="data.isAddRow">
  <button nz-button (click)="addRow()" *ngIf="!checkType" nzType="primary">Add</button>
  <button nz-button (click)="addColumn()" *ngIf="checkType" nzType="primary">Add</button>
</div>
<br />
<br />
<nz-table #editRowTable [nzPageSize]="10" [nzBordered]='data.nzBordered' [nzData]="tableData"
  [nzLoading]="data?.nzLoading" [nzPaginationPosition]='data?.nzPaginationPosition'
  [nzPaginationType]='data?.nzPaginationType' [nzFrontPagination]='data?.nzFrontPagination'
  [nzShowPagination]='data?.nzShowPagination' [nzTitle]='data?.nzTitle' [nzSize]="data.nzSize"
  [nzSimple]="data.nzSimple" [nzShowSizeChanger]="data.nzShowSizeChanger"
  [nzScroll]="{ x: data.tableScroll, y: scrollY }">
  <thead>
    <tr *ngIf="data.showColumnHeader">
      <th nzWidth="40px" *ngIf="data.expandable"></th>
      <th *ngIf="data.showCheckbox" nzWidth="60px" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="checkAll($event)"></th>
      <th [nzSortOrder]="header?.sortOrder" [nzSortFn]="header?.sortFn" [nzSortDirections]="header?.sortDirections"
        [nzFilterMultiple]="header?.filterMultiple" [nzFilters]="header?.listOfFilter" [nzFilterFn]="header?.filterFn"
        *ngFor="let header of tableHeaders">{{header.name}} <span
          *ngIf="header?.gridHeaderSum">({{header?.gridHeaderSum}})</span></th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <ng-template #recursiveList let-data1>
      <ng-container *ngFor="let item of data1">
        <tr [ngStyle]="{'background': item?.color}">
          <td *ngIf="data.expandable" [(nzExpand)]="item.expand"></td>
          <td *ngIf="data.showCheckbox" [(nzChecked)]="item.checked" (nzCheckedChange)="refreshStatus()"></td>
          <ng-container *ngFor="let header of key">

            <td [nzEllipsis]="true"
              *ngIf="header.name != 'description' && header.name != 'headerButton' && header.name != 'footerButton' && header.name != 'checked' && header.name != 'expand' && header.name !='children'">
              <div class="editable-cell" [hidden]="editId === item.id" (click)="startEdit(item.id)">
                {{item[header.name]}}
              </div>
              <input [hidden]="editId !== item.id" type="text" nz-input [(ngModel)]="item[header.name]" />
            </td>
            <td *ngIf="header.name == 'headerButton'">
              <button (click)="showModal('Header')" type="button"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Button
              </button>
            </td>
            <td *ngIf="header.name == 'footerButton'">
              <button type="button" (click)="showModal('Footer')"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Button
              </button>
              <!-- <button nz-button nzType="primary" type="button">Button</button> -->
            </td>
          </ng-container>

          <td>
            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(item.id)">
              <span class="text-red-500" nz-icon nzType="delete" nzTheme="outline"></span>
            </a>
          </td>
        </tr>
        <!-- <ng-container *ngIf="item.children?.length > 0 && data.expandable" >
          <tr *ngFor="let child of item.children" [nzExpand]="item.expand">
            <td colspan="8">
              <nz-table #recursiveTableChild [nzData]="child" [nzPageSize]="10">
                <thead>
                  <th *ngFor="let ch of childKey" >{{ch}}</th>
                </thead>
                <tbody>
                  <ng-container *ngFor="let key of childKey">
                    <td [nzEllipsis]="true" *ngIf="key != 'description' && key != 'checked' && key != 'expand'">
                      <div class="editable-cell" [hidden]="editId === child.id+item.id" (click)="startEdit(child.id+item.id)">
                        {{child[key]}}
                      </div>
                      <input [hidden]="editId !== child.id+item.id" type="text" nz-input [(ngModel)]="child[key]" />
                    </td>
                  </ng-container>
                </tbody>
              </nz-table>
            </td>
          </tr>
        </ng-container> -->
      </ng-container>

      <!-- <tr *ngIf="data.expandable" [nzExpand]="item.expand">
        <th *ngFor="let child of childKey" nzWidth="80px">{{child}}</th>
      </tr>
      <ng-container *ngFor="let child of item.children">
        <tr *ngIf="data.expandable" [nzExpand]="item.expand">
          <ng-container *ngFor="let key of childKey">
            <td [nzEllipsis]="true" *ngIf="key != 'description' && key != 'checked' && key != 'expand'">
              <div class="editable-cell" [hidden]="editId === child.id" (click)="startEdit(child.id)">
                {{child[key]}}
              </div>
              <input [hidden]="editId !== child.id" type="text" nz-input [(ngModel)]="child[key]" />
            </td>
          </ng-container>
        </tr>
      </ng-container> -->
    </ng-template>
    <!-- <ng-container *ngTemplateOutlet="recursiveKeyList; context:{ $implicit: editRowTable.data }"></ng-container> -->
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: editRowTable.data }"></ng-container>
  </tbody>
  <tfoot *ngIf="data?.nzFooter" class="bg-gray-100">
    <tr nz-custom-footer>
      <td nzWidth="40px" *ngIf="data.expandable"></td>
      <td *ngIf="data.showCheckbox" nzWidth="60px"></td>
      <td *ngFor="let header of footerData"> <span *ngIf="header.gridFooterSum"> ({{header.gridFooterSum}})</span> </td>
      <td></td>
    </tr>
  </tfoot>
</nz-table>

<div *ngIf="data.isAddRow">
  <button nz-button (click)="save()" nzType="primary">Save options</button>
</div>
<!-- {{data | json}} -->
<nz-modal [nzWidth]="1400" [(nzVisible)]="isHeaderVisible" nzTitle="Grid Rule" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <st-business-rule-grid [GridType]="GridType" [selectedNode]="_dataSharedService.selectedNode"
      [screenName]="_dataSharedService.screenName" [screenModule]="_dataSharedService.screenModule"
      [nodes]="_dataSharedService.nodes"></st-business-rule-grid>
  </ng-container>
</nz-modal>