<div class="m-1" *ngIf="softIconList.type != 'buttonGroup'">
  <div class={{softIconList.format}}>
    <!-- simple -->
    <button [ngStyle]="{ 'background-color': bgColor }" (mouseover)="bgColor = softIconList?.hoverColor"
      (mouseout)="bgColor = softIconList?.color" [nzType]="softIconList.nztype"
      *ngIf="softIconList.type != 'dropdownButton' && !softIconList.href" nz-button [nzSize]="softIconList.nzSize"
      [disabled]="softIconList.disabled" [nzShape]="softIconList.nzShape" [nzGhost]='softIconList.nzGhost'
      [nzLoading]='softIconList.nzLoading' [nzBlock]='softIconList.nzBlock' [nzDanger]='softIconList.nzDanger'
      (click)="getButtonType(softIconList?.type)"><span *ngIf="softIconList.btnIcon"><app-icon
          [type]="softIconList.iconType" [icon]="softIconList.btnIcon"
          [size]="softIconList?.iconSize"></app-icon></span>
      <span *ngIf="softIconList.title">
        {{softIconList.title}}</span>
    </button>
    <!-- link  -->
    <a nz-button routerLink="/pages/{{softIconList.href}}" nzType="link" [nzGhost]='softIconList.nzGhost'
      [ngStyle]="{ 'background-color': bgColor }" (mouseover)="bgColor = softIconList?.hoverColor"
      (mouseout)="bgColor = softIconList?.color" [nzSize]="softIconList.nzSize" [nzLoading]='softIconList.nzLoading'
      [nzBlock]='softIconList.nzBlock' [disabled]="softIconList.disabled" [nzDanger]='softIconList.nzDanger'
      *ngIf="softIconList.href && softIconList.btnType ==''" [class]='[softIconList.color, softIconList.hoverColor]'
      class="text-white">
      <span><app-icon *ngIf="softIconList.btnIcon" [type]="softIconList.iconType" [icon]="softIconList.btnIcon"
          [size]="softIconList?.iconSize"></app-icon>
        {{softIconList.title}}
      </span>

    </a>
    <a nz-button href="{{url}}/pages/{{softIconList.href}}" nzType="link" [nzGhost]='softIconList.nzGhost'
      [ngStyle]="{ 'background-color': bgColor }" (mouseover)="bgColor = softIconList?.hoverColor"
      (mouseout)="bgColor = softIconList?.color" [nzSize]="softIconList.nzSize" [nzLoading]='softIconList.nzLoading'
      [nzBlock]='softIconList.nzBlock' [disabled]="softIconList.disabled" [nzDanger]='softIconList.nzDanger'
      *ngIf="softIconList.href && softIconList.btnType =='_blank'" target="{{softIconList?.btnType}}" class="text-white"
      class="p-2">
      <span><app-icon *ngIf="softIconList.btnIcon" [type]="softIconList.iconType" [icon]="softIconList.btnIcon"
          [size]="softIconList?.iconSize"></app-icon>
        {{softIconList.title}}
      </span>
    </a>
    <a nz-button nzType="link" *ngIf="softIconList.href && softIconList.btnType =='modal'"
      [ngStyle]="{ 'background-color': bgColor }" (mouseover)="bgColor = softIconList?.hoverColor"
      (mouseout)="bgColor = softIconList?.color" class="text-white" [nzSize]="softIconList.nzSize"
      [nzGhost]='softIconList.nzGhost' [disabled]="softIconList.disabled" [nzLoading]='softIconList.nzLoading'
      [nzBlock]='softIconList.nzBlock' [nzDanger]='softIconList.nzDanger' data-bs-toggle="modal"
      data-bs-target=".bs-example-modal-center" (click)="showModal(softIconList.href)">
      <span>
        <app-icon *ngIf="softIconList.btnIcon" [type]="softIconList.iconType" [icon]="softIconList.btnIcon"
          [size]="softIconList?.iconSize"></app-icon>
        {{softIconList.title}}
      </span>
    </a>
    <!-- dropdown  -->
    <div class="dropdown " *ngIf="softIconList.type == 'dropdownButton'">
      <button [nzType]="softIconList.nztype"
        [ngStyle]="{ 'background-color': bgColor , 'color':softIconList?.textColor }"
        (mouseover)="bgColor = softIconList?.hoverColor" (mouseout)="bgColor = softIconList?.color" class="text-white"
        nz-button nz-dropdown [nzDropdownMenu]="menu" (nzVisibleChange)="change($event)"
        [nzGhost]='softIconList.nzGhost' [nzSize]="softIconList.nzSize" [disabled]="softIconList.disabled"
        [nzLoading]='softIconList.nzLoading' [nzBlock]='softIconList.nzBlock' [nzTrigger]="softIconList.trigger"
        [nzPlacement]="softIconList.placement" [nzClickHide]="softIconList.clickHide" [nzVisible]="softIconList.visible"
        [nzDanger]='softIconList.nzDanger' [nzShape]="softIconList.nzShape">
        {{softIconList.title}} <span class="pl-1" *ngIf="softIconList.btnIcon"><app-icon *ngIf="softIconList.btnIcon" [type]="softIconList.iconType"
            [icon]="softIconList.btnIcon" [size]="softIconList?.iconSize"></app-icon></span>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu *ngFor="let options of softIconList.dropdownOptions">
          <li nz-menu-item>
            <a href={{options.link}}>{{options.label}}</a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <span nz-tooltip *ngIf="softIconList.tooltip" [nzTooltipTitle]='softIconList.tooltip'><span nz-icon
      nzType="question-circle" nzTheme="twotone"></span></span>
</div>
<div *ngIf="softIconList.type == 'buttonGroup' && softIconList.children.length">
  <span nz-tooltip *ngIf="softIconList.tooltip" [nzTooltipTitle]='softIconList.tooltip'><span nz-icon
      nzType="question-circle" nzTheme="twotone"></span></span>
  <div class={{softIconList.btngroupformat}}>
    <nz-button-group>
      <div *ngFor="let item of softIconList.children">
        <!-- simple -->
        <button [ngStyle]="{ 'background-color': bgColor }" (mouseover)="bgColor = item?.hoverColor"
          (mouseout)="bgColor = item?.color" class="text-white" *ngIf="item.type != 'dropdownButton' && !item.href"
          nz-button [nzType]="item.nztype" [nzSize]="item.nzSize" [disabled]="item.disabled" [nzShape]="item.nzShape" [nzGhost]='item.nzGhost'
          [nzLoading]='item.nzLoading' [nzBlock]='item.nzBlock' [nzDanger]='item.nzDanger'
          (click)="getButtonType(item?.type)"><span><app-icon *ngIf="item.btnIcon" [type]="item.iconType"
              [icon]="item.btnIcon" [size]="item?.iconSize"></app-icon></span>{{item.title}}
        </button>

        <!-- link  -->
        <a nz-button routerLink="/pages/{{item.href}}" nzType="link" [nzGhost]='item.nzGhost' [nzSize]="item.nzSize"
          [nzLoading]='item.nzLoading' [nzBlock]='item.nzBlock' [nzDanger]='item.nzDanger' [disabled]="item.disabled"
          *ngIf="item.href && item.btnType ==''" class="text-white" [ngStyle]="{ 'background-color': bgColor }"
          (mouseover)="bgColor = item?.hoverColor" (mouseout)="bgColor = item?.color" class="p-2">
          <span *ngIf="item.btnIcon"><app-icon [type]="item.iconType" [icon]="item.btnIcon"
              [size]="item?.iconSize"></app-icon></span>
          {{item.title}}
        </a>
        <a nz-button href="{{url}}/pages/{{item.href}}" nzType="link" [nzGhost]='item.nzGhost' [nzSize]="item.nzSize"
          [nzLoading]='item.nzLoading' [nzBlock]='item.nzBlock' [nzDanger]='item.nzDanger' [disabled]="item.disabled"
          *ngIf="item.href && item.btnType =='_blank'" target="{{item?.btnType}}" class="text-white"
          [ngStyle]="{ 'background-color': bgColor }" (mouseover)="bgColor = item?.hoverColor"
          (mouseout)="bgColor = item?.color" class="p-2">
          <span *ngIf="item.btnIcon"><app-icon [type]="item.iconType" [icon]="item.btnIcon"
              [size]="item?.iconSize"></app-icon></span>
          {{item.title}}

        </a>
        <a nz-button nzType="link" *ngIf="item.href && item.btnType =='modal'" class="text-white"
          [ngStyle]="{ 'background-color': bgColor }" (mouseover)="bgColor = item?.hoverColor"
          (mouseout)="bgColor = item?.color" [nzSize]="item.nzSize" [nzGhost]='item.nzGhost'
          [nzLoading]='item.nzLoading' [nzBlock]='item.nzBlock' [disabled]="item.disabled" [nzDanger]='item.nzDanger'
          data-bs-toggle="modal" data-bs-target=".bs-example-modal-center" (click)="showModal(item.href)">
          <span *ngIf="item.btnIcon"><app-icon [type]="item.iconType" [icon]="item.btnIcon"
              [size]="item?.iconSize"></app-icon></span>
          {{item.title}}
        </a>
        <!-- dropdown  -->
        <div class="dropdown " *ngIf="item.type == 'dropdownButton'">
          <button [nzType]="item.nztype" [ngStyle]="{ 'background-color': bgColor , 'color':item?.textColor }"
            (mouseover)="bgColor = item?.hoverColor" (mouseout)="bgColor = item?.color" class="text-white" nz-button
            nz-dropdown [nzDropdownMenu]="menu" [nzGhost]='item.nzGhost' [nzSize]="item.nzSize"
            [nzLoading]='item.nzLoading' [nzBlock]='item.nzBlock' [disabled]="item.disabled" [nzDanger]='item.nzDanger'>
            {{item.title}}<span *ngIf="item.btnIcon"><app-icon [type]="item.iconType" [icon]="item.btnIcon"
                [size]="item?.iconSize"></app-icon></span>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu *ngFor="let options of item.dropdownOptions">
              <li nz-menu-item>
                <a href={{options.link}}>{{options.label}}</a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <span nz-tooltip *ngIf="item.tooltip" [nzTooltipTitle]='item.tooltip'><span nz-icon nzType="question-circle"
            nzTheme="twotone"></span></span>
      </div>
    </nz-button-group>
  </div>
</div>


<!-- Modal -->
<nz-modal nzWidth="1000px" [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <app-pages [resData]="nodes" *ngIf="nodes.length"></app-pages>
  </ng-container>
</nz-modal>