.btn-continer{
    position: relative !important;
    order: 2 !important;
}
.img-container{
    position: relative !important;
    order: 1 !important ;
}

@media screen and (min-width: 768px) {
    
    .btn-continer{
        order: 1 !important;
    }
    .img-container{
        order: 2 !important;

    }
}